[2018-02-20 03:46] xxks-kkk opened #1 "Installed Node.js doesn't work"
I typed `node -v` and got `v6.7.0` and then in VS Code, the error message shows `Command 'leetcode.refreshExplorer' not found`.
![screen shot 2018-02-19 at 9 44 24 pm](https://user-images.githubusercontent.com/2559051/36406710-56720f1a-15be-11e8-9f77-d8b9e281f2b0.png)

[2018-02-20 07:46] opjlmi opened #2 "Session expired problem"
Hi, here is the bug

If I login leetcode.com by vscode, and login on chrome same time.
It will show the session expired problem.

<img width="1023" alt="2018-02-20 3 44 58" src="https://user-images.githubusercontent.com/6351593/36412411-09ed6d32-1655-11e8-8f3f-7e0cb4044fcc.png">

[2018-02-21 02:01] jdneo commented on #2
Hi @opjlmi .

Thank you for trying this extension. What you have said is right and I can repro this on my side. But unfortunately, this issue cannot be fixed by the extension for now. Because the LeetCode only allow one active session per account. You can try using two browsers, (or one in common mode, one in incognito mode) both sign in with the same account, you will find as long as one browser

[2018-02-21 02:06] jdneo opened #3 "The explorer status is buggy after hit refresh"
![_20180221100556](https://user-images.githubusercontent.com/6193897/36459476-da560e86-16ee-11e8-8c56-9401d9ed879a.png)

[2018-02-21 02:09] jdneo commented on #1
Hi @xxks-kkk , thank you for the feedback.

Currently the explorer do have some bugs now. But I cannot repro this one: `Command 'leetcode.refreshExplorer' not found`

Could you please provide more information about this?

like the version of vs code, repro steps, etc. 😄

[2018-02-21 02:35] xxks-kkk commented on #1
I'm using Viisual Studio Code Version 1.20.1 (1.20.1). The steps I take roughly like:

- I install plugin directly from the VS Code.
- Once, I installed, I was notified that Node.js was not found from `PATH`.
- So, I installed the node.js and run `node -v` with output `v6.7.0`.
- Then I hit the refresh button of the plugin and the error message reported shows up.

I'm using Mac OSX 10.10.5.

Hope

[2018-02-21 02:39] #3 closed

[2018-02-21 02:43] jdneo commented on #1
@xxks-kkk I see.

Currently, the extension will check the node runtime at the startup.

If user installed Node.js, then it will register related commands, otherwise, it just give a hint and return.

Could you please try to restart the VS Code (or maybe restart your Mac) and see if this issue still occur?

[2018-02-21 02:45] jdneo opened #4 "The show problem command should never show in the command palette"

[2018-02-21 02:46] #4 closed

[2018-02-21 03:11] jdneo opened #5 "able to set the default language preference"
Then no need to select language every time.

[2018-02-22 05:42] Eskibear opened #6 "all problems occur twice in list"
![image](https://user-images.githubusercontent.com/2351748/36522085-5efb9f70-17d5-11e8-8d7b-6f41db46160d.png)

e.g. in above image, `Hard` = [4, 10, 23, ..., 782, 786, **4, 10, 23, ..., 782, 786**]
Tried signing out and in again, it's the same result.

[2018-02-22 08:19] jdneo commented on #6
Great finding! This issue should be fixed in this commit: https://github.com/jdneo/vscode-leetcode/commit/8024c3db00a15c59d7567ab31c685d57cf7aa3fb

[2018-02-22 08:41] #6 closed

[2018-02-23 02:49] jdneo commented on #1
Hi @xxks-kkk Does the problem still occurs?

[2018-02-23 06:39] #5 closed

[2018-02-24 07:06] jdneo opened #9 "The explorer will always show problem as solved as long as user has submitted code"
reason:
Code here: https://github.com/jdneo/vscode-leetcode/blob/master/src/commands/list.ts#L26
didn't differentiate the `✘` and `✔`

[2018-02-24 07:14] jdneo opened #10 "password dialog still pop up when user cancel input user name"

[2018-02-24 07:32] #10 closed

[2018-02-24 07:49] #2 closed

[2018-02-26 01:06] #1 closed

[2018-02-26 01:07] jdneo commented on #1
@xxks-kkk please feel free to reopen this issue if it still blocks you.

[2018-02-26 03:48] jdneo opened #12 "No error hint when switch session if session expired"

[2018-02-26 05:08] #12 closed

[2018-02-26 05:23] #9 closed

[2018-03-04 23:39] karangoel16 opened #15 "I could not find leetcode:test"
If possible please add Test module in your plugin as well, this will be of real help.

[2018-03-05 04:03] jdneo commented on #15
@karangoel16 Yes, actually I'm also thinking to add this.

The problem is about the experience.

My idea is:
1. User writes test case into a txt
2. User triggers the test command
3. Extension asks user to select the test case file
4. Extension uploads the test case and shows the result

What do you think? Please feel free to provide your ideas.  😄

[2018-03-05 05:44] karangoel16 commented on #15
I like the idea, but as leetcode-cli works, we can make it work for user given test case.

[2018-03-05 05:49] jdneo commented on #15
@karangoel16 Yes, that's actually what I'm saying. User can write their own test cases into a file, and we upload this file.
As long as the user know the format for test cases.

I guess we are in consensus, right?

[2018-03-05 05:58] jdneo commented on #15
@karangoel16 Sorry, just take a look at the cli usage. Do you mean besides the user writen test case, also provide the default test case as well?

[2018-03-05 06:03] karangoel16 commented on #15
leetcode test 378.kth-smallest-element-in-a-sorted-matrix.cpp -t '[[1,5,9],[10,11,13],[12,13,15]]\n8'

user can paste this '[[1,5,9],[10,11,13],[12,13,15]]\n8' in command section and following would run like it runs with the normal leetcode test scenario.

[2018-03-05 06:07] jdneo commented on #15
Make sense, this will be more straightforward way for simpler cases.

Thanks for the feedback, I'll implement this feature these days.

[2018-03-05 12:21] #15 closed

[2018-03-05 12:33] jdneo commented on #15
New version released. Please try it out 🎉

[2018-03-06 11:34] jdneo opened #17 "Save file before user triggering test command"

[2018-03-06 11:34] jdneo opened #18 "Simplify the test command"
test current file -> test

[2018-03-12 03:09] jdneo opened #20 "Support locked problem"
To show the locked problem, users need to set the `leetcode.showLocked` to true.

[2018-03-12 03:11] #20 closed

[2018-03-12 05:25] #18 closed

[2018-03-12 13:12] #17 closed

[2018-03-19 05:30] jdneo opened #24 "User can submit code from explorer"
Using "explorer/context" in "menu" section should work

[2018-03-19 05:33] jdneo opened #25 "Add "sign in" action button on the explorer title"

[2018-03-19 05:34] jdneo opened #26 "User can trigger "test" from explorer"
Similar from #24

[2018-03-19 07:52] jdneo opened #27 "Thrink the extension size"
Currently, the gif is packaged into the *.vsix.

We can use the absolute path for the images, like: https://raw.githubusercontent.com/jdneo/vscode-leetcode/master/resources/gif/searchproblem.gif

Then no need to package them into the vsix any more

[2018-03-19 10:48] #26 closed

[2018-03-20 05:33] jdneo opened #31 "Use vscode-nls package"

[2018-03-20 05:38] #27 closed

[2018-03-27 13:52] sinharaksh1t opened #34 "found an error when "<function-cli-module-path>" contains whitespaces in it"

[2018-03-28 01:51] jdneo commented on #34
Thanks for reporting the bug.

We should be careful with the path that contains whitespaces. 😄

[2018-03-28 01:53] #34 closed

[2018-05-23 04:59] jdneo opened #37 "Support trigger test & submit in the editor"

[2018-05-25 05:11] jdneo opened #39 "Move LeetCode explorer into activity bar"

[2018-05-25 06:46] #37 closed

[2018-05-28 06:00] jdneo opened #41 "[ERROR] http error [400]"
The 2.5.1 version of leetcode-cli is broken due to this issue: https://github.com/skygragon/leetcode-cli/issues/100

Need wait for the new release of leetcode-cli.

[2018-05-29 02:32] #41 closed

[2018-06-08 06:56] #25 closed

[2018-06-20 03:51] jdneo opened #43 "Add spinner into the status bar when extension is testing/submitting code"

[2018-06-30 21:49] Allen-Zfu opened #44 "login issue"
I got the issue blow.
SyntaxError: Unexpected end of input
    at Object.parse (native)
    at Object.cache.get (C:\Users\afu\.vscode\extensions\shengchen.vscode-leetcode-0.6.1\node_modules\leetcode-cli\lib\cache.js:17:15)
    at Function.__dirname.Plugin.deps.deps.Plugin.init.plugins [as init] (C:\Users\afu\.vscode\extensions\shengchen.vscode-leetcode-0.6.1\node_modules\leetcode-cli\lib\plugin.js

[2018-07-02 01:41] Allen-Zfu commented on #44
hi，

Actually i have never login successfully, each time i type username and password, i goy this issue.

thanks,

Sent from my iPhone

On Jul 1, 2018, at 9:28 PM, Sheng Chen <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @Allen-Zfu<https://github.com/Allen-Zfu>,

Thank you for your feedback. Could this problem be stable reproduced? If yes, could you please tell me the repr

[2018-07-02 01:53] jdneo commented on #44
I see. the plugin is using leetcode-cli as the back-end. If you cannot login through the plugin, could you please try login with leetcode-cli directly? The steps are:

1. Install leetcode cli: `npm install -g leetcode-cli`
2. `leetcode user -l`

[2018-07-12 05:57] jdneo commented on #44
Hi @Allen-Zfu. Does this issue still occur?

[2018-07-18 03:51] dreameeggs opened #45 "能登录中文版的码？"

[2018-07-18 04:47] jdneo commented on #45
@dreameeggs 目前还不支持。

[2018-07-24 08:37] jdneo opened #47 "Support WSL"

[2018-07-24 08:39] jdneo opened #48 "Abstract leetcode command"

[2018-07-24 08:40] #47 closed

[2018-07-24 10:35] #45 closed

[2018-07-25 03:08] sunznx opened #49 "登录不上"
/Applications/Visual Studio Code.app/Contents/Resources/app/out/vs/workbench/workbench.main.js:2844 [shengchen.vscode-leetcode]This socket has been ended by the other party

/Applications/Visual Studio Code.app/Contents/Resources/app/out/vs/workbench/workbench.main.js:2844 Error: This socket has been ended by the other party
	at Socket.writeAfterFIN [as write] (net.js:305:12)

[2018-07-25 05:07] jdneo commented on #49
The plugin is using leetcode-cli as the back-end. If you cannot login through the plugin, could you please try login with leetcode-cli directly? The steps are:

1. Install leetcode cli: `npm install -g leetcode-cli`
2. `leetcode user -l`

[2018-07-26 10:33] sunznx commented on #49
我用 leetcode-cli 来操作是可以的，感觉是 vscode 的 bug

[2018-07-26 13:30] Xeonacid opened #50 "Support leetcode-cn"
[LeetCode 中国](https://leetcode-cn.com/) is the Chinese version of LeetCode. It provides a more comfortable experience for Chinese users, I think.

However, data of the universal version and the Chinese version of LeetCode is not shared. If we want, we have to sync them manually. So can we choose which version to use? 😃

Thanks!

BTW, I have learned that this extension is based on the [leetcode-cli

[2018-07-26 13:47] Xeonacid commented on #50
duplicate, sorry for annoying

[2018-07-26 15:21] sunznx commented on #49
网络问题 - -

[2018-07-26 15:21] #49 closed

[2018-07-27 01:33] jdneo commented on #50
@Xeonacid I've received a lot of feedbacks about the `LeetCode China`. I think we can open an issue at the `leetcode-cli` and vote for it. Or even we can contribute for it.

Anyway, open an issue first is a good start I think.

[2018-07-27 01:45] Xeonacid commented on #50
@jdneo I have found something below

https://github.com/skygragon/leetcode-cli/issues/93

https://github.com/skygragon/leetcode-cli-plugins/blob/master/plugins/leetcode.cn.js

I think these will be helpful...

[2018-07-27 02:12] jdneo commented on #50
@Xeonacid Cool. Let me take a look.

[2018-07-28 03:24] zunlihu opened #51 "unexpected syntax errors"
When I open a problem in C++, it cannot identify vector, unordered_map...
In this way, I have to include all all I need in this program，e.g.  #include <vector>
Although it can succeed to submit to leetcode, it is a little troublesome...
![image](https://user-images.githubusercontent.com/21325921/43352486-f272563a-9256-11e8-9f15-7e349633694a.png)

[2018-07-30 00:55] jdneo commented on #51
So you also installed c++ extension, right?

[2018-07-30 04:25] #51 closed, assigned to nobody

[2018-07-30 05:56] jdneo opened #52 "LeetCode 0.8.0 feature plan"
- [x] Support WSL
- [x] Support leetcode.cn

[2018-07-30 07:34] yangjax opened #53 "how can i sign in leetcode?"
the user name and passwd is ?

[2018-07-30 07:40] jdneo commented on #53
@yangjax It's just the same as your `https://leetcode.com` account

If you are a user of `https://leetcode-cn.com/`. Currently the extension not supports it yet. But we will add this support in the next release.

[2018-08-06 10:12] jdneo opened #54 "The path of leetcode binary is wrong when switch between enable/disable wsl."
This is because https://github.com/jdneo/vscode-leetcode/blob/master/src/shared.ts#L7 is never updated according to the setting.

[2018-08-08 02:01] jdneo commented on #53
Hi @yangjax. Please let me know if you have problems to sign in to LeetCode in the extension.

[2018-08-09 01:31] jdneo commented on #50
@zouyonghao Yes, I'm planning to add that plugin into the extension too. Will support leetcode.cn in next release.

[2018-08-09 12:28] #48 closed

[2018-08-09 12:28] #54 closed

[2018-08-09 14:13] LikeSundayLikeRain opened #56 "Does it support auto login"
I know it's available in leetcode-cli, does it available in this plugin as well ?

[2018-08-10 00:01] jdneo commented on #56
@LikeSundayLikeRain Yes as long as the session is still valid. The experience should be the same as leetcode-cli.

[2018-08-14 09:53] jdneo commented on #50
@Xeonacid @zouyonghao Can you submit solution to leetcode-cn using leetcode-cli? From my side I'm always getting `[ERROR] session expired, please login again [-1]`.

[2018-08-14 10:16] zouyonghao commented on #50
@jdneo It seems there is a bug in leetcode.cn plugin, I have submit a pull request here
https://github.com/skygragon/leetcode-cli-plugins/pull/19/files

[2018-08-14 11:57] jdneo commented on #50
@zouyonghao Cool. Let's have some discussion there.

[2018-08-15 09:49] SkyLin0909 opened #59 "如何在show problem时，读取本地文件，而不是新建一个？"
![image](https://user-images.githubusercontent.com/20888672/44142674-816bef8a-a0b3-11e8-99be-05f386798e7f.png)

[2018-08-15 11:18] jdneo commented on #59
不太确定我有没有正确理解的你的问题。

你可以试试在VS Code里，点击`File` > `Open Folder...`， 然后选择目标文件夹（默认情况下所有题目会存储在`$HOME/.leetcode/`），这个时候你就可以在VS Code里看到所有文件了。

![image](https://user-images.githubusercontent.com/6193897/44145903-dd08c87a-a0bf-11e8-871d-db2c14ad1ee8.png)

[2018-08-17 09:29] zouyonghao commented on #50
@jdneo That's cool, appreciate your working.

[2018-08-18 08:37] #52 closed

[2018-08-18 08:38] jdneo commented on #50
@all

LeetCode for VS Code 0.8.0 has been published in marketplace. Please have a try.

[2018-08-18 08:38] #50 closed

[2018-08-18 08:39] jdneo commented on #45
@dreameeggs

LeetCode for VS Code 0.8.0 has been published in marketplace. Please have a try.

[2018-08-18 11:45] Xeonacid commented on #50
@jdneo Thanks! Good job! 👍
What about show Chinese problem name at the Problem Set when using leetcode-cn?

[2018-08-18 12:12] jdneo commented on #50
Haha, that could be a useful feature. Let’s tracking on that.

[2018-08-19 12:04] Licheng-Xu opened #60 "The test cases cannot have quotes (")"
尝试使用 "00000" 或者 \"00000\" 都不行

[2018-08-20 02:46] jdneo commented on #60
Hi @Licheng-Xu

可以提供一下题号吗？

[2018-08-23 01:37] cutpictureboy opened #62 "Support third-party login, for example: Login through GitHub"
如题

[2018-08-23 01:44] jdneo commented on #62
目前还不支持

[2018-08-23 06:34] Holybasil opened #63 "login username issue"
I'm allowed to sign in with `holybasil` rather than `Holybasil` while my username of LeetCode is `Holybasil`

[2018-08-23 07:03] nomoreplay opened #64 "Even though I have logged in, it still returns an error."
[ERROR] session expired, please login again [-1]

not able to test or commit.

[2018-08-23 07:09] jdneo commented on #64
Are you use LeetCode or LeetCode-cn?

[2018-08-23 07:15] nomoreplay commented on #64
I have account in both these two sites. They share the same username.

[2018-08-23 07:29] nomoreplay commented on #64
I’ve re-login many times, when I test or summit, it returns this error.

[2018-08-23 07:35] jdneo commented on #64
OK.

Could you please do the following to help troubleshooting:
1. Will this issue still occur if you trigger the clean cache command? Enter `F1` and then find `leetcode.deleteCache`
2. Will this issue still occur if you use the [leetcode-cli](https://skygragon.github.io/leetcode-cli/) directly?

[2018-08-23 13:42] nomoreplay commented on #64
Problem solved. I toggle on the activity bar in vscode and login either leetcode or leetcode-cn. And I can commit right now.Thanks.

[2018-08-23 13:42] #64 closed

[2018-08-24 01:07] jdneo commented on #63
Hmm, looks wired. Will you be blocked if you sign in with `Holybasil`?

[2018-08-24 01:08] jdneo commented on #56
@LikeSundayLikeRain

I'm closing this issue for now. Please feel free to reopen it or create a new issue if you have further questions.

Thanks.

[2018-08-24 01:08] #56 closed

[2018-08-24 02:19] Holybasil commented on #63
@jdneo Yes, but it is fine now😂

[2018-08-24 04:13] #63 closed

[2018-08-26 08:11] Licheng-Xu commented on #60
不好意思，这几天忙着其他事情了。

题号：[13]
[Roman to Integer](https://leetcode.com/problems/roman-to-integer/description/)

选择直接输入测试样例，输入 "LVIII"，之后返回了

[2018-08-31 08:29] cc189 opened #65 "TypeError: Cannot read property 'id_hash' of undefined"
[code]

[2018-09-01 05:12] jdneo commented on #60
@Licheng-Xu It looks like a bug. Thank you for the feedback. 👍

[2018-09-20 15:50] oceanlvr opened #66 "SyntaxError: Unexpected string in JSON at position 27"
I can't log in.
need your help.
v8.12.0
undefined:1
{"cache":true,"retry":true}"leetcode.cn":true}
                           ^

SyntaxError: Unexpected string in JSON at position 27
    at JSON.parse (<anonymous>)
    at Object.cache.get (C:\Users\oyx\.vscode\extensions\shengchen.vscode-leetcode-0.8.0\node_modules\leetcode-cli\lib\cache.js:17:15)
    at Function.Plugin.init (C:\Users\oyx\.vscode\

[2018-09-20 15:52] oceanlvr commented on #66
@jdneo  Could you please tell me what wrong with it?  thx for your patience. 👍 👍 👍

[2018-09-20 16:00] oceanlvr commented on #66
and I try to log with leetcode-cil directly. By using the command:

leetcode user -l

 It occurs the same error. And I have no idea what happened.

[2018-09-21 01:49] jdneo commented on #66
@oceanlvr Hmm, What's your target login endpoint? Is it `leetcode` or `leetcode.cn`?

[2018-09-21 01:54] oceanlvr commented on #66
Thx for your reply.  And I want to log in  **leetcode**
But when I change the endpoint.
An error comes out.

Failed to delete cache. Please open the output channel for details.

[2018-09-21 02:00] oceanlvr commented on #66
![image](https://user-images.githubusercontent.com/36698124/45855946-095a1a00-bd85-11e8-8691-a7f7491cbbd9.png)
@jdneo

[2018-09-21 02:10] jdneo commented on #66
@oceanlvr Ok. Looks like the json format is wrong. Could you please try to find this file: `C:\Users\[username]\.lc\plugins.json`. And open it.

From your error looks, it looks like the json is wrong: `{"cache":true,"retry":true}"leetcode.cn":true}`.

Try to change it to `{"cache":true,"retry":true,"leetcode.cn":true}` and to see if this could help.

[2018-09-21 02:50] oceanlvr commented on #66
@jdneo  Thank you!  I Successfully login.:smile::smile::smile:

[2018-09-21 02:53] jdneo commented on #66
@oceanlvr Great. Not quite sure if this is a bug for leetcode-cli. 😄

[2018-09-21 02:53] #66 closed

[2018-09-28 16:44] unidentifiedme commented on #44
@jdneo
I ran into login issue too.

By inspecting the request this extension made, I found that the endpoint is "leetcode-cn.com" instead of "leetcode.com" while I leaved the "Switch endpoint" unchanged at "Off". By the way, I tried the leetcode-cli you mentioned, and I found the exact same behavior with its default settings.

My solution is to "Switch endpoint" back and forth, and it just worked.

[2018-09-29 01:46] jdneo commented on #44
@unidentifiedme

Yes, I found several users encountered this same issue. Not sure who to blame now. 😞

[2018-10-07 09:31] luoye2017 opened #67 "support lable search ，for example array，map ，greedy algorithms"
rt

[2018-10-09 09:52] SkyLin0909 opened #68 "可以登录，但是不能展示题目"
[ERROR] Not supported language "javascript" [0]
[WARN] Supported languages:  mssql   mysql   oraclesql

[2018-10-09 09:56] #68 closed

[2018-10-09 15:50] taoweicn commented on #59
我觉得在点击show problem时先判断一下本地有没有文件再来决定打开本地文件（如果本地有）或者拉取题目（如果本地没有）这样好一点，因为这样可以看到之前的草稿或者提交的答案

[2018-10-10 01:44] jdneo commented on #59
@taoweicn This is a good suggestion.

@SkyLin0909 Do you mean to make the extension work as @taoweicn said?

[2018-10-10 02:50] SkyLin0909 commented on #59
@jdneo yes

[2018-10-10 05:36] jdneo commented on #53
Closing since no more reply for a long time.

[2018-10-10 05:36] #53 closed

[2018-10-10 05:37] jdneo commented on #44
Closing since no more reply from the issue creator for a long time.

[2018-10-10 05:37] #44 closed

[2018-10-10 09:14] taoweicn opened #69 "Can this plugin show the latest submission when clicking `show problem` button and there is no local file?"
As the title says, it's an extension of the [issue 59](https://github.com/jdneo/vscode-leetcode/issues/59).
If this logic is complicated, it's better to add a `show latest submission` button.

[2018-10-13 03:41] Allen-Zfu opened #70 "Login issue"
Hi ,
I got "socket hang up" error when I login. Any idea how to avoid this?

thanks

[2018-10-13 03:42] Allen-Zfu commented on #70
I got the following message.
v5.4.1
 Active  Name               Version         Desc
----------------------------------------------------------------------------------------------------
   √     cache              default         Plugin to provide local cache.
   √     retry              default         Plugin to retry last failed request if autologin.enable is on.
   ×     leetcode.cn        2018

[2018-10-15 03:10] zssasa opened #71 "node已经在路径了，但是安装不正确"
windows7环境
vscode: 1.28.0
![image](https://user-images.githubusercontent.com/11346619/46927995-ed3b5700-d06a-11e8-9c52-2dea7a2c01c6.png)
提示 LeetCode extension needs Node.js installed in environment path

[2018-10-15 05:59] jdneo commented on #71
What if you close the VS Code and start it again?

[2018-10-16 02:49] zssasa commented on #71
It's not working.

[2018-10-16 03:03] jdneo commented on #71
@zssasa Is there any output in the output panel in VS Code?

[2018-10-16 03:09] zssasa commented on #71
重启电脑ok了 - -

[2018-10-16 03:09] #71 closed

[2018-10-16 17:20] Allen-Zfu commented on #70
Yes. After a day, it is working again. Thank you for checking that.

[2018-10-16 17:20] #70 closed

[2018-10-27 11:05] YYYYWD opened #72 "能否添加自动登陆功能"
每次都打账号好麻烦噢。。

[2018-10-27 21:30] belovedred1892 opened #73 "failed to load locked problem! [0]"
failed to load locked problem! [0]
when even I have signed in a premium account
was searching/click question:
Two Sum III - Data structure design

[2018-10-28 13:06] jdneo commented on #73
@belovedred1892 Will it help if you delete the cache? You can find the command in the command palette.

[2018-10-28 13:08] jdneo commented on #72
@YYYYWD  其实是自动登录的，但是因为LeetCode网站有限制，只要再别处登录之后，之前的session就会被撤销。

[2018-11-05 05:59] belovedred1892 commented on #73
This problem still exist after delete cache.............

[2018-11-09 09:39] labulaka521 opened #74 "Power operator displays in a wrong way"
![](https://ws1.sinaimg.cn/large/005Oh4GZly1fx1y99qxiij31a004sq40.jpg)
![](https://ws1.sinaimg.cn/large/005Oh4GZly1fx1y99r9v7j30s405u0tj.jpg)
pow will change
i think you could instend `^`

[2018-11-09 10:02] jdneo commented on #74
This might be caused by the leetcode-cli, the text is wrongly parsed.

[2018-11-09 10:07] jdneo commented on #73
@belovedred1892

Found a root cause issue here: https://github.com/skygragon/leetcode-cli/issues/91

Looks like I need to update the cli version to resolve the problem.

[2018-11-09 13:53] labulaka521 commented on #74
oh..thanks you, but fortunately, it has little effect on me

[2018-11-12 18:39] belovedred1892 commented on #73
Thanks for the investigation!

[2018-11-15 07:36] jdneo commented on #73
On vacation these days. Will prepare the new release when I get back. Thanks

[2018-11-15 08:41] belovedred1892 commented on #73
Enjoy your vacation! Wait for your back

[2018-11-23 09:03] LiuLiC commented on #60
Hi @jdneo , looks like the bug happened because in test.ts: when we get the test string, we replace /" and /g with "", which drops quotes. Thus in leetcode, it can't recognize the input as a string.

[2018-11-25 20:05] ismailhkose commented on #73
I also have a similar problem.
settings.json have the following definition, but it still doesn't work.
`"leetcode.showLocked": true`

Thanks @jdneo

[2018-11-26 02:00] jdneo commented on #73
Hi all,

I'm back from the vacation and will work on a new release this week. Sorry for the late reply...

[2018-11-29 02:32] jdneo commented on #73
I tested the leetcode-cli@2.6.0

But I cannot submit answer on Windows, though I can achieve that on Mac.

See the original issue here: https://github.com/skygragon/leetcode-cli/issues/134

Does anyone has the same issue as mine?

[2018-11-29 03:12] belovedred1892 commented on #73
I haven't tried submitted answer directly from VS code

[2018-11-29 03:20] jdneo commented on #73
Can it work using cli directly with version 2.6.0?

[2018-11-29 07:19] jdneo commented on #60
@LiuLiC Yeah, I know that. Because I remember that there is a problem is we do not do the replacement.

Not quite sure how the current status is. PR is welcome if you are willing to fix this. 😄

[2018-11-30 03:48] belovedred1892 commented on #73
Try a previous version in CLI? 2.5.4

[2018-12-03 02:55] akaroml commented on #69
+1

The following entries make sense to me:
- Show Recent Submissions
- Create New Submission

[2018-12-05 07:08] Joeyzhou5566 opened #75 "如何更換編輯語言?"
show problem後都是預設C# .cs檔
要怎麼換成C or Java的題目?

[2018-12-06 07:50] jdneo opened #76 "Using webview to show the result"

[2018-12-06 07:52] jdneo commented on #75
@Joeyzhou5566 Is your problem solved?

[2018-12-06 08:47] Joeyzhou5566 commented on #75
以解決, 非常感謝!!

[2018-12-06 08:59] #75 closed

[2018-12-09 05:36] belovedred1892 commented on #73
Woooow~~  This problem is fixed now, Thanks so much for the fabulous work

[2018-12-09 05:37] #73 closed

[2018-12-18 18:19] jie-feng commented on #68
I have the same issue for python3. How did you solve this issue? Thanks

[2018-12-21 01:52] jdneo opened #77 "Use webpack to improve the performance"

[2018-12-21 14:09] LightingX opened #78 "Can not successfully login."
I have input the username "LightingX" and the correct password, but it doesn't work, why?
the feedback is at list.

[2018-12-22 06:06] jdneo commented on #78
@LightingX Are you using the right endpoint? We have two endpoint now:
- LeetCode
- LeetCode.cn

[2018-12-22 08:35] jdneo commented on #74
Trying to send a [PR](https://github.com/skygragon/leetcode-cli/pull/144) to fix this...

[2018-12-22 15:14] LightingX commented on #78
So, how could I switch the endpoint? the command "Switch endpoint" doesn't exist.

[2018-12-23 14:02] wymcloud opened #79 "windos版 vscode 登录报错"
SyntaxError: Unexpected string in JSON at position 14
    at JSON.parse (<anonymous>)
    at Object.cache.get (C:\Users\wym\.vscode\extensions\shengchen.vscode-leetcode-0.8.1\node_modules\leetcode-cli\lib\cache.js:16:15)
    at Function.Plugin.init (C:\Users\wym\.vscode\extensions\shengchen.vscode-leetcode-0.8.1\node_modules\leetcode-cli\lib\plugin.js:86:23)
    at initPlugins (C:\Users\wym\.vscod

[2018-12-23 14:06] wymcloud commented on #79
之前 在ubuntu上好使

[2018-12-24 01:19] jdneo commented on #78
Could you see any logs in the output channel?

[2018-12-24 04:00] wymcloud commented on #79
能加一下微信或者QQ吗

[2018-12-25 05:18] labulaka521 commented on #74
thanks you very much

[2018-12-26 21:28] WeijieH opened #80 "增加一键下载功能"
如题, 能不能添加一个一键下载所有(当前session)题目的功能?

[2019-01-02 05:59] Dye8 opened #82 "sign in 时报错,不能登陆"
[code]

[2019-01-02 06:07] Dye8 commented on #82
signin 能正常弹出输入用户名的对话框,但是回车后就没反应了.
上面的日志是在signin的时候输出的,不是在回车的时候.

[2019-01-02 06:16] jdneo commented on #82
删除`$HOME/.lc`能解决问题吗？

[2019-01-02 06:42] Dye8 commented on #82
删除 `$home/.lc` 好像不管用
我升级了一下node.js 好了

[2019-01-02 06:46] Dye8 commented on #82
但是现在有个新问题
我用户名和密码都是正确的,不知道为什么登陆不上
[code]

[2019-01-02 06:49] jdneo commented on #82
OK  可能你之前的node版本过低 不支持`{}`语法。

登陆不上的问题，你看一下你用的是不是leetcode.cn的账户，这个插件默认是用的leetcode.com。这两个用户系统不通用。

如果确实是这样的话，可以`switch endpoint` 切换到cn

[2019-01-02 07:05] Dye8 commented on #82
好了 完美解决 感谢
升级前`node.js`版本是`v5.4.1`  (捂脸
登陆不上的确是因为`switch endpoint` 以为那个红点是中国

[2019-01-02 07:05] #82 closed

[2019-01-02 07:08] jdneo commented on #82
@Dye8 这个图标是没设计好，后面要改改

[2019-01-03 01:22] Airtnp opened #83 "Add rust support?"
https://leetcode.com/discuss/general-discussion/136640/Rust-support/208982

[2019-01-03 02:01] jdneo commented on #83
Rust has been added in the leetcode-cli but the new version has not been released.

Will add it when it gets released.

[2019-01-06 08:43] jdneo opened #84 "Cannot auto refresh the tree-node when switching the endpoint"

[2019-01-06 08:45] jdneo opened #85 "The icon for switching endpoint is confusing"

[2019-01-06 08:51] jdneo commented on #84
dup with #72

[2019-01-06 08:51] #84 closed

[2019-01-06 08:59] #72 closed

[2019-01-09 14:53] maywzh opened #88 "Failed to get submission beat ratio"
After submit my solution to leetcode, I can get the score without beat ratio.
Got the message: " [WARN] Failed to get submission beat ratio. "

[2019-01-13 09:12] #76 closed

[2019-01-17 14:32] taoweicn opened #91 "Refresh the explorer after submitting"
In the list of problems, this plugin will show the latest submission's status, however, the latest submission may not be accepted while previous submission has been accepted, I suggest that once a submission has been accepted, the status of the problem should show ✅.

[2019-01-18 01:37] jdneo commented on #88
Will investigate...

[2019-01-18 01:38] jdneo commented on #91
Let me check if it is possible to refresh the explorer whenever the user submitted his answer.

[2019-01-21 10:52] #85 closed

[2019-01-22 10:53] Vigilans commented on #67
Would be better if we can list the problems by tag in the problem view.
The current `Easy-Medium-Hard` convention seems not fully making use of the problem view space.

[2019-01-22 11:53] RybinLi opened #93 "Sending code to judge [ERROR] http error [code=404]"
可以登录，但是在测试和提交时报错
Sending code to judge
[ERROR] http error [code=404]

电脑的网络是可以正常上网的。

[2019-01-22 13:22] jdneo commented on #93
请提供以下信息:
- 题号
- 使用的是国内版还是国外版
- 清空缓存是否有用？可以通过插件自带的命令清空缓存

[2019-01-23 08:16] taoweicn opened #95 "Hide solved problems"
How about adding an option to show/hide the solved problems, every time it takes me some time to scroll to the unsolved problems.

[2019-01-23 08:21] taoweicn commented on #88
I got the same issue several days ago, it was caused by leetcode's site upgrade and is normal now.

[2019-01-23 09:41] jdneo commented on #76
@taoweicn

Hmm, That's a good question. The original implementation is to save the output into a file called `.Result`, so you can see the previous result by entering `command + z`.

But this may cause other problems, for example, if a user edits the `.Result` file unintentionally and doesn't save his change, then the result file could never be updated. This is the behavior of VS Code and we could

[2019-01-23 09:42] jdneo commented on #88
@taoweicn Thank you for the information.

@maywzh Could you please confirm that this issue still occurs on your side？

[2019-01-23 09:43] jdneo commented on #95
Yes, I think that's a valid feature request.

[2019-01-23 10:32] maywzh commented on #88
@jdneo thanks, It's normal now

[2019-01-23 10:57] #88 closed

[2019-01-24 09:31] Vigilans opened #96 "New features wishlist"
- [ ] When clicking the problem node, create a webview panel with problem description.
This feature could be implemented with `leetcode-cli show -x` command.

- [ ] Add/Remove favorite problem from right-click context menu.
Could be implemented by `leetcode-cli star` command.

- [ ] Show most voted solution in a webview panel from right-click context menu.
Could be implemented by `leetcode-cli sho

[2019-01-24 10:54] jdneo commented on #96
@Vigilans Great work! All of these features are very useful from my perspective.

[2019-01-25 03:31] taoweicn commented on #96
Consider these?
#59 #69

[2019-01-25 11:19] RybinLi commented on #93
题号：容易001
该插件只能登陆英文官网的账号，所以登陆的是国外版
清空缓存后，还是报一样的错误。

[2019-01-26 03:33] Vigilans commented on #96
@taoweicn most of the `leetcode.com` relative features are implemented based on `leetcode-cli`, I'm not sure whether `show the latest submission` feature is implemented there.

Since I am participating in MCM contest these days(25-29), I might not be able to quickly response the issues...after finishing the contest, I will look into all these features.

[2019-01-27 03:15] jdneo commented on #93
@RybinLi 我这里没有问题
<img width="999" alt="screen shot 2019-01-27 at 11 13 45 am" src="https://user-images.githubusercontent.com/6193897/51795851-b9a0c900-2224-11e9-8c32-67e8cc026de8.png">
该插件时支持国内版账号的。需要切换endpoint。

建议重新打开一个新的001题目文件，再尝试提交看看

[2019-02-02 05:59] jdneo commented on #95
Resolved in #94

[2019-02-02 05:59] #95 closed

[2019-02-03 15:58] zhongyuchen opened #101 "[ERROR] Error: socket hang up"
点击提交代码后，一直在等，最后也没提交上去，显示这个错误
- Sending code to judge
[ERROR] Error: socket hang up

[2019-02-04 01:20] ddzy commented on #101
应该是vscode的网络问题, 我的根本没法登录

[2019-02-04 02:47] jdneo commented on #101
@zhongyuchen @ddzy 好像之前也有用户遇到类似的情况，试试看切换一下endpoint看看？

具体的操作步骤在这里：https://github.com/jdneo/vscode-leetcode/blob/master/docs/README_zh-CN.md#%E5%88%87%E6%8D%A2-leetcode-%E7%89%88%E6%9C%AC

[2019-02-04 04:43] ddzy commented on #101
thks, 已解决, 切换到中文版就行了

[2019-02-04 05:21] kamasylvia opened #102 "[登录] 第三方登录"
能支持第三方登录吗, 我用的Github账户注册的Leetcode.

[2019-02-04 05:35] sohaha opened #103 "Add PHP support"
目前 leetcode 是支持 php 的了，能否考虑加上？
（不加其实也没事，估计也没 写 php 的会用吧🙅‍♂️，逃）

[2019-02-04 06:23] #102 closed, assigned to nobody

[2019-02-04 07:44] zhongyuchen commented on #101
我登陆的是中文版账号，但是重启又可以用了.
emmmm

[2019-02-04 07:45] #101 closed

[2019-02-06 06:25] dumplingslove opened #104 "When try "Test in LeetCode" using customized test case, judge failed due to wrong data contract."
Input data:
'12'

Actual
  √ runtime: 84 ms
  × answer: 2
  √ stdout: ''

Expected
  × Runtime Error
  × runtime: N/A
  × answer:
  × stdout: ''
  × error: Line 36: ValueError: No JSON object could be decoded
  × error: ValueError: No JSON object could be decoded
    raise ValueError("No JSON object could be decoded")
Line 382 in raw_decode (/usr/lib/python2.7/json/decoder.py)
    obj, end = self.

[2019-02-06 06:31] dumplingslove opened #105 "Cannot retrieve time and memory result"
√ Accepted
  √ 258/258 cases passed (88 ms)
[WARN] Failed to get submission beat ratio.

[2019-02-07 07:13] jdneo commented on #104
@dumplingslove What's the number of the problem?

[2019-02-07 07:15] jdneo commented on #105
@dumplingslove What's the endpoint are you using? `leetcode` or `leetcode-cn`? Do you still have the issue on your side?

[2019-02-07 07:34] jdneo commented on #105
Related issue: https://github.com/skygragon/leetcode-cli/issues/156

[2019-02-07 16:13] hongzzz commented on #80
同有这个需求~

[2019-02-07 19:42] chinazhaghai opened #106 "[ERROR] http error [code=404]"
1. 题号： 简单001
2. 国内账号
3. 已清除缓存，提交依旧404

[2019-02-07 23:23] EdXsuperhero commented on #106
met the same prob as well.

[2019-02-07 23:25] EdXsuperhero commented on #106
rather than the 001, other problems can not be sanded to judge as well.

[2019-02-08 06:31] xinzhige opened #107 "Tag can't show all the problems"
For example, in the graph tag, it only shows 9 questions but leetcode has 21.

[2019-02-08 06:46] dumplingslove commented on #104
@jdneo Thanks for your reply! You can try question #91, i believe all string test case will get this error. I tried "12", '12' and '"12"', none of them can work.

[2019-02-08 06:47] dumplingslove commented on #105
Thanks for the checking.

[2019-02-09 01:23] Allen-Zfu opened #108 "command 'leetcode.signin' not found"
Hi,
Sometimes, I always got this error. command 'leetcode.signin' not found
I am connecting with US leetcode.

Thanks,

[2019-02-09 01:25] wgqimut commented on #88
Actually I have the same issue again. @jdneo

[2019-02-09 05:22] taoweicn commented on #88
See #105 @wgqimut

[2019-02-09 05:56] jdneo commented on #106
@chinazhaghai @EdXsuperhero

Please try to [switch the endpoint](https://github.com/jdneo/vscode-leetcode#switch-endpoint) to make sure you are using the right one.

The accounts of the global and Chinese version of LeetCode are not shared.

[2019-02-09 05:58] jdneo commented on #104
Dup with #60

[2019-02-09 05:58] #104 closed

[2019-02-09 06:00] jdneo commented on #108
@Allen-Zfu Make sure the following requirements are satisfied:
1. VS Code version > 1.23.0
2. Node.js version > 8.

[2019-02-09 12:10] jdneo commented on #78
Close because inactive for a long time.

[2019-02-09 12:10] #78 closed

[2019-02-09 13:07] jdneo commented on #74
PR gets merged, waiting for the new CLI get released...

[2019-02-09 13:12] #60 closed

[2019-02-09 13:12] jdneo commented on #60
Fixed in #111.

Will get released in `0.10.2`

[2019-02-09 13:24] jdneo commented on #107
@xinzhige The reason why the number of listed problems is not equal to that on the website is due to two reasons:

1. Some of the problems are locked problems, if you want to list them in the explorer, change the extension setting: `leetcode.showLocked` to `true`.

2. The problem tag information is fetched from the [cli plugin](https://github.com/skygragon/leetcode-cli-plugins/blob/master/plugins/

[2019-02-09 13:30] jdneo opened #112 "Wrong user name shown in the status bar"
When activate the extension, sometimes, in the status bar, it will show: `LeetCode: Host`, which should be `LeetCode: <user name>`

[2019-02-10 01:54] Allen-Zfu commented on #108
@jdneo , Thank you for the help. I need to upgrade Node.
Thanks,

[2019-02-10 03:08] #108 closed

[2019-02-10 11:48] jdneo commented on #60
Hmm...

Actually, this bug is not well fixed in #111. I did some experiments on different platforms and found that the test string needs to be parsed in different ways:

### Bash (Mac)
`'"XX"'`

### CMD (Windows)
`"\"XX\""`

### PowerShell (Windows)
`'\"XX\"'`

I have no Linux machine to verify, but guess the behavior should be similar with that in `Bash`.

So I created another PR: #113, to fix it

[2019-02-11 03:20] jdneo opened #115 "Support switching default language through VS Code command"
_Mentioned by @ZhangYet in https://github.com/jdneo/vscode-leetcode/pull/114#issue-251747070:_

Once you choose the default language, every time you show the new problem with the default language. If you want to change another language, you need to change it in Preference. I think it's convenient for a command to switch default language.

---

If any user want to add this feature, please click the

[2019-02-11 07:18] MingNeo commented on #106
遇到了同样的问题。切换到国际版和中国版都有这个问题。

[2019-02-12 02:48] gengteng opened #116 "Add Rust support"
LeetCode 已支持 Rust，希望加上。

[2019-02-12 03:10] jdneo commented on #116
Dup with #83

[2019-02-12 03:10] #116 closed

[2019-02-12 03:30] shaoxul opened #117 "proxy issue: log in time out"
Dear friends,

For the sake of the gateway firewall, the http proxy must be used to connect internet.
But the log-in always times out. It looks like to try to connect to the leetcode server directly instead of through the proxy.

Is there any configuration I missed?

[2019-02-12 04:56] jdneo commented on #117
@shaoxul Hmm, I have not met this problem before. But just found that the VS Code has proxy related settings. Maybe you can have a try?

![image](https://user-images.githubusercontent.com/6193897/52612638-a39e3400-2ec5-11e9-84d0-18e9b0a41036.png)

[2019-02-12 05:08] shaoxul commented on #117
@jdneo Thank you for your reply. Yes, I tried, but it works for the VS code itself(e.g. extension market), but not works for this this extension.

[2019-02-12 06:45] neil4dong commented on #106
I met the same problem. It probably not wrong user configuring owing to the successful login, the 404 only occurred when submit answer or test answer.

@jdneo

[2019-02-12 06:59] jdneo commented on #106
Hi all,

Could you please try the following steps:

1. Removing the cache: `$HOME/.lc`?
2. Regenerate a new problem file
3. Test/Submit it.

[2019-02-12 07:09] jdneo commented on #117
So far, I have no idea what I can do for your problem...

Need some more investigation here...

[2019-02-12 09:35] MiloJason commented on #117
@shaoxul I have met the same problem as you.

[2019-02-12 11:26] duxingzhe opened #118 "Please redirect the debug info to the terminal in VS code"
It will be more formal to output the information of debug to the terminal. I think it will be content with the normal behavior of our programmer.

[2019-02-12 11:54] hiyjeain commented on #106
I met the same problem.
I solved this problem by verifying my email of leetcode.com or leetcode-cn.com account. Because user cannot submit code until have the email or phone verified.

在leetcode.com 或者 leetcode-cn.com站上验证手机号或者邮箱可解决，因为没验证激活的账号不能提交代码

[2019-02-12 13:09] liuyangc3 opened #119 "Customize the sub-directory to save the file generated by 'Show Problem'"
例如把生成文件的目录设置为, 当前打开文件夹下的 任意某个文件夹

[2019-02-12 14:24] ringcrl opened #120 "Show Problem With Tag"
I wanna to generate a Problem and auto put it to a classified folder by tag suck like：

![image](https://user-images.githubusercontent.com/16740021/52641597-2b129400-2f14-11e9-9ce2-c8a39300f138.png)

![image](https://user-images.githubusercontent.com/16740021/52641615-3796ec80-2f14-11e9-879a-fdf03f883360.png)

I have implemented this requirement through this commit：https://github.com/ringcrl/vscod

[2019-02-13 00:49] zfrxiaxia opened #121 "#113 Still can't fix the problem of input string in test [ubuntu]"
I have tried various formats in #60, but still can't submit strings

[2019-02-13 01:31] jdneo commented on #118
Hi @duxingzhe,
Could you explain more about `information of debug`? What is that for?

[2019-02-13 01:32] jdneo commented on #106
@hiyjeain Thank you for providing the solution both in English and Chinese.

For anyone who encountered the same problem, please try the above solution and let us know if this solved your problem.

[2019-02-13 01:32] #106 closed

[2019-02-13 01:34] jdneo commented on #121
@zfrxiaxia The fix hasn't released yet...

I can try to release a new version this weekend. Please wait a little bit.

[2019-02-13 01:34] #121 closed

[2019-02-13 01:41] huguoliang1314 opened #122 "why vscode-leetcode plugin not show in ative bar?"
see picture:
![image](https://user-images.githubusercontent.com/13847571/52680472-74de9700-2f73-11e9-9bef-cdbabd32c065.png)
node version:  v8.11.1
vscode version:  1.22.2
expect result:   the icon of vscode-leetcode show in active bar, example:
![image](https://user-images.githubusercontent.com/13847571/52680623-14038e80-2f74-11e9-85af-a1732ee46c3e.png)

[2019-02-13 01:47] huguoliang1314 commented on #122
i hope get some advices， @jdneo

[2019-02-13 01:47] jdneo commented on #122
@huguoliang1314 VS Code version needs to be higher than 1.23.0

[2019-02-13 01:47] #122 closed

[2019-02-13 03:21] peterzhai commented on #93
请问，怎么清空缓存

[2019-02-13 03:33] jdneo commented on #93
@peterzhai See: https://github.com/jdneo/vscode-leetcode/issues/106#issuecomment-462640521

[2019-02-13 04:29] jdneo commented on #119
Is #120 what you are asking for?

[2019-02-13 05:19] liuyangc3 commented on #119
@jdneo not quite same,for example is it possiable generate `.java` file in `somedir`

![image](https://user-images.githubusercontent.com/6705844/52688563-f8a77c00-2f91-11e9-934e-7bc00602b2bf.png)

[2019-02-13 06:59] ringcrl commented on #119
Maybe should add a vscode config like：

"leetcode.outputPath": "tag", // somedir Or other

[2019-02-13 07:03] jdneo commented on #119
@ringcrl I'm thinking exactly the same thing.

We need to figure out if it is possible to combine this issue with #120 and give out an overall solution.

[2019-02-13 09:23] ringcrl commented on #119
| Setting Name | Description | Default Value |
|---|---|---|
| `leetcode.outputPath` | Which path will the problem generate to. `root` for  root directory，`tag` for create a directory based on the tag of the problem，`custom_path` for User-defined directory  | `root` |

[2019-02-13 10:56] jdneo commented on #120
@ringcrl Let's track & discuss in #119

[2019-02-13 10:56] #120 closed

[2019-02-13 11:04] jdneo commented on #119
@ringcrl LGTM, just some small improvement.

The `leetcode.outputPath` specifies the relative path to save the problem files. Meanwhile, we have several preserved values for it, which will be resolved according to the actual situation. Those preserved values are:
- `${tag}` - a directory based on the problem's tag. For example, if the problem belongs to: `Binary Indexed Tree`, then a folder named

[2019-02-13 11:23] ringcrl commented on #119
OK~I will finish it later

[2019-02-13 11:32] jdneo commented on #119
@ringcrl Great! Thank you.

[2019-02-14 03:41] elfgzp opened #124 "leetcode-cn 无法登陆"
![image](https://user-images.githubusercontent.com/12834889/52761166-4df49380-304d-11e9-9183-decb52997382.png)
如图，已经切换了 leetcode-cn 貌似 log 里面显示登陆的域名还是leetcode.com

[2019-02-14 05:45] elfgzp commented on #124
已经解决了 登陆后重启VScode即可 不知道算不算BUG

[2019-02-14 08:47] duxingzhe commented on #118
The result of Leetcode. Error, AC, etc.

[2019-02-14 09:46] jdneo commented on #118
Hmm, so I'm guessing that you do not like to switch between the `Output` panel and the `Terminal` panel?

Unfortunately, the reason why the results are all going to the `Output` panel is that:

- It's a common practice for VS Code extension to print is own information into its own output channel. You could verify this in most of the popular extensions.
- A more important reason is that currently t

[2019-02-14 09:46] #118 closed

[2019-02-15 05:39] jdneo commented on #60
@all 0.10.2 has been released with this fix.

[2019-02-15 05:39] jdneo commented on #121
@all 0.10.2 has been released with this fix.

[2019-02-16 13:01] jdneo commented on #119
@all The PR has been merged and will be released in 0.11.0.

Thank you all for your participation.

[2019-02-16 13:01] #119 closed

[2019-02-17 02:08] taoweicn opened #128 "Wrong search result match"
<img width="598" alt="wx20190217-100701 2x" src="https://user-images.githubusercontent.com/25795549/52907389-cc467500-329b-11e9-8610-f09a125dcc4c.png">
I think the AC rate should not be matched.

[2019-02-17 02:24] BrambleXu commented on #105
I have the same issue. Hope to see the new version to fix it.

[2019-02-17 10:16] kevjin opened #129 "Signed out after switching endpoint, even if it's the same endpoint."
**What happens**
If I am initially signed into leetcode.com (US Endpoint) and I decide to click "Switch Endpoint" and I choose the US Endpoint, the app will sign me out of my leetcode account anyway.

**What should happen**
If I am already signed into an endpoint and I choose the _same_ endpoint again from the Switch Endpoint button, either A. nothing should happen, or B. a notification that says

[2019-02-17 11:43] jdneo commented on #129
@kevjin Thank you for reporting this issue. It will be great if you would like to send out a PR for this. Give it a shoot!

[2019-02-17 14:11] yaohaizh opened #130 "Feature request - Prompt to create/open workspace for leetcode"
When open topic from this extension, it will open/create new file on the current workspace
1. This will pollute the current workspace and SCM.
2. Hard to maintain local leetcode code.

Expected:
Prompt user for separate workspace to organize the code per language.

[2019-02-17 14:12] yaohaizh opened #131 "Feature request - Better UI to display the question"
Current, the topic/question is in a single file with comments, which is not user friendly to read and write code.

Should leverage the web view to provide some side by side display experience. Or user can directly display the leetcode.com page?

[2019-02-17 14:13] yaohaizh opened #132 "Click the tree explorer should open the topic"
A.T.T

[2019-02-17 17:35] niudiewei commented on #62
前来请求添加支持。。

[2019-02-18 04:36] stevenlii opened #133 "安装之后，无法找到打开的方式"
安装之后，使用LeetCode: Sign in，无任何反应或显示未找到结果。。
![image](https://user-images.githubusercontent.com/8954758/52928401-75639d00-337a-11e9-8777-352ce84b54a8.png)
上图中的示例页面，到底是怎么打开的？？？

[2019-02-18 05:22] jdneo commented on #133
Are all the requirements satisfied on hour side?https://github.com/jdneo/vscode-leetcode/blob/master/docs/README_zh-CN.md#%E8%BF%90%E8%A1%8C%E6%9D%A1%E4%BB%B6

[2019-02-18 10:14] douglarek opened #134 "Generated go file should have a package statement"
for example:

[code]

[2019-02-18 10:21] jdneo commented on #133
@stevenlii As the document shows. Please make sure your VS Code version is higher than `1.23` and Node.js higher than `8`

[2019-02-18 10:22] jdneo commented on #133
There is also a troubleshooting page that you may want to take a look.

https://github.com/jdneo/vscode-leetcode/wiki/Troubleshooting

[2019-02-18 14:22] lijinxi1314 commented on #133
what is the password for the sign in?

[2019-02-18 14:49] hbsun2113 opened #135 "支持clion吗？"
如题

[2019-02-19 01:20] relengxing opened #136 "mac login error"
login: pass: - Signing in leetcode.com
[ERROR] Error: tunneling socket could not be established, cause=connect EHOSTUNREACH 0.0.4.63:80 - Local (10.0.0.11:59146)

[2019-02-19 01:35] jdneo commented on #133
@stevenlii Did your problem been solved?

[2019-02-19 01:36] jdneo commented on #135
I'm sorry, currently only supported in VS Code. I have no plan to support in other IDE/editors yet.

[2019-02-19 01:36] #135 closed

[2019-02-19 01:37] shuiqingliu commented on #6
This issue appearing again When I click the refresh button on the top.

System info:
* vs-code version is 1.31.1
* leetcode version is 0.10.2
* I'm in anonymous session
* my os is  Mac OS.

please contact to me if you need other information.Thanks.

[2019-02-19 03:06] timqian commented on #106
This should be in the readme

[2019-02-19 03:11] zfrxiaxia commented on #117
same problem

[2019-02-19 03:14] jdneo commented on #106
@timqian It's already there: https://github.com/jdneo/vscode-leetcode#troubleshooting

[2019-02-19 03:18] timqian commented on #106
@jdneo Thanks, did not see that 😅

[2019-02-19 03:18] McKenzieIT opened #137 "connect ETIMEDOUT & Failed to get submission beat ratio"
第一次使用出现几个问题
登录节点为leetcode.com
1:登录时出现
login: pass: - Signing in leetcode.com
- Retrieving user favorites
[WARN] Failed to retrieve user favorites: Error: Client network socket disconnected before secure TLS connection was established
- Retrieving user profile
Successfully login as xxxxx
2.提交时有时会提交不了
- Sending code to judge
- Waiting for judge result
[ERROR] Error: connect ETIMEDOUT 104.18.51.23:44

[2019-02-19 03:19] jdneo commented on #106
@timqian np~

[2019-02-19 03:21] jdneo commented on #137
Thank you for reporting.

Looks like 1&2 are network issue.

3 is tracked by #105

[2019-02-19 03:21] #137 closed

[2019-02-19 04:06] McKenzieIT commented on #137
I can't find the submit.js and leetcode.js in my mac. Where can I find it?@jdneo

[2019-02-19 04:17] jdneo commented on #137
@McKenzieIT Are you looking for the module in the `leetcode-cli`? If yes, you can find them in the `node_modules` of the extension.

[2019-02-19 04:23] McKenzieIT commented on #137
Thanks for your help! It seems like if I change the two files, all the three issues could be fixed!

[2019-02-19 04:25] jdneo commented on #137
@McKenzieIT Woo!

Could you share the changes you made to make it work? Maybe it can also help others.

[2019-02-19 04:27] superhen commented on #137
Mckenzie，
Can you share the change please. I have the same issue

| |
Henry
邮箱：surudo_tyou@163.com
|

Signature is customized by Netease Mail Master

On 02/19/2019 12:25, Sheng Chen wrote:

@McKenzieIT Woo!

Could you share the changes you made to make it work? Maybe it can also help others.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it

[2019-02-19 04:31] McKenzieIT commented on #137
You want me to email you ?

[2019-02-19 04:32] superhen commented on #137
Yes, thank you so much

| |
Henry
邮箱：surudo_tyou@163.com
|

Signature is customized by Netease Mail Master

On 02/19/2019 12:31, McKenzie wrote:

Mckenzie， Can you share the change please. I have the same issue | | Henry 邮箱：surudo_tyou@163.com | Signature is customized by Netease Mail Master On 02/19/2019 12:25, Sheng Chen wrote: @McKenzieIT Woo! Could you share the changes you made to make it wor

[2019-02-19 04:43] McKenzieIT commented on #137
Firstly, find out the folder of your vs-code, for me, a mac user, it's location is ~/.vscode. Then, you get into the extensions/shengchen.vscode-leetcode-x.x.x/node_modules/leetcode-cli/lib/. After that, change two files,
one is the leetcode.js in /plugins, on line 339, need to update
`re = body.match(/distribution_formatted:\s('[^']+')/);`
to
`re = body.match(/runtimeDistributionFormatted:\s('[^'

[2019-02-19 04:44] superhen commented on #137
Thank you for your help

| |
Henry
邮箱：surudo_tyou@163.com
|

Signature is customized by Netease Mail Master

On 02/19/2019 12:43, McKenzie wrote:

Firstly, find out the folder of your vs-code, for me, a mac user, it's location is ~/.vscode. Then, you get into the extensions/shengchen.vscode-leetcode-x.x.x/node_modules/leetcode-cli/lib/. After that, change two files,
one is the leetcode.js in /plug

[2019-02-19 04:57] jdneo commented on #137
@McKenzieIT So this is to fix the No.3 problem right?

[2019-02-19 04:59] McKenzieIT commented on #137
Yes! And the others are not happen now.

[2019-02-19 05:27] greyireland commented on #134
+1

1、vscode 提示：[go] expected 'package', found 'func'

2、没有代码提示

[2019-02-19 05:31] greyireland opened #138 "双击题目，打开详情支持"
右键显示问题太繁琐，希望可以优化一下

[2019-02-19 06:42] jdneo commented on #138
Thank you for your suggestion. While the problem is that VS Code has no API about the double click event in explorer.

Closing it for now. I'll keep watching the API will be available in the future.

[2019-02-19 06:42] #138 closed

[2019-02-19 08:56] zfrxiaxia commented on #105
same problem, leetcode-cn

[2019-02-19 09:13] jessewkun opened #139 "Some suggestion and bugs feedback"
Bugs:
1. When I entering the username just after installed the extension, the password box cannot be popped up. After restarting the vscode, it's worked.
2. The checkmark could not be display After the code commit success. After restarting the vscode, it's worked.
3. I could not see the previous commit code after restarting vscode. . .
4. The login information could not be saved. I have to login i

[2019-02-19 09:28] jdneo commented on #139
@jessewkun Could you please create separate issues? The combined issue is very hard for tracking.

To answer your questions:

Suggest to create a new issue

Tracking by #91

See: https://github.com/jdneo/vscode-leetcode#pick-a-problem Check if the files are in `$HOME/.leetcode/`

If you sign into the LeetCode in browser, your local session will be invalid. This is a limitaion from LeetCode

Create

[2019-02-19 09:55] pharazone opened #140 "第一次选择默认语言之后，就没有跳出选择语言的hint了，必须手动在设置里改别的语言"
第一次选择默认语言之后，就没有跳出选择语言的hint了，必须手动在设置里改别的语言，请问怎么在hint里调出来选择语言的界面，而不是每次都要在设置改别的语言。

谢谢了。

[2019-02-19 10:03] jdneo commented on #140
@pharazone This is related to https://github.com/jdneo/vscode-leetcode/issues/115

We will consider adding a command to switch the language. For now, as a workaround, you can remove the default language setting, which can be found in the VS Code preference page.

Closing it since we already have an issue to track this problem.

[2019-02-19 10:03] #140 closed

[2019-02-19 13:48] McKenzieIT opened #141 "A suggestion for 'Show Problem'"
When I click to show the problems, the plugin always create a new file. For example, the question[1]Two Sum, when I showed the problem firstly, it created a new file named two-sum.py. After that, I showed the problem again, it created a new file two-sum.0.py rather than opening the two-sum.py. In my opinion, the plugin open the file which has been created is more reasonable.

[2019-02-19 15:49] exceting opened #142 "用java写算法时代码写完后测试，提示NoSuchMethodError"
比较奇怪的问题，我在网站的调试器里是可以正常运行的：
![qq 20190219234217](https://user-images.githubusercontent.com/11971245/53027878-ba81ef00-34a0-11e9-9756-47eabecff6ad.jpg)
但是到了vscode里，启用test却ba报了这个错误：
![qq 20190219234419](https://user-images.githubusercontent.com/11971245/53027906-c5d51a80-34a0-11e9-8f36-59fc10eef733.jpg)
请问是哪里写的有问题吗？还是触发了leetcode的bug？

[2019-02-19 17:46] glazec commented on #62
可以重置第三方登录的邮箱的密码来登陆

[2019-02-20 02:11] jdneo commented on #141
Hi @McKenzieIT

Thank you for your suggestions. It looks like this is what #59 is talking about. (Sorry that we discussed in Chinese in #59). Let's track this one in #59.

Closing this one for now. Please feel free to let me know if you have any other problems.

Thanks.

[2019-02-20 02:11] #141 closed

[2019-02-20 02:11] jdneo commented on #136
@relengxing Is this issue stably repro?

[2019-02-20 02:14] relengxing commented on #136
我的是稳定登陆不了，我觉得可能是代理问题，我用了shadow socks,但是我关掉也没用
I think is stably. It may proxy problem, I was use shadow socks, but it still can login when I close SS

On Feb 20, 2019, at 10:11, Sheng Chen <notifications@github.com<mailto:notifications@github.com>> wrote:

@relengxing<https://github.com/relengxing> Is this issue stably repro?

—
You are receiving this because you were mentioned.
Reply to this emai

[2019-02-20 02:17] jdneo commented on #136
@relengxing What if you switch to a new network environment?

[2019-02-20 02:28] relengxing commented on #136
relengxing@relengxingdeMacBook-Pro  ~  curl cip.cc<http://cip.cc>
IP      : 113.118.186.11
地址    : 中国  广东  深圳
运营商  : 电信

数据二  : 广东省深圳市 | 电信

数据三  : 中国广东省深圳市 | 电信

I have closed my SS, but still can’t login

v11.10.0
Active Name Version Desc
----------------------------------------------------------------------------------------------------
✔ company 2017.12.18 Plugin to query by company for free

[2019-02-20 12:19] hiepndd opened #145 "Don't mask as completed problem on left-screen when submit passed all test-case from LeetCode"
**What happens**
Suppose I have passed all test-cases from a problem on LeetCode, it doesn't mark as completed this problem on left-screen

**What should happen**
When I completed a problem on LeetCode, it should be marked as completed this problem on left-screen
This is a very small issue to UI-UX. It would be nice to have this fixed, and I can make a PR for it as well. Thanks!

[2019-02-20 12:20] jdneo commented on #128
@taoweicn
One solution is to move `AC Rate` from the `details` to `description`. As below:

<img width="721" alt="screen shot 2019-02-20 at 8 17 41 pm" src="https://user-images.githubusercontent.com/6193897/53091425-e3f85480-354c-11e9-8ebd-30fecd9c81cf.png">

But I still prefer the original UI layout.

[2019-02-20 12:25] jdneo commented on #145
@hiepndd We have a tracking issue for that: #91

To easy track the issues. I'm closing this one. Please feel free to discuss in #91 if you want.

Yes PR are welcome, very looking forword to it! 👍

[2019-02-20 12:25] #145 closed

[2019-02-20 12:27] jdneo commented on #136
Hmm, I have no idea about this issue for now. If anyone has the solution, please let us know. Thanks!

[2019-02-21 02:19] ZephyrJung commented on #80
+1

[2019-02-21 06:56] edvardchen commented on #117
@shaoxul  It seems that vscode's proxy setting does't work. Try to start vscode with command line arguments

[code]

or setting the global env variables before run code. [See more in official document ](https://code.visualstudio.com/docs/setup/network)

[2019-02-21 06:57] ZephyrJung commented on #80
自己写了一下，不过由于没有node、electron、vscode插件开发经验，所以写出来比较暴力也不规范，就不提PR了，大概就是在show.ts中添加了如下代码：
[code]
然后把这个按钮跟Show Problem放到了一起:joy: 临时解决下问题

主要就是发现search的时候会获取所有题目，由此利用了下现成代码

不过搂出来感觉不是很全，拿到了543个题，仅供参考吧

[2019-02-21 08:07] jdneo commented on #59
@poppinlp All the issues are PR welcomed. Just remember to discuss the implementation in the issue before sending out the PR.

Thanks

[2019-02-21 09:05] AEPKILL opened #146 "could provide an option to hide the `Submit to LeetCode` button in the editor?"
I always accidentally click it when editing the file

[2019-02-21 09:57] guguji5 commented on #88
me too

[2019-02-21 10:08] taoweicn commented on #146
+1
And I think it's better to replace `Submit` with `Test`.

[2019-02-21 11:44] jdneo commented on #79
Close the issue because it has been inactive for a long time.

[2019-02-21 11:44] #79 closed

[2019-02-21 15:29] poppinlp commented on #59
@jdneo
Thanks. Nice!
I've looked into the code about this issue since it really bothers me.

This issue is caused by the params we passed into the `show` API of `leetcode-cli` which will generate a new source code file every time. And i haven't seen a param for existence checking in `show` API.

So here may be some plans:

A: We could genearte the file name by ourself and by which we could do the

[2019-02-22 01:54] jdneo commented on #59
@poppinlp Plan A sounds good to me. Would you like to make a PR for it?

[2019-02-22 02:12] poppinlp commented on #59
Of course. I'll send it this weekend. :)

[2019-02-22 03:03] poppinlp opened #148 "How about use the `uninstall` hook to do some cleanup tasks?"
There could be some cleanup tasks such as remove the `~/.leetcode`.
Maybe we could do it through the `uninstall` hook (after a user confirm?).

[2019-02-22 03:07] jdneo commented on #148
@poppinlp Could you explain why you want to remove `~./leetcode`?

[2019-02-22 03:16] poppinlp commented on #148
Since i don't want something extra still left on my disk which is generated by the extension after i uninstall the extension.
I think it is a normal scenario for a program to clean up the extra data which is created by it when it is uninstalled.
But in some situations, maybe user wanna keep it. So we may add a confirm. :)

[2019-02-22 03:19] jdneo commented on #148
@poppinlp Good idea but I think it's not a high priority one. Better to wait for more feedback.

---
If any user wants to add this feature, please click the 👍 button to highlight this issue.

[2019-02-22 05:11] elliottzhou commented on #88
me too

[2019-02-22 08:55] wangjunwei87 commented on #119
I really need this feature, when will version 0.11.0 release?

[2019-02-22 09:28] jdneo commented on #119
@wangjunwei87 It should be released recently

[2019-02-23 03:23] sunb0002 commented on #136
Me too.
Is there a configuration to disable the tunnelling?

[ERROR] You are not login yet?
login: login: login: pass: login: login: pass: - Signing in leetcode.com
[ERROR] Error: tunneling socket could not be established, cause=connect EHOSTUNREACH 0.0.31.144:80 - Local (10.213.103.196:56318)
login:

[2019-02-23 03:30] poppinlp commented on #134
@douglarek Hi. I think this issue relates to https://github.com/skygragon/leetcode-cli/issues/111.

[2019-02-23 03:39] poppinlp commented on #146
Agree with it. And a switch in settings too. :)

[2019-02-23 11:33] githubuserhk commented on #78
Is your problem solved? I also encountered this problem, everytime i input the right password,it shows message like "Failed to sign in. Please open the output channel for details", hopefully you can help me! thanks a lot.

[2019-02-24 12:11] jdneo commented on #59
Has been addressed with the help of @poppinlp in #149.

Will release in 0.11.0

[2019-02-24 12:11] #59 closed

[2019-02-24 12:29] #136 closed

[2019-02-24 12:33] jdneo commented on #117
@edvardchen Provided a solution in #147.

The root cause is that when we trigger a leetcode-cli command, we will spawn a new child_process to send the request, which may bypass the proxy setting in VS Code.

So, we need to read the proxy setting of VS Code. and set it in the created child_process.

More details can be found in #147

[2019-02-24 12:33] #117 closed

[2019-02-24 12:55] jdneo commented on #130
@poppinlp This issue is a little bit related to your previous work: #149. Would you like to have a try?

Basically, we can provide a new setting to set the leetcode workspace path. By default, it's `~/.leetcode`. And prompt user to open that workspace if it's not opened when generating leetcode file.

[2019-02-24 13:07] jdneo commented on #119
@wangjunwei87 0.11.0 has been released

[2019-02-24 13:43] wangjunwei87 commented on #119
@jdneo Thanks for your great work, and I am wondering if it's possible to use preserved value for interpolation, like "something-${tag}-${language}-something".

[2019-02-24 14:29] jdneo commented on #119
@wangjunwei87 great idea. Would you mind to create an issue for that？

[2019-02-24 14:35] wangjunwei87 commented on #119
Sure, my pleasure.

[2019-02-24 14:37] wangjunwei87 opened #151 "Support interpolation in output folder settings"
see: https://github.com/jdneo/vscode-leetcode/issues/119#issuecomment-466778120

[2019-02-25 02:30] poppinlp commented on #130
OK. I'll check it out.

[2019-02-25 05:08] ddzy opened #152 "Faild to get submission beat ratio"

[2019-02-25 05:12] ddzy commented on #152
## Issue Type
bug
## Current Feature
提交之后, 无法正常显示已击败百分比.
![issue_1](https://user-images.githubusercontent.com/33921398/53315571-e406a480-38fe-11e9-8fa3-2ed45ad4a71d.png)
## Expected Feature
`0.11.0`之前的版本都可以正常显示

[2019-02-25 05:53] jdneo commented on #152
This is tracked by #105

It's a leetcode-cli issue, we are waiting for it get released.

[2019-02-25 05:53] #152 closed

[2019-02-26 01:01] halu886 opened #153 "when the desciption exist exponential,In Vscode it show integer and wrong"
I am try a algorithms of leetcode in vscode.
[**reverse-integer**](https://leetcode-cn.com/problems/reverse-integer/description/)
id=7 lang=javascript

the description in **VsCode** show:

    [−231,  231 − 1]

![1](https://user-images.githubusercontent.com/22374024/53379464-92b0f080-39a4-11e9-807c-e75a4abae080.png)

the desciption in **WEB** show:

    [−2^31,  2^31 − 1]

![image](https://user-im

[2019-02-26 01:09] jdneo commented on #153
@halu886 Thank you for reporting.

This issue is dup with #74

[2019-02-26 01:09] #153 closed

[2019-02-26 03:36] poppinlp commented on #103
@sohaha Hi
This feature depends on the leetcode-cli package.
I've sent a [PR](https://github.com/skygragon/leetcode-cli/pull/163) for PHP supporting and we'll support it after they merge and release. :)

[2019-02-26 05:24] jdneo commented on #103
Considering the leetcode-cli is inactive for a long time. I'm thinking to fork and publish a temporary bit for it. Because currently there are too many issues blocked.

[2019-02-26 05:44] poppinlp commented on #103
@jdneo And maybe we should export a JS module instead of the CLI for easy using and performance reason.

[2019-02-26 06:02] m9zjl opened #154 "login error"
login: pass: - Signing in leetcode.com
- Retrieving user favorites
[WARN] Favorite not found?
- Retrieving user profile
Successfully login as Another

logs are as show , when it

[2019-02-26 06:27] jdneo commented on #103
@poppinlp That's exactly what I'm thinking.

But exporting a JS module might cost much more time, so in the short term, publishing a forked cli bit could be a workaround. For the long term, we need a library instead of depending on the cli.

[2019-02-26 06:29] jdneo commented on #154
@m9zjl could you provide more information about the problem you are meeting with?

[2019-02-26 06:43] poppinlp commented on #103
@jdneo Agree. 👍

And if you like, maybe we could create a github org to contains the JS module, the CLI based on JS module, and extensions.
And i just find out that the owner of [leetcode package name](https://www.npmjs.com/package/leetcode) is a friend of me and it's long term inactive. So maybe we could use that package name. :)

[2019-02-26 06:48] jdneo commented on #103
@poppinlp Ok, let me think more about it and I'll let you know the update when I have more thoughts on this. Thank you for your passion.

[2019-02-26 08:48] zhoushengdong commented on #154
Failed to sign in. Please open the output channel for details.

[2019-02-26 08:59] zhoushengdong commented on #154
----------------------------------------------------------------------------------------------------
   √     company            2017.12.18      Plugin to query by company for free user.
   √     cache              default         Plugin to provide local cache.
   √     retry              default         Plugin to retry last failed request if autologin.enable is on.
   √     leetcode.cn        201

[2019-02-26 09:04] jdneo commented on #154
@zhoushengdong What if you switch to another network environment? Or are you behind the proxy?

[2019-02-26 09:43] hemingyuan opened #155 "题目名字有误"
在vscode中显示867题为 "新21点"

![image](https://user-images.githubusercontent.com/22365305/53402748-463dd300-39ed-11e9-9e39-c1cd358df3ef.png)

力扣867题为 "转置矩阵"

![image](https://user-images.githubusercontent.com/22365305/53402845-71282700-39ed-11e9-8434-9c11aed7e0ec.png)

![image](https://user-images.githubusercontent.com/22365305/53402899-8f8e2280-39ed-11e9-85d8-3fd7c98c2b9c.png)

[2019-02-26 09:54] hemingyuan commented on #155
501 题也对不上
从744开始到最后，好像都有问题

[2019-02-27 02:00] henofdante opened #156 "disable status bar display"
上班不能愉快地摸鱼，下面太显眼了

[2019-02-27 02:02] toyijiu opened #157 "同一个账号，不同机器上题目的完成状态无法动态同步更新"
Hi，两台电脑登录同一个leetcode账号，并设置了git同步更新到我的remote repo，但是发现插件的问题状态无法动态的同步，PC1提交问题1测试通过状态更新了，在PC2上必须要手动重新跑一次test才能更新问题状态。

[2019-02-27 02:04] jdneo commented on #156
😂😂😂 @henofdante This is an interesting feature request, haha.

Ok, I'll take this into consideration. PRs are also welcome.

[2019-02-27 03:17] LuVx21 commented on #155
我也遇到了 如925

[2019-02-27 05:56] McKenzieIT opened #158 "Failed to get submission beat ratio again"
I found that the author fixed or optimized the problem that when we show a problem, the plugin will find if the file has been created, this is good! But it seems like that all the files were uploaded and the submission beats ratio can not be gotten again. I hope the problem can be fixed totally.

[2019-02-27 06:15] jdneo commented on #158
@McKenzieIT May I ask what do you mean by: `all the files were uploaded`?

[2019-02-27 06:16] jdneo commented on #157
@toyijiu What if you refresh the explorer in PC2?

[2019-02-27 09:33] ttskym commented on #154
i have same error as @zhoushengdong . I'm behind the proxy and i have already set  the http_proxy, https_proxy and registry, what else do i need to do?

[2019-02-27 10:00] toyijiu commented on #157
@jdneo  Hi jdneo, the status I mentioned morning is not the explorer's but the status of the plug-in's  question list(The green hook). In one computer it also can not update to the finished status dynamically aftering passing the CI test. So I guess maybe it is better to add this function and I do not need to press the refresh button manually every time.

[2019-02-27 10:01] JesseHeisenberg opened #159 "整数反转描述错误"
#### 这是整数反转的描述：
假设我们的环境只能存储得下 32 位的有符号整数，则其数值范围为 [−231,  231 − 1]。请根据这个假设，如果反转后整数溢出那么就返回 0。
#### 正确的应为：
假设我们的环境只能存储得下 32 位的有符号整数，则其数值范围为 [−2<sup>31</sup>,  2<sup>31</sup> − 1]。请根据这个假设，如果反转后整数溢出那么就返回 0。

[2019-02-27 10:42] Jotanrua opened #160 "Need to check the setting for 'outputFolder' before generating the file"
![image](https://user-images.githubusercontent.com/32889679/53484555-0e9f5b80-3abf-11e9-8477-6e3c52e15972.png)
点show problem之后就这样，输出栏也没有说明
vscode和nodejs是最新的，翻了下好像还没人遇到这个问题

[2019-02-27 10:46] JesseHeisenberg commented on #160
设置输出路径为绝对路径会有这个问题，貌似那个是相对路径。清空后恢复正常

[2019-02-27 10:52] Jotanrua commented on #160
@JesseHeisenberg 解决了，确实是工作区的相对路径

[2019-02-27 11:44] jdneo commented on #160
Need to check the setting before generating the file

[2019-02-27 16:30] McKenzieIT commented on #158
I mean that after you upload the files, my modifications which can fix the problem about the issue were reloaded.

[2019-02-27 16:31] McKenzieIT opened #161 "Not supported language x x x"

[2019-02-27 16:31] #161 closed

[2019-02-27 16:36] McKenzieIT opened #162 "Not supported languageXXX"
There has a problem while I'm using the plugin. When I 'Show the problem', if the question doesn't support the language that I use, for example the python3. How can I change my using language in the current interface rather than changing the configuration files?

[2019-02-27 16:39] McKenzieIT commented on #162
There has a problem while I'm using the plugin. When I 'Show the problem', if the question doesn't support the language that I use, for example the python3, the problem about the issue will turn up. How can I change my using language in the current interface rather than changing the configuration files?(My first comment lack some sentences.)

[2019-02-28 01:39] jdneo commented on #154
@zhoushengdong @ttskym Have you set the proxy setting in VS Code? See: https://github.com/jdneo/vscode-leetcode/issues/117#issuecomment-462615941

[2019-02-28 01:40] jdneo commented on #157
@toyijiu So I guess it's dup with #91 .

Closing it for now and let's track it in #91

[2019-02-28 01:40] #157 closed

[2019-02-28 01:42] jdneo commented on #159
@JesseHeisenberg Thank you for reporting

This is dup with #74

[2019-02-28 01:42] #159 closed

[2019-02-28 01:44] jdneo commented on #160
@Jotanrua Let's reopen this issue since we figured out there is still something need to be improved there.

[2019-02-28 01:50] jdneo commented on #158
Yes, that is because once the extension has been updated, the extension files will be replaced. Let's track this issue in #105.

I'm planning to resolve it in recently.

[2019-02-28 01:50] #158 closed

[2019-02-28 01:51] jdneo commented on #162
Dup with #115

[2019-02-28 01:51] #162 closed

[2019-02-28 03:23] Eskibear opened #163 "Status out-of-sync of after AC"
When you AC a new problem (e.g. previous it's WA), the status in problem list is not updated.

[2019-02-28 04:31] Eskibear commented on #146
My suggestion is to 1) simply add a switch for the code lens, 2) keep both "Submit" and "Test" if  codelens is turned on.

The config is:
[code]

It looks like:
[code]

[2019-02-28 05:15] Eskibear opened #164 "Should show sign-out button after signed in"
After I successfully signed in, the button here is still "Sign in". It should be "Sign out".

<img width="244" alt="screen shot 2019-02-28 at 1 12 51 pm" src="https://user-images.githubusercontent.com/2351748/53542723-bd44aa00-3b5a-11e9-9162-abe947715383.png">

[2019-02-28 05:20] Eskibear opened #165 "The icon in viewsContainers is blur in MacOSX"
You might compare it with other icons, it looks uncomfortable.

<img width="51" alt="screen shot 2019-02-28 at 1 18 12 pm" src="https://user-images.githubusercontent.com/2351748/53542860-58d61a80-3b5b-11e9-911c-0db43715a681.png">

[2019-02-28 07:42] jdneo commented on #163
Thank you for reporting. Dup with #91

[2019-02-28 07:42] #163 closed

[2019-02-28 09:11] Dec-F opened #166 "Custom file name template"
考虑支持自定义的文件名吗？

比如 中文版生成的文件名含有中文，import一个中文文件，感觉不是很靠谱，所以每次都要手动修改。

我觉得，文件名最好支持模版插值，可以取{tag}{difficulty}等几个meta信息填充，这样也可以满足不同人的需求。

[2019-02-28 09:24] jdneo commented on #166
@poppinlp Guessing this might be a regression in #149

If the user is using Chinese version LeetCode, the file name we generated will contain Chinese

[2019-02-28 09:31] ttskym commented on #154
@jdneo thanks. i have set th proxy in vs code ,but get an new error.

I can not figure out the problem is  caused by the extension or my proxy!

[2019-02-28 09:34] Dec-F commented on #166
I think these two issues are not the same function, maybe you didn't understand what I meant. I am suggesting to add a configuration item, just like `outputFolder`, does not affect the reading of local files.

[2019-02-28 09:44] Dec-F commented on #166
Setting Name | Description | Default Value
------------ | ------------- | ------------
fileName | The name of the generated file;{id}-{difficulty}-{tag}-{name} | {id}.{name}.{ext} |

like this? @jdneo

[2019-02-28 09:48] poppinlp commented on #166
@jdneo
I have not tested on the Chinese version LeetCode. That's my fault. I'll fix it and think about the test cases.

@Dec-F
Yep. You are talking about a different feature. I think I get your point.
What's your option about this? @jdneo I think this feature is reasonable but not high priority.

[2019-02-28 09:54] Dec-F commented on #166
If this feature is necessary, I will submit a PR tomorrow or weekend. What do you think? @jdneo @poppinlp

[2019-02-28 11:39] jdneo commented on #154
@edvardchen Any thoughts here?

[2019-02-28 11:42] jdneo commented on #166
@poppinlp Not your fault, we all missed that part, It's great if this can be fixed.

@Dec-F PR is welcome, you can send out it whenever you want.

[2019-02-28 13:53] poppinlp commented on #166
@jdneo  I've sent a PR to fix the Chinese file name issue.

@jdneo @Dec-F Here maybe a plan to support the file name pattern:

We could pass the whole config into the `genFileName` function instead of the only `endpoint` right now to avoid too many params. And then generate the file name by the pattern in the setting. And don't forget to update the documents after that.

The variable in pattern co

[2019-02-28 16:03] poppinlp opened #169 "Add issue templates"
We may add some Github issue templates such as bug report template and feature request template.

The bug report template is to collect some basic information from submitting a new issue. This may be useful for analysis and reproduce the problem. Here are what I thought of:

- operation system
- extension settings
- nodejs version
- vscode version(or is insider version)
- extension version(althoug

[2019-02-28 16:04] edvardchen commented on #154
I'll take a look later.

[2019-02-28 16:41] ttskym commented on #154
@jdneo @edvardchen  i have also tried to login using leetcode-cli and got the same error.

[2019-02-28 18:27] Allen-Zfu opened #170 "Compile Error due to importing wrong package"
Hi,

When I submit a question answer with Stack and TreeNode, the code automatically added import javax.swing.tree.TreeNode; which causing compile error. Can you please check?

[2019-02-28 18:33] #170 closed

[2019-03-01 01:35] jdneo commented on #169
LGTM.

So would you like to submit a PR for it? 😀

[2019-03-01 03:47] jdneo commented on #166
for a certain problem, it may belong to multiple companies and tags, how to handle this senario?

[2019-03-01 04:01] poppinlp commented on #166
On the one side, if we wanna support `company` and `tag`, of course, the tags and companies could be an array. So we may just merge the array items with a separate symbol such as underscore, dash, e.t.c.

On the other side, I think the first question is what should we support `company` and `tag`? For me, there's no such need. But maybe there could be a situation for others that they wanna grep the

[2019-03-01 04:06] Dec-F commented on #166
I think there are two ways to deal with it.
1. Let the user choose. Treat like this
2. fileName option Support function, handed to user programming

What do you think?

[2019-03-01 07:11] jdneo commented on #166
@Dec-F Will your request get satisfied if we implement the comment here: https://github.com/jdneo/vscode-leetcode/issues/119#issuecomment-466778120

[2019-03-01 07:57] mosyu opened #172 "description is incorrect."
For 400 nth-digth
Description on vs code show

while on leetcode, it's

[2019-03-01 08:05] ruozhiertong commented on #154
i have the same problem. Last line shows 'Successfully login as xxx' . When i login via chrome web it is correct.SO have any solution?

[2019-03-01 08:10] jdneo commented on #172
Dup with #74

[2019-03-01 08:10] #172 closed

[2019-03-01 08:12] jdneo commented on #154
@ruozhiertong So can you submit/show the problem after login in the extension?

[2019-03-01 16:02] wangjunwei87 opened #176 "Could not fetch correct tag for output folder"
vscode:
![image](https://user-images.githubusercontent.com/1625837/53649925-47d1fa00-3c7e-11e9-9bd7-d7a7a93e7d8e.png)

leetcode description:
![image](https://user-images.githubusercontent.com/1625837/53649963-620bd800-3c7e-11e9-991a-6ab1a9775b89.png)

leetcode problem link: https://leetcode.com/problems/insert-into-a-cyclic-sorted-list/

[2019-03-01 16:03] LucasDove commented on #155
我也遇到

[2019-03-02 03:17] DioCin opened #177 "如何同步VsCode 和 LeetCode网页上的内容"
在vsCode 上提交完以后  网页上 显示本道题 solved 但是点进去 网页上的编译器里面的内容是空的。。如何才能同步网页编译器里的内容 和Vscode 题目的编写的内容？

[2019-03-02 03:55] jdneo commented on #165
Fixed in #175

Thank you @poppinlp for help!

[2019-03-02 03:55] #165 closed

[2019-03-02 08:36] #115 closed

[2019-03-02 09:48] taoweicn commented on #177
试一下编辑框右上角的这个按钮，可以恢复最近一次提交的代码。

![image](https://user-images.githubusercontent.com/25795549/53680059-bf506980-3d10-11e9-97b0-bb7129fe199c.png)

[2019-03-03 03:04] poppinlp commented on #177
@DioCin Hi. 请问上面的方案可以满足你的需求么？我觉得这个看起来并不是一个应该属于 vscode 插件的功能，因为 leetcode 题目的网页上展示的代码其实是来自浏览器本地 `localstorage` 之中，例如：
![image](https://user-images.githubusercontent.com/1970625/53690362-194e3f00-3da4-11e9-9c9e-aecb551ba811.png)

[2019-03-03 03:07] poppinlp commented on #155
@hemingyuan @LuVx21 @LucasDove 请问可以提供一下重现的步骤么？感谢。

[2019-03-03 07:52] jdneo commented on #155
@poppinlp I also met this problem. Still, this is restricted by the `leetcode-cli` 😢

I think we need to write our own lib ASAP. Let's discuss in the Gitter channel in details.

[2019-03-03 07:53] jdneo commented on #177
Closing since it is not in the extension's scope for now.

@DioCin Feel free to let us know if you have other problems.

[2019-03-03 07:53] #177 closed

[2019-03-03 08:23] jdneo commented on #169
Resolved. @poppinlp Nice job!

[2019-03-03 08:23] #169 closed

[2019-03-03 08:25] jdneo commented on #133
Closed for inactive.

[2019-03-03 08:25] #133 closed

[2019-03-03 11:09] #74 closed

[2019-03-03 11:09] jdneo commented on #83
Resolved in #179.

[2019-03-03 11:09] #83 closed

[2019-03-03 11:10] jdneo commented on #103
Resolved in #179.

[2019-03-03 11:10] #103 closed

[2019-03-03 11:10] jdneo commented on #105
Resolved in #179.

[2019-03-03 11:10] #105 closed

[2019-03-03 11:40] jdneo opened #181 "Wrong order of the difficulty node in explorer"
<img width="304" alt="screen shot 2019-03-03 at 7 32 24 pm" src="https://user-images.githubusercontent.com/6193897/53694603-1d05b400-3dec-11e9-8f44-05bb9831d373.png">

Should be Easy -> Medium -> Hard

[2019-03-03 13:18] taoweicn commented on #181
How about adding an `All` problem list, maybe there are some one like me who want to solve the problems in order?

[2019-03-03 15:24] jdneo commented on #181
@taoweicn Sure, please feel free to create an issue for it

[2019-03-04 02:17] #181 closed

[2019-03-04 03:24] LuVx21 commented on #155
没什么特殊的
1. 登录
2. 选择一个题,如925
3. 获取到后就能发现问题了
![image](https://user-images.githubusercontent.com/10940827/53708785-fbe6a700-3e6f-11e9-86cb-be32d107a58c.png)
题目和内容不匹配

[2019-03-04 04:13] hemingyuan commented on #155
@poppinlp
现象描述:
据我观察，使用插件获取到的题目，从744题开始 题目标题与题目内容不符。题目内容是正确的，只有题目标题显示错误。

操作步骤:
1. 登陆力扣
2. 查看题目

我尝试过
1. 刷新题目
2. 退出重新登陆
3. 卸载插件重装

均无法解决问题。
Vscode 版本 1.31.1

下图为截取的一段题目与力扣上题目对比，可以看到都不对

![image](https://user-images.githubusercontent.com/22365305/53709509-9c8a9600-3e73-11e9-8be0-29775530a1e2.png)
![image](https://user-images.githubusercontent.com/22365305/53709542-d360ac00-3e73-11e9-8095-6af0e97232

[2019-03-04 08:00] wanmeng8888 opened #183 "这个插件做题的时候能不能debug？该怎么使用？"
Before you submit an question we recommend you to check out the [DOCUMENT](https://github.com/jdneo/vscode-leetcode/blob/master/README.md) and [TROUBLESHOOTING PAGE](https://github.com/jdneo/vscode-leetcode/wiki/Troubleshooting) first.

## 💬 Questions and Help

Please outline the questions.
我想知道可不可以进行debug？

[2019-03-04 08:23] jdneo commented on #183
Hi @wanmeng8888,

Unfortunately, for now, the extension does not support debugging, and it's not in our roadmap so far.

[2019-03-04 08:23] #183 closed

[2019-03-04 11:28] taoweicn opened #184 "Add an `All` problem list"
## 🚀 Feature Proposal

Add a new problem list which contains all leetcode problems.

## Motivation

Maybe someone such as me wants to solve problems in order.

[2019-03-05 02:35] edvardchen commented on #154
@ttskym It seems that your user login token in local cache was invalid.
Try `rm rm ~/.lc/leetcode/user.json ` then login again

[2019-03-05 12:14] luffyli opened #187 "The width occupied by the status bar is too wide"
![pic](https://user-images.githubusercontent.com/10166950/53804681-237a6400-3f83-11e9-89bb-13738615aa4a.png)

I hope it's adaptive width.

[2019-03-06 01:05] jdneo commented on #187
@luffyli I'm afraid that the VS Code does not provide an API to control the width of the status bar item.

But, if I can provide a configuration to hide this status bar item, will it work for you?

[2019-03-06 02:03] ttskym commented on #154
i can not find user.json in windows os. i delete the cache folder in the .lc/leetcode and it does not work.

[2019-03-06 07:19] StudyForZX opened #189 "PHP code don't have `<?php` tag"
I think add it will be better~

[2019-03-06 11:42] luffyli commented on #187
@jdneo I found that the VS Code status bar itself is adaptive width, and this problem was actually solved by bug #112.

The problem with bug #112 is that the username obtained is the selected part of the image below.

![pics](https://user-images.githubusercontent.com/10166950/53878691-7ddcf880-4047-11e9-8c43-2e02a0e28c3c.png)

[2019-03-06 12:12] jdneo commented on #187
OK I'll take a look.

[2019-03-06 12:43] JackDan9 opened #190 "LEETCODE: PROBLEMS-"
node-version in the Windows env:
![image](https://user-images.githubusercontent.com/12805846/53882062-3eff7080-4050-11e9-99fe-3922bb19bedf.png)
VSCode info about my version:
[code]
Question Picture Like this:
![image](https://user-images.githubusercontent.com/12805846/53882144-78d07700-4050-11e9-8735-327dbe6652ec.png)

Please give me a hand. Thanks!

## 💬 Questions and Help

Please outline the que

[2019-03-07 00:26] jdneo commented on #190
Wired. Does your VS Code started from the command line that has Node.js in its env?

[2019-03-07 01:35] JackDan9 commented on #190
Yes, Do you mean the picture below?
[code]
Thanks

[2019-03-07 09:22] jdneo commented on #190
@JackDan9 Hmm...

Could you see any output in the LeetCode output Channel?

Or, is there any error message? You can check this by Help > Toggle Developer Tools > to see if there is anything in the console.

[2019-03-07 09:23] jdneo commented on #187
Closing this and tracking in #112

[2019-03-07 09:23] #187 closed

[2019-03-07 09:27] jdneo commented on #142
@exceting Would you mind to share your source code?

[2019-03-07 13:18] KevinZhangt opened #191 "可以不依赖 Node.js 吗？Can we not rely on node. js"
## 🚀 Feature Proposal
对于后端来说，Node 环境不是必选项，因为这个插件安装 node 显得有点麻烦。能不能移除对 Node 的依赖？
For a backend developer, We are not  need  Node environment all  the time ,and It's a little trouble if  we install  Node  only use for this plugin.Can we not rely on node please?

[2019-03-08 01:34] jdneo commented on #191
For now, since the extension is based on `leetcode-cli`. There is no easy way to remove the dependency on `Node.js`. We are considering to write our own lib, but this will take times and will not happen in the near future.

[2019-03-08 01:34] jdneo commented on #191
Closing it for now.

[2019-03-08 01:34] #191 closed

[2019-03-08 04:42] Raysuner opened #192 "add difficulty tag for problems"
## 🚀 Feature Proposal

could you add the difficulty tag for each problem ,for example hard, mid,easy

## Motivation

I want to solve problem from easy to hard on the same type of problem. if so, This will be more convenient than before

## Contribution

Please describe the solution if you'd like to submit a PR.

[2019-03-08 07:04] yucaowang commented on #184
+1

[2019-03-08 07:12] exceting commented on #142
This is my code：
[code]

[2019-03-08 07:13] exceting commented on #142
The first problem of medium difficulty

[2019-03-08 09:34] Vigilans commented on #192
Maybe it could be eased by adding information tooltip to problems.

[2019-03-08 09:42] Vigilans commented on #192
Or something like file explorer's green(created), yellow(modified), red(errors) would be fine?

[2019-03-08 10:49] Raysuner commented on #192
I think it can refer to leetcode offical website

[2019-03-08 10:52] JackDan9 commented on #190
Ok，I saw the console information of the error message, like the follow picture.
![image](https://user-images.githubusercontent.com/12805846/54024641-5024ba80-41d3-11e9-84b3-d9b58bf3c19c.png)
Thanks.

[2019-03-09 00:47] yuchaozh opened #194 "[Not Found]186. Reverse Words in a String II"
## 🐛 Bug Report

A clear and concise description of what the bug is.

`186. Reverse Words in a String II` is not found

## To Reproduce
search `186. Reverse Words in a String II`

## Expected behavior
shows up in the search result

## Your Environment

- *os*: Windows
- *extension settings*:
- *nodejs version*:
- *vscode version*: 1.32.1
- *extension version*: 0.12.0

[2019-03-09 01:41] tomleung1996 opened #195 "Can't update problem status with [WARN] Failed to get memory percentile."
## 🐛 Bug Report

When I submitted the answer and get accepted, the last line of the response was `[WARN] Failed to get memory percentile.`

And with this warning, the problem status cannot be updated, even though my answer was accepted.

![problem](https://i.loli.net/2019/03/09/5c83197d22b33.png)

![response](https://i.loli.net/2019/03/09/5c83199cbb0f3.png)

## To Reproduce

Just submit the questi

[2019-03-09 02:46] jdneo commented on #190
What if you remove the folder `$HOME/.lc` and try again?

[2019-03-09 03:17] liulanghai opened #196 "加入package name做本地测试直接提交会报错。建议增加提交时自动去除package name功能"
Before you submit an question we recommend you to check out the [DOCUMENT](https://github.com/jdneo/vscode-leetcode/blob/master/README.md) and [TROUBLESHOOTING PAGE](https://github.com/jdneo/vscode-leetcode/wiki/Troubleshooting) first.

## 💬 Questions and Help

Please outline the questions.

[2019-03-09 08:42] zombie110year commented on #196
建议贴出你解题使用的语言与测试工具, 不然的话不知道 "package name 报错" 是什么意思,
以及它需要满足什么要求.

[2019-03-10 14:04] COKID commented on #155
743和744命名重复，一个中文命名，一个英文命名，导致后面题号和问题错位

[2019-03-11 04:31] codenot opened #198 "Support deleting session"
![屏幕快照 2019-03-11 下午12 32 37](https://user-images.githubusercontent.com/3368517/54100544-e508fd00-43f9-11e9-84f3-4ca6f82ad158.png)

[2019-03-11 04:36] jdneo commented on #198
For now, the extension does not support deleting the session.

As a workaround, you can go to the official site of LeetCode, and manage your session in your settings page.

[2019-03-11 04:38] codenot commented on #198
囧，我还以为是插件自带的session管理呢，好吧，知道了，感谢。

[2019-03-11 09:31] aaronbai commented on #195
I have the same issue  on Mac using Golang.

[2019-03-11 09:40] liulanghai commented on #196
show problem 之后生成了.go文件，这个go文件缺少package名称 ，完成了算法函数的填充，此时是无法再本地做单测的，手动加上package leetcode, 此时可以本地go test 做单测，但是此时直接右键提交报错。

[2019-03-11 15:46] Vigilans commented on #196
A better solution would be automatically pre-include these packages, provide intellisense and make it possible to use local debugger.
I am currently working on this.

[2019-03-11 17:24] nilinyi-test opened #199 "无法显示所有的题目, 比如题目367就找不到"
是不是无法显示premium的题目?

[2019-03-12 01:59] tomleung1996 commented on #195
Yes, after refreshing

[2019-03-12 02:04] shantj opened #200 "中文版中，网站推荐的难度列表，能增加一个么，每个难度什么类型的都有(数组、链表、二叉树...)，每个难度大概50左右道题目"
如题

[2019-03-12 02:04] Vigilans commented on #195
@tomleung1996  Could you please provide the accepted code for the convenience of reproducing the bug?

[2019-03-12 02:11] tomleung1996 commented on #195
It seems that this situation has some uncertainty. Some questions' status can be updated today, but others still not.
Solution for No.112 Pathsum
<pre>
class Solution(object):
    def hasPathSum(self, root, sum):
        """
        :type root: TreeNode
        :type sum: int
        :rtype: bool
        """
        if not root:
            return False
        sum -= root.val
        if sum == 0

[2019-03-12 05:23] jdneo commented on #184
@Vigilans I'm thinking to refactor the explorer before adding new features to it. For example, extract the logic of node reference to a cache called something like `xxxCache` or `nodeManager`...

[2019-03-12 09:26] skyhiter opened #201 "Error: LeetCode extension needs Node.js installed in environment path"
## 🐛 Bug Report

When sign in, it pops up  "LeetCode extension needs Node.js installed in environment path".
But node command has been in my environment path.
![image](https://user-images.githubusercontent.com/3953193/54187833-5b385d00-44e9-11e9-9d66-a72947a23f05.png)

## To Reproduce

select "LeetCode Sign In" command.

## Expected behavior

pop up login window.

## Your Environment

- *os*: macb

[2019-03-12 11:45] #131 closed

[2019-03-12 11:48] jdneo commented on #200
Hi @shantj,

Can you explain more about your idea? Not quite catch it.

[2019-03-12 11:50] jdneo commented on #195
@tomleung1996 Will your problem be solved if adopting the workaround that @Vigilans provides?

[2019-03-12 11:54] jdneo commented on #201
@skyhiter How did you start your VS Code?

[2019-03-12 13:45] shantj commented on #200
<img width="1274" alt="image" src="https://user-images.githubusercontent.com/9815535/54204392-20e1b680-450f-11e9-9d27-42e4e4bf6fbc.png">

My idea is just like the picture.

The Easy Difficulty just only have 49 items. But now the vscode-leetcode show you everything in this difficulty.
Many of the categories on the site are not displayed. For example, Bytedance and Tencent.

[2019-03-13 02:57] yanite opened #203 "command 'leetcode.toggleLeetCodeCn' not found"
Environment

- *os*: windows 10
- *extension settings*:
- *nodejs version*: v11.11.0
- *vscode version*:  1.32.1
- *extension version*:  0.12.0

安装没问题点击面板上的一切都报这个错误

[2019-03-13 03:14] jdneo commented on #203
Please check the document here to see if it could help: https://github.com/jdneo/vscode-leetcode/wiki/%E7%96%91%E9%9A%BE%E8%A7%A3%E7%AD%94#thinking-%E6%8F%90%E7%A4%BA%E9%94%99%E8%AF%AF-command-leetcodexxx-not-found

[2019-03-13 03:22] jdneo commented on #199
I can find it.

![image](https://user-images.githubusercontent.com/6193897/54251411-1d3b4780-4582-11e9-9138-73b1e76b0151.png)

If you want to show the locked problem, there is a setting for doing this. See: [leetcode.hideSolved](https://github.com/jdneo/vscode-leetcode/blob/master/docs/README_zh-CN.md#%E6%8F%92%E4%BB%B6%E9%85%8D%E7%BD%AE%E9%A1%B9)

[2019-03-13 03:24] jdneo commented on #190
@JackDan9 Another possibility is that your network environment prevents you to download the plugins sources from `Github`

[2019-03-13 04:05] skyhiter commented on #201
Thank you for your prompt reply.

I just clicked the vscode icon from mac's Dock.

In my impression，vscode 1.30(when I first use `leetcode` extension) was going well. But this error has arisen when vscode updated to 1.31.(the same to 1.32 ).

![image](https://user-images.githubusercontent.com/3953193/54252607-73aa8500-4586-11e9-8a21-2868611ce319.png)
![image](https://user-images.githubusercontent.

[2019-03-13 04:35] jdneo commented on #201
@skyhiter Wired. It should not be a problem with the VS Code.

Have you upgraded the node recently? Have you tried to restart the OS?

[2019-03-13 05:41] skyhiter commented on #201
I can't remember.But, I install node8, it not works.

1. brew uninstall node (v10)
2. brew install node@8
3. vim .zshrc,delete  `export PATH="/usr/local/opt/node@10/bin:$PATH"`,
 add `export PATH="/usr/local/opt/node@8/bin:$PATH"`
4. now, system zsh shell will show `v8.15.1`
5. resinstall vscode leetcode extension.
6. restart vscode, and LeetCode Sign In,  but it pops up this error also.
![image](

[2019-03-13 05:53] jdneo commented on #201
Guess this is because you are put the node executable into your zshell's path, but not the default bash's path.

While the extension won't able to get this information when it creates a child process to execute leetcode tasks.

[2019-03-13 06:21] skyhiter commented on #201
Maybe. I aways use zsh, it had worked before.

I'll find out the cause of the error by  myself.  Thank you for your prompt reply.

[2019-03-13 06:31] skyhiter commented on #201
please see issue[Customized environment variables not available for extensions when VS Code is not launched via terminal](https://github.com/Microsoft/vscode/issues/69728).

When I start vscode from zsh, it works!

[2019-03-13 06:53] jdneo commented on #201
In my personal opinion, I think it's not a bug. This is as expected for using another shell.

Closing it for now since the issue has been resolved.

[2019-03-13 06:53] #201 closed

[2019-03-13 07:05] tomleung1996 commented on #195
Works fine for me, thanks! XD

[2019-03-13 07:07] jdneo commented on #195
Cool!

[2019-03-13 07:07] #195 closed

[2019-03-13 07:31] xuzaixian commented on #155
It's a leetcode-cli plugin`(leetcode.cn.js)` bug.
I have sent a [pr[(https://github.com/skygragon/leetcode-cli-plugins/pull/32) to fix this issue.
But I am not sure if the owner is still maintaining...

[2019-03-13 07:35] #112 closed

[2019-03-13 09:17] jdneo commented on #194
Can you see it after opening the setting: [leetcode.showLocked](https://github.com/jdneo/vscode-leetcode#settings)

[2019-03-13 14:49] Vigilans opened #205 "Solution webview doesn't highlight python3 language"
## 🐛 Bug Report

The `highlight.js` seems unable to recognize python3, and will not highlight the code fences.

## To Reproduce

Execute `Show Top Voted Solution` on any problem with language python3, then we'll get
![image](https://user-images.githubusercontent.com/20227484/54288145-ea28a080-45e1-11e9-95bd-9d405b912eb9.png)

## Expected behavior

Alter `Solution.lang: python3` to `python` when pa

[2019-03-13 15:27] jlhxxxx opened #206 "python3本地调试会报错"
## 🐛 Bug Report

设置python3为默认语言，使用leetcode默认定义在本地调试会报错：undefined name name，这可能应该算python调试插件的问题

## To Reproduce
提交代码至leetcode没有问题。
就是本地debug报错。屏蔽flake8(F821)也不行。

[code]

报错信息：

[code]

## Expected behavior

可以正常调试，不报错。

## Your Environment

- *os*: win7_x64
- *python version*: 3.7.2
- *extension settings*: ms-python.python-2019.2.5558
- *nodejs version*: 10.15.3
- *vscode version*: 1.32.1
- *exte

[2019-03-13 15:28] bennygato commented on #199
me too. such as problem 339 that is shown as 'unlocked' on my leetcode page (I got premium account), but couldn't find it in vscode.
I guess the question is,is that possible to support questions under premium account? thank you!

[2019-03-13 15:30] Vigilans commented on #206
add `from typing import List`

[2019-03-13 17:21] nilinyi-test commented on #199
Now I can find it too. That's weird. I'm pretty sure I cannot find it yesterday.

[2019-03-13 17:21] #199 closed

[2019-03-13 20:23] yuchaozh commented on #194
yeah. It works.

[2019-03-13 20:23] #194 closed

[2019-03-14 01:28] jdneo commented on #206
You can have a try as @Vigilans said.

For now, the leetcode extension does not have the syntax highlighting feature there. So if users want to have this feature, they need to install some language-specific extensions, also there are some additional works to do to make them work together.

[2019-03-14 07:03] LeeLejia opened #207 "allows people to review their previous answers"
## 🚀 Feature Proposal

Please add an option to the menu that allows people to review the previous answers.🙏🙏🙏

## Movtiation

 It is very useful where someone reviews his code.

[2019-03-14 07:05] #207 closed

[2019-03-14 13:00] jlhxxxx commented on #206
Thank you, it works.

[2019-03-15 00:03] yangwenmai opened #208 "项目初始化后能否跟自己的 GitHub Repos 关联。"
##  💬 Questions / Help

项目初始化后能否跟自己的 GitHub Repos 关联。

## Motivation

提交代码进行版本管理。

[2019-03-15 01:20] #206 closed

[2019-03-15 03:17] ZanneZankyo opened #209 "Cannot search problem with subscription while the account has one"
## 🐛 Bug Report

Search problem cannot show the problem that needs a subscription (like 186.)

## To Reproduce

then input
186.

## Your Environment

- *os*: Windows 10 Version	10.0.17763 Build 17763
- *extension settings*: {}
- *nodejs version*: 10.2.0
- *vscode version*: 1.32.1
- *extension version*: 0.12.0

[2019-03-15 03:21] jdneo commented on #209
Dup with #194

Solution: https://github.com/jdneo/vscode-leetcode/issues/194#issuecomment-472341071

I'll add it into the trouble shooting page later.

[2019-03-15 03:21] #209 closed

[2019-03-15 03:43] ZanneZankyo commented on #209
Sorry, It was clearly written in the doc.

[2019-03-15 11:50] jdneo commented on #142
@exceting I get the same error in LeetCode using your code.

<img width="707" alt="Screen Shot 2019-03-15 at 7 49 52 PM" src="https://user-images.githubusercontent.com/6193897/54429440-875b1480-475b-11e9-908f-0963a9de2e87.png">

[2019-03-15 11:52] jdneo commented on #132
Resolved in #186

[2019-03-15 11:52] #132 closed

[2019-03-15 12:05] jdneo commented on #139
Hi @jessewkun,

Thank you for your feedback.

I've gone through all of them, and some of them having tracking issues, some of them have solution/answer and I've added my comment below.

Some of them need more information.

Considering tracking multiple problems in one issue is difficult and is not recommended, I will close this issue for now. If you have more comments, feel free to let me know, or

[2019-03-15 12:05] #139 closed

[2019-03-15 13:05] Vigilans opened #210 "Preview webview won't change title when switched to another problem"
## 🐛 Bug Report

As the title describes.

## To Reproduce

Open preview window on any problem:
![image](https://user-images.githubusercontent.com/20227484/54433041-d443e880-4765-11e9-81b5-f68505654365.png)

Keep the window open and click another problem:
![image](https://user-images.githubusercontent.com/20227484/54433084-f3db1100-4765-11e9-8882-6be6bb4596d5.png)

## Expected behavior

The title s

[2019-03-15 14:21] qianchanger commented on #203
我也遇到了.

[2019-03-15 14:24] qianchanger commented on #203
I also have this problem......
- mac 10.13.4
- vscode 1.32.3
- nodejs v11.11.0
![image](https://user-images.githubusercontent.com/19400870/54438153-11fa3e80-4771-11e9-968d-a86dd030a9c2.png)

![image](https://user-images.githubusercontent.com/19400870/54438130-0575e600-4771-11e9-8119-6188474361f8.png)

[2019-03-15 14:37] qianchanger commented on #203
The above documentation does not seem to contain this problem

[2019-03-15 14:48] tjy-cool opened #211 "Failed to switch endpoint. Please open the output channel for details."
My pc is mac 10.13.6, node.js version: v11.7.0
And I want change the the end endpoint for Chinese by click the icon that like earth, but vscode pop up report error: Failed to switch endpoint. Please open the output channel for details.
and the command line shows: [ERROR] Plugin not found!
so I can't login my Chinese account,
and I need help.

[2019-03-15 14:50] qianchanger commented on #203
switch this leetcode-plugin to 0.12 version , it works.   :)

[2019-03-15 14:54] sandove commented on #211
Exactly the same problem...Need help...

[2019-03-15 16:19] fgh1999 commented on #211
+1

[2019-03-16 02:02] Sparkuggz commented on #211
+1

[2019-03-16 04:46] Vigilans commented on #211
This bug has already been covered by the review discussion here:
https://github.com/jdneo/vscode-leetcode/pull/193#discussion_r265016833

The bugfix didn't get shipped in current version, and will be solved in another PR.

[2019-03-16 11:25] jdneo commented on #210
@Vigilans Thank you for raising this. In the next version `0.13.1` we can address several bugs as a stable release.

New features can be held on for the `0.14.0`.

[2019-03-16 11:40] jdneo commented on #203
Not sure if this is related to this issue: https://github.com/jdneo/vscode-leetcode/issues/201

For example, you are using a third-party bash, like `zshell`, and your node.js is only available in the `zshell`, not the default bash.

Then the extension will not run the leetcode command successfully since it will spawn a child process from the default bash.

[2019-03-16 11:52] Yihemu commented on #203
![image](https://user-images.githubusercontent.com/43208747/54474811-ae314d80-4824-11e9-85ab-5283e48e954a.png)
![image](https://user-images.githubusercontent.com/43208747/54474830-d7ea7480-4824-11e9-9a36-bd8d9c125f38.png)
But i haven't used a third-party bash.

[2019-03-16 11:56] jdneo commented on #203
Have you tried this: https://github.com/jdneo/vscode-leetcode/wiki/%E7%96%91%E9%9A%BE%E8%A7%A3%E7%AD%94#thinking-%E6%8F%90%E7%A4%BA%E9%94%99%E8%AF%AF-command-leetcodexxx-not-found

[2019-03-16 12:00] Yihemu commented on #203
![image](https://user-images.githubusercontent.com/43208747/54474927-1d5b7180-4826-11e9-8750-92cae6ae9d6f.png)

[2019-03-16 12:21] RyanIPO commented on #211
+1

[2019-03-16 12:27] jdneo commented on #211
@All Are you guys all see the error messages as: `[ERROR] Plugin not found`?

As a workaround, could you please try to remove `$HOME/.lc` and try it again and let me if this could help?

[2019-03-16 12:43] tjy-cool commented on #211
I remove the dir $HOME/.lc with the command: rm -rf ~/.lc
but it doesn't work, when I open vscode click the icon Leetcode can see the same error messages
: [ERROR] Plugin not found?
and change the endpoint can also the error message.

[2019-03-16 12:57] tjy-cool commented on #211
I use `tree` command in the dir ~/.lc, it shows :
├── leetcode
│   └── cache
└── plugins.json

and I use command `cat plugins.json`  shows:
`{"solution.discuss":true,"company":true,"cache":true,"retry":true,"leetcode":true}`

I think it useful message for you to solve the bug.

[2019-03-16 12:57] Vigilans commented on #211
@tjy-cool The proper workaround is:
1. Find your leetcode-cli binary path, or execute `npm install leetcode-cli -g` and use `leetcode`` command.
2. Execute `leetcode plugin -I leetcode.cn`.

Then the leetcode.cn plugin is found thereafter.

[2019-03-16 13:12] tjy-cool commented on #211
@Vigilans thanks
I have execute the command `cd ~/` `npm install leetcode-cli -g` and `leetcode` by order
but the command `leetcode` shows warnning:
`[WARN] Installing missing plugins, might take a while ...`

and I don't know how to flow the step 2

[2019-03-16 13:15] tjy-cool commented on #211
@Vigilans  thanks
I have execute the command cd ~/ npm install leetcode-cli -g and leetcode by order
but the command leetcode shows warning:
[WARN] Installing missing plugins, might take a while ...

and I don't know how to follow the step 2

[2019-03-16 13:17] tjy-cool commented on #211
@Vigilans  thanks
I have execute the command `cd ~/`  `npm install leetcode-cli -g` and `leetcode` by order
but the command leetcode shows warning first time:
`[WARN] Installing missing plugins, might take a while ...`
and the second time show nothing.

and I don't know how to follow the step 2

[2019-03-16 13:21] Vigilans commented on #211
@tjy-cool

This is mentioned in contrast with

Because if you choose the `Find your leetcode-cli binary path` choice, `<your-leetcode-bin>` is `<your root of npm>/npm_modules/leetcode-cli/bin/leetcode`,

where as after executing `npm install leetcode-cli -g`, `<your-leetcode-bin>` is `leetcode`.

So for now, you can just execute `leetcode plugin -i leetcode.cn`.

[2019-03-16 15:45] marshallseu commented on #211
@Vigilans thanks a lot.

[2019-03-16 15:48] RyanIPO commented on #211
I don't know where the problem is. But when I reload it and Clean up related files .everything is ok.
👻 👻 👻

[2019-03-17 02:54] JackDan9 commented on #190
I deleted this directory `$Home/.lc` file and closed the firewall. @jdneo But have the same question.
Thanks.

[2019-03-17 03:35] ybtuteng commented on #203
today I met this error too
vscode:1.32.3
node:10.15.1
mac os:10.14.3
I use mac's terminal as default shell
yesterday everything is ok, and I have used it for a week normally
but today it cannot work suddenly
![image](https://user-images.githubusercontent.com/12271804/54484817-98656c00-48a8-11e9-8339-e571f8c1fc57.png)
![image](https://user-images.githubusercontent.com/12271804/54484819-a0bda700-48a

[2019-03-17 05:17] fgh1999 commented on #211
Already fixed. Thanks a lot. @Vigilans

[2019-03-17 10:49] jdneo commented on #203
Emm, suspecting related with #211. We will release a release recently.

[2019-03-17 10:50] jdneo commented on #190
Suspecting releated with #211

[2019-03-17 11:32] jdneo commented on #211
I'm closing this issue for now since this issue should be fixed with #212.

We will release the fix recently in `0.13.1`.

If you still have problems after using `0.13.1`, please feel free to let us know.

[2019-03-17 11:32] #211 closed

[2019-03-17 11:32] jdneo commented on #203
I'm closing this issue for now since this issue should be fixed with #212.

We will release the fix recently in `0.13.1`.

If you still have problems after using `0.13.1`, please feel free to let us know.

[2019-03-17 11:32] #203 closed

[2019-03-17 11:33] jdneo commented on #190
I'm closing this issue for now since this issue should be fixed with #212.

We will release the fix recently in `0.13.1`.

If you still have problems after using `0.13.1`, please feel free to let us know.

[2019-03-17 11:33] #190 closed

[2019-03-17 12:01] #210 closed

[2019-03-17 12:38] jdneo opened #217 "Clicking 'Code Now' will open multiple files"
### Bug repro step:

1. Click 2-3 problem node to preview the description one by one
2. Click Code Now
3. It will generate all the files for the problems that have been previewed before

### Root cause:
The listeners are registered every time executing preview (). They should be registered only once when this.panel has not been created.

[2019-03-17 13:07] #217 closed

[2019-03-17 13:38] wz30 opened #218 "Miss problem 159 Longest Substring with At Most Two Distinct Character."
## 🐛 Bug Report

Miss problem 159.

## To Reproduce

select the search button and input 159 or related keywords

## Expected behavior

159 problem pops up!

## Your Environment

- *os*:
- *extension settings*:
- *nodejs version*:
- *vscode version*:
- *extension version*:

[2019-03-17 13:54] jdneo commented on #218
See: https://github.com/jdneo/vscode-leetcode/wiki/Troubleshooting#thinking-cannot-show-the-locked-problems

[2019-03-17 13:54] #218 closed

[2019-03-17 16:16] Summerslyb opened #219 "Incompatible with VIM extension"
## 🐛 Bug Report

Cannot work with vim extension

## To Reproduce

1. Install this extension
2. Install vim extension
3. Open any problem
4. A error prompt show and cannot input any character

## Expected behavior

![QQ截图20190318001337](https://user-images.githubusercontent.com/10459559/54494267-50c7fa00-4913-11e9-8322-bc1add423544.png)

## Your Environment

- *os*: Windows 10
- *extension settings

[2019-03-17 16:17] Summerslyb commented on #219
![QQ截图20190318001337](https://user-images.githubusercontent.com/10459559/54494248-25dda600-4913-11e9-8168-e67b0b5fff35.png)

[2019-03-18 00:47] jdneo commented on #219
From the screenshot, you can see that this bug comes from the `vim` extension.

My suggestion is to report this bug to the repo of `vim` extension.

So far we can do nothing for it. Please also let me know if you need any help.

Thanks.

[2019-03-18 00:47] #219 closed

[2019-03-18 08:29] ngunauj opened #220 "Failed to sign in. Please open the output channel for details"
[code]

[2019-03-18 08:35] jdneo commented on #220
@ngunauj What's your targeting endpoint? `leetcode` or `leetcode-cn`

[2019-03-18 09:17] ngunauj commented on #220
leetcode

[2019-03-18 09:18] ngunauj commented on #220
@jdneo leetcode

[2019-03-18 09:33] ngunauj commented on #220
@jdneo  我试着选中文办leetcode-cn 能登录，leetcode登录不了。不过能做题就行了...

[2019-03-18 09:36] jdneo commented on #220
LeetCode has different endpoints which do not share the accounts.

So according to your description, you have registered in `leetcode-cn`, not `leetcode`.

The websites of them are different.

[2019-03-18 14:49] dilin-MS opened #221 "Sort by Problem No."
## 🚀 Feature Proposal

 Can we sort problem list by its number?

## Motivation

Currently problem list can only be sorted and listed by difficulty, tag, company or favorite. Can we sort problem list by number? It's supported on Leetcode official website. Some people(like me) may prefer to just check problems by order.

## Contribution

Please describe the solution if you'd like to submit a PR.

[2019-03-18 19:44] zhning12 opened #222 "不能通过插件登录"
## 可以通过官网成功登陆，但是无法通过插件登录
![image](https://user-images.githubusercontent.com/28998173/54558606-1fc1f500-49f9-11e9-826f-97b546451698.png)

试了npm install leetcode 等的解决方案，也无法登陆，不知道是什么原因？

[2019-03-19 01:33] jdneo commented on #221
@dilin-MS Thank you for reporting.

Let's track in #184 for duplication.

[2019-03-19 01:33] #221 closed

[2019-03-19 01:34] jdneo commented on #222
Please try the troubleshooting here: https://github.com/jdneo/vscode-leetcode/wiki/%E7%96%91%E9%9A%BE%E8%A7%A3%E7%AD%94#thinking-%E6%97%A0%E6%B3%95%E7%99%BB%E5%BD%95

Also please let us know if this could solve your problem.

[2019-03-19 01:41] WRN1111 opened #223 "已完成的绿色对勾无法显示"
## 🐛 Bug Report

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior.

## Expected behavior
win10系统下尝试过完全重装 以后依然无法显示绿色对勾 check.png文件也没有缺失 但是在另一台电脑上没有问题 是什么设置的问题吗
![捕获](https://user-images.githubusercontent.com/18515547/54574408-223d4280-4a2b-11e9-9513-0ee82bf5d1bb.PNG)

[2019-03-19 01:42] jdneo commented on #223
Are you using the same account and the same session?

[2019-03-19 03:38] poppinlp commented on #155
@xuzaixian Hi. Thanks for your help. The leetcode-cli seems not active for a while.

@jdneo  So... looks like we need to fork the plugin like we fork the CLI?  😢

[2019-03-19 04:28] jdneo commented on #155
@poppinlp Yes, how about fork both the leetcode-cli and leetcode-cli-plugin into here: https://github.com/leetcode-tools?

[2019-03-19 05:27] zhning12 commented on #222
Thanks, that solves my problem. This occurs since I choose the **Chinese** version.

[2019-03-19 05:27] #222 closed

[2019-03-19 06:49] WRN1111 commented on #223
I created a new session，new account(leetcode and leetcode-cn),submit a problem,It still doesn't display correctly.

[2019-03-19 06:51] jdneo commented on #223
@WRN1111 So far the explorer won't refresh automatically. Try clicking the refresh button on the navigation bar at the top of the LeetCode explorer.

[2019-03-19 07:13] WRN1111 commented on #223
yeah i click the refresh button,it still doesn't display,but It seems to be my own problem.Another computer no problem.

Thank you for your help！！

[2019-03-19 07:13] #223 closed

[2019-03-19 07:20] jdneo commented on #223
Make sure your two computers are using the same session of the same account under the same endpoint.

Feel free to let us know if you have any more questions.

[2019-03-19 07:47] poppinlp commented on #208
Looks like a good idea. But lots of detail to consider and not a high priority for now.
Maybe in the next...next milestone. 😃

[2019-03-19 07:52] poppinlp commented on #155
@jdneo  Yep. Sure.
The current vsc-leetcode-cli is in your private repo?

[2019-03-19 07:54] jdneo commented on #155
Yes, I forked it into my repo for now. This should not be in our long-tern plan.

[2019-03-20 15:26] zhuxiangxiao opened #226 "when using behind proxy,it shows command 'leetcode.xxxx' not found"
## 🐛 Bug Report

command 'leetcode.xxx' not found error when using behind a proxy.
with environment viriable HTTP_PROXY=127.0.01:6152 and HTTPS_PROXY=127.0.01:6152

## To Reproduce

I'm using zsh as my defaul shell

export HTTP_PROXY=127.0.0.1:6152
export HTTPS_PROXY=127.0.0.1:6152

## Your Environment
macOS 10.14.3
vscode 1.32.3
vscode-leetcode 0.13.1
node 11.10.0

[2019-03-21 01:12] jdneo commented on #226
Should be the same as this issue, please take a look: https://github.com/jdneo/vscode-leetcode/issues/201#issuecomment-472289712

[2019-03-21 06:38] jdneo opened #227 "Provide a setting to let user set the Node executable"
## 🚀 Feature Proposal

A clear and concise description of what the feature is.

## Motivation

Please outline the motivation for the proposal.

## Contribution

Please describe the solution if you'd like to submit a PR.

[2019-03-21 12:12] jdneo commented on #205
@Vigilans I think this should be fixed in #224, right?

[2019-03-21 12:16] Vigilans commented on #205
@jdneo Yes, I have tested it.

[2019-03-21 12:16] #205 closed

[2019-03-22 02:44] bonezhang opened #229 "如何查看已ac过的代码？"
*It's really recommended to create an issue by a template.*
如何查看已ac过的代码？

[2019-03-22 02:51] jdneo commented on #229
So far it's not supported. Tracking issue: https://github.com/jdneo/vscode-leetcode/issues/69

[2019-03-22 02:51] #229 closed

[2019-03-22 13:44] #156 closed

[2019-03-24 09:27] GTrepublic commented on #45
请问支持中文版的了吗，我怎么登啊，中文版旁边有个x

[2019-03-25 12:23] jdneo commented on #142
Closing for inactive for a long time. @exceting please feel free to let us know if you still meet the problem.

Thanks.

[2019-03-25 12:23] #142 closed

[2019-03-25 15:01] Vigilans opened #234 "IProblem should contains a `languages` field"
## 🚀 Feature Proposal

When parsing problem data, available languages of a specific problem should also be parsed for `IProblem`.

## Motivation

Currently, when showing problem, the quickpick lists all the languages in leetcode, but some of them are unavailable for a specific problem.

For example, if I try to show solution for `[1] Two Sum` in language MySQL, I'll get
![image](https://user-image

[2019-03-25 15:02] Vigilans commented on #234
The screenshot above also shows a rendering problem of code block in MySQL, which is worth further investigation.

[2019-03-26 06:17] Vigilans opened #236 "Querying `undefined` as default language if focus out during QuickPick"
## 🐛 Bug Report

## To Reproduce

When quickpicking language, if click other areas to cancel the selection, an undefined default language query will pop out:

![](https://user-images.githubusercontent.com/20227484/54933845-644d1380-4f58-11e9-82eb-4d58991b9adb.png)

## Expected behavior

Won't query for default language if no valid language is selected.

[2019-03-26 06:20] Vigilans opened #237 "Exception will be thrown when leetcode-cli output useful data but exit with error code"
## 🐛 Bug Report

Sometimes, the leetcode-cli may print useful data, but exit with error code. In this case, an exception will be thrown, and useful data will not be passed.

## To Reproduce

When submitting a solution, leetcode-cli may print Runtime error and exit with error code. With aforementioned behavior, an exception will be thrown, and result WebView cannot be shown.
![](https://user-images

[2019-03-26 07:40] #236 closed

[2019-03-26 07:40] #237 closed

[2019-03-26 14:54] gislu opened #238 ""There is no data provider registered that can provide view data.""
When I installed the plugin and restart my VSCode, I only got this message: "There is no data provider registered that can provide view data."
I guess this happened because my company ban some kinds of request  ( but I am still able to log in leetcode website and solve question). Do you guys have any idea of my issue?

[2019-03-26 17:09] clarkliming opened #239 "Output folder option problem"
## 🐛 Bug Report

the preview of the problem can be retrieved successfully. the code file is not created.

Failed to show the problem. Please open the output channel for details.

## To Reproduce

set the output folder like
C:/Users/{name}/Onedrive/leetcode
click on any problem, then press the button code now

## Your Environment

- *os*: win10-1809  17763.379
- *extension settings*:
default langua

[2019-03-26 23:17] jdneo commented on #238
@gislu Please provide more information about your environment etc... to help us understand your situation. Meanwhile, you can check if this document could help: https://github.com/jdneo/vscode-leetcode/wiki/Troubleshooting

[2019-03-27 02:26] littlebeandog opened #240 "Cant connect to leetcode.com"
## 🐛 Bug Report

It's fine to access leetcode.com using chrome,but unable to login or submit problem with the extension.
Error message:
[ERROR] Error: connect ETIMEDOUT 104.24.124.31:443

This condition didn't appear until 2019.03.27, is it my network problem?

[2019-03-27 09:06] Vigilans opened #241 "Local debugger implementation discussion"
## What we've got

* LeetCode problem's `templateMeta` property from GraphQL API:
[code]

* Pre- and Post- Solution code template in cpp.
I've written a bunch of robust code in this [gist](https://gist.github.com/Vigilans/a40d8cebc75bd481af152307bfb8665b). To successfully build a solution, we should provide:
  1. solution code file `solution.h`.
  2. metadata of the problem `meta.h`:
[code]
The me

[2019-03-27 09:15] LiRongbupt commented on #238
@jdneo emmm, I meet the same problem, baby. I have intalled nodejs v8.x, v10.x and v11.x, but vscode still told me that command leetcode.signin not found. My os is ubuntu 18.04 LTS. Interesting, I didn't meet this problem last week when I used vscode on ubuntu 16.04.

[2019-03-27 10:08] jdneo commented on #238
@LiRongbupt Could you try to remove `$home/.lc`?

[2019-03-27 10:09] jdneo commented on #240
Are you behind a proxy?

[2019-03-27 10:59] jdneo commented on #241
So #130 Should be one of the issues we should address first, which is to solve:

[2019-03-27 12:29] clarkliming commented on #239
the problem is solved. it is the outpuf folder string. in my setting, i use the following string
C:\Users\{username}\OneDrive\Projects\LeetCode
but vs code does not create the sample code in the directory. so this is the path related problem

[2019-03-27 15:57] gislu commented on #238
Solve this when I reinstall with old version 0.12.0.
So I guess there might be some code issue here.

[2019-03-27 16:11] gislu commented on #238
But I can login leetcode in browser normally. Does we use different way to make login post?

[2019-03-27 16:13] gislu commented on #240
Got the same issue while I can login in browser normally....

[2019-03-28 01:23] #239 closed

[2019-03-28 01:25] jdneo commented on #238
@gislu You can open `Help` > `Toggle Developer Tools` to see if there is any log there

[2019-03-28 11:51] chnjames opened #243 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-leetcode`
- Extension Version: `0.13.1`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\14272\shengchen.vscode-leetcode-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extensio

[2019-03-28 12:00] jdneo commented on #243
Thank you @chnjames for reporting this to us.

VS Code has its official [Explain: extension causes high cpu load](https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-load) for the issue.

https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-load#code-loading

So far, I have no plan to optimize the problem unless there are more and more users encounter

[2019-03-28 12:00] #243 closed

[2019-03-28 12:34] LiRongbupt commented on #238
I'm sorry that it doesn't work. Everytime I restart vscode, the directory .lc is created automatically.

[2019-03-28 12:41] jdneo commented on #238
@LiRongbupt Are you using the 3-party bash in Ubuntu?

[2019-03-29 02:09] LiRongbupt commented on #238
@jdneo No, but I solved the problem. First I uninstall vscode and remove .lc/ and .vscode/, then I re-install code and the plugin works well.

[2019-03-29 02:19] jdneo commented on #238
@LiRongbupt Good to know them problem get solved. I'll leave an eye on this problem in the future.

[2019-03-29 04:25] Fern9 commented on #238
I meet the same problem. My os is macOS 10.14, and vscode 1.32.3, node v11.12.0, bash is iTerm2。I have tried restart vscode and OS, but it still says leetcode.signin not found

[2019-03-29 04:29] jdneo commented on #238
@Fern9 This is because you are using iTerms2, while when the extension spawns a new child process, it will use the system default bash.

This problem should be resolved within this issue: https://github.com/jdneo/vscode-leetcode/issues/227

[2019-03-29 05:49] guozongkui commented on #240
Same issue, No proxy.

[2019-03-29 05:59] SongJee opened #244 "How can i debug my code"
Hello! I want to know how can i debug my code after i finish my solution in vscode. can anybody help me

[2019-03-29 06:09] jdneo commented on #244
Hi @SongJee,

Debug is not supported yet. If you want to debug your solution, you need to install related language extensions and write some code to wrap your solution.

[2019-03-29 09:11] littlebeandog commented on #240
nope.. and it happens frequently since I firstly report this issue.

[2019-03-29 09:12] littlebeandog commented on #244
I dont think this is a concern of this extension though.....

[2019-03-29 09:20] #154 closed

[2019-03-30 04:43] Vigilans commented on #241
I've created a repository for storing these bootstrapper template:
https://github.com/Vigilans/leetcode-bootstrapper

Currently it is owned by me, and when the feature is becoming mature, I will move it to @leetcode-tools.

[2019-03-30 04:48] Vigilans commented on #244
If you write your solution in cpp, you could try out the bootstrapper code here:
https://github.com/Vigilans/leetcode-bootstrapper/tree/master/cpp
You should provide your solution in `solution.h`, and provide class and method name in `meta.h`.
* If you need `ListNode` or `TreeNode` definition, define `__LIST_NODE` or `__TREE_NODE` in `meta.h`.
* If you need to write a data structure class (Trie, L

[2019-03-30 04:53] Vigilans commented on #241
Cpp boostrapper usage:
Provide your solution in `solution.h`, and provide class and method name in `meta.h`.
* If you need `ListNode` or `TreeNode` definition, define `__LIST_NODE` or `__TREE_NODE` in `meta.h`.
* If you need to write a data structure class (Trie, LRU, etc.), define `__SYSTEM_DESIGN` and put your constructor in `__CLASS` macro.

[2019-03-30 06:41] com3345 commented on #203
Same problem..

+ os: win10 1803
+ vs code version: 1.32.3
+ node.js version: 10.15.3
+ extension LeetCode version: 0.13.1
+ And I don't have any other bashes except default powershell/cmd.

I'm wondering if the proxy setting leads to the situation:

![image](https://user-images.githubusercontent.com/11958810/55272599-dd9e8a80-52f9-11e9-904d-fac124ad5692.png)

[2019-03-30 10:29] BrambleXu opened #245 "Failed to find some question"
Can not find 1013 question.

[2019-03-30 15:41] roachsinai opened #246 "Let font size of problem describe file equal to editor.fontSize not workbench font size."
## 🚀 Feature Proposal

Let font size of problem describe file equal to editor.fontSize not workbench font size.

## Motivation

The font size of problem describe file is to small.

![image](https://user-images.githubusercontent.com/9500049/55278280-0b5cf100-5345-11e9-9dc5-6c6a747ba361.png)

As it opening in editor section why the font size not equal editor font size?

![image](https://user-images.

[2019-03-31 01:04] Luanf commented on #244
Just wanted to add that my approach has been using the CodeRunner extension: https://marketplace.visualstudio.com/items?itemName=formulahendry.code-runner

I then add a call to the solution function, like so:
[code]
Of course you can then add inputs to it:
[code]
Depending on the problem.

[2019-03-31 01:39] lizhaoliu-Lec commented on #220
My endpoint is correct same for my password, I can still login in my web browser. But I can't sign in in this extension, receving the error below:
[ERROR] You are not login yet?
login: pass: - Signing in leetcode.com
[ERROR] session expired, please login again [code=-1]

[2019-03-31 10:57] jdneo commented on #245
- If you want to see the locked problems(like 277), you need to enable the setting `leetcode.showLocked`. More details: https://github.com/jdneo/vscode-leetcode/wiki/Troubleshooting#thinking-cannot-show-the-locked-problems

- I can find 1013 on my side, need more details to repro.
<img width="298" alt="Screen Shot 2019-03-31 at 6 54 40 PM" src="https://user-images.githubusercontent.com/6193897/552

[2019-03-31 10:58] jdneo commented on #203
@Vigilans Any ideas?

[2019-03-31 11:02] jdneo commented on #220
@lizhaoliu-Lec what will happen if you remove the cache folder: `$HOME\.lc`?

[2019-03-31 11:09] BrambleXu commented on #245
Thanks for the information about locked problems.
As for 1013, I can find it now after reinstalling vscode-leetcode.

[2019-03-31 11:09] #245 closed

[2019-03-31 11:11] BrambleXu commented on #244
You can write test cases by yourself. Here is mine.

[code]

[2019-03-31 11:29] jdneo commented on #244
Thank you @All for providing the solutions.

I'm closing the issue for now, but the discussion is still open!

For anyone who has his own solution about debugging the code, please feel free to comment.

You can also add 👍 for your favorite solution, which could be a guide for those who need help.

[2019-03-31 11:29] #244 closed

[2019-03-31 12:07] hanyahui88 commented on #108
mac

node :v11.12.0
vs code:1.32.3 (1.32.3)

command 'leetcode.signin' not found
command 'leetcode.toggleLeetCodeCn' not found

[2019-04-01 01:12] LucaPractice opened #247 "unable to activate the extension."
您好，我的vscode版本为1.32.3，nodejs版本为10.15.3，使用插件时仍然有command 'leetcode.xxx' not found的错误提示。

[2019-04-01 01:57] jdneo commented on #247
Is there any logs in the console if you open Help > Toggle Developer Tools

[2019-04-01 02:26] Vigilans commented on #203
@Yihemu why is the command _toogleLeetCodeCn_ Σ( ° △ °|||)︴?

It seems that this bug is caused by the failure of initialization in extension's main entry.

Several reasons that may cause `activate`'s early exit:
* `leetCodeExecutor.meetRequirements` return false and `activate` exits directly.

[code]
  There will be messages in the output channel if the bug is triggered for this reason.
  @ALL Cou

[2019-04-01 02:29] Vigilans commented on #247
What we be shown if you click the leetcode icon on the left activity bar?

Besides, is there any output message if you press `Ctrl+Shift+U` and toggle the channel from `Tasks` or `任务` to `LeetCode`?

[2019-04-01 06:15] hantmac opened #248 "Use go write leetcode cant read my GOPATH"
## 🐛 Bug Report

A clear and concise description of what the bug is.
I use golang write leetcode,  but report an error ,
<img width="914" alt="屏幕快照 2019-04-01 14 04 29" src="https://user-images.githubusercontent.com/7600925/55306687-9940f500-5487-11e9-972f-16ae1c1e52c5.png">
BUT，I have set the gopath for vscode,
<img width="578" alt="屏幕快照 2019-04-01 14 04 46" src="https://user-images.githubusercon

[2019-04-01 06:15] leeguooooo commented on #1
我也遇到了这个问题， 我尝试把插件卸载重装，之后就好了！

[2019-04-01 06:22] jdneo commented on #248
This compile error is reported by `leetcode.com`, the extension will not compile your code locally.

Please make sure your solution could run correctly in `leetcode.com`

[2019-04-01 06:24] jdneo commented on #238
Closing this issue and tracking with #227.

[2019-04-01 06:24] #238 closed

[2019-04-01 06:26] jdneo commented on #240
@all

Is this a stable repro issue or does it just appear sometimes?

[2019-04-01 06:37] leeguooooo commented on #44
Note: It should be the password of http://leetcode.com, not the password of https://leetcode-cn.com.

[2019-04-01 06:50] hantmac commented on #248
Yeah，it is reported by `leetcode.com`,  this is the first time I use go to write leetcode, should I config GOPATH for leetcode.com?? So amazing!
I can Definitely confirm the package `github.com/golang-collections/collections/stack`, is in my `GOROOT`.It still report this error.
I am confusing, anyway ,thanks for your timely reply.

[2019-04-01 07:14] jdneo commented on #248
Hmm, I don't think the `leetcode.com` should honor the `GOPATH` since the judge env is totally different from the users' local env.

You can simply check the discussion pages to find out what other users' `golang` answer looks like, and write your answer in that way.

Closing this issue since this is out of the scope of the extension.

Thank you for trying the extension, happy coding!

[2019-04-01 07:14] #248 closed

[2019-04-01 08:07] jdneo commented on #247
@LucaPractice Just feel free to comment on the root cause and how you solve the problem. This information could help other users who also encounter the same problem.

Thanks.

[2019-04-01 09:10] #227 closed

[2019-04-01 16:38] gislu commented on #240
for me it always failed like that

[2019-04-02 02:06] sepetboy commented on #108
vxcode Version: 1.32.3
Chrome: 66.0.3359.181
Node.js: 10.2.0
OS: Windows_NT x64 10.0.17134

Tip：There is no data provider registered that can provide view data.
What is the reason for this?

[2019-04-02 03:09] sepetboy opened #251 "There is no data provider registered that can provide view data."
Version: 1.32.3 (user setup)
Chrome: 66.0.3359.181
Node.js: 10.2.0
OS: Windows_NT x64 10.0.17134

what is the reason for this

[2019-04-02 03:42] gislu opened #252 "Can we cache all the questions?"
## 🚀 Feature Proposal
### Cache all the questions.
## Motivation
Cache all the questions so we can work on these questions offline.

## Contribution
I can help to analyze the request in order to build web scraper

[2019-04-02 03:45] Vigilans commented on #252
The question is in fact cached (by `leetcode-cli`), and you can find them in `$HOME/.lc/leetcode/cache`.

Is there any other inconvenience you find in solving the problems offline?

[2019-04-02 03:48] Vigilans commented on #251
Is there any output message if you press Ctrl+Shift+U and toggle the channel from Tasks or 任务 to LeetCode?

@jdneo I think after merging #249, the issue template should require and guide them to provide the leetcode channel output.

[2019-04-02 04:01] gislu commented on #252
Sorry I didn't mean cache it manually.
Right we can only cache the question we browsered.
Is it feasible to cache all the questions by one time?

[2019-04-02 04:13] Vigilans commented on #252
The best way would be to fetch all the question details by one query, but leetcode-cli does not provide such functionality.

A workaround would be to trigger `leetcode-cli show <id> -x` concurrently, but I don't know its cost and whether it is abuse...If you're of enough interest, you could take a stab at a PR to implement it.

Besides, there are plans to migrate from `leetcode-cli` to an independ

[2019-04-02 04:16] jdneo commented on #251
@Vigilans Mostly the error `There is no data provider registered that can provide view data` is caused because of the extension failed to activate, so there will be nothing in the output channel.

We have received a lot of that kind of errors, suspecting that this is due to installing the cli plugin when activating.

[2019-04-02 05:28] Vigilans commented on #251
So #249 is meant to bring something to output channel when failed to activate, which I think should help us diagnose the problems O`O

[2019-04-02 05:33] jdneo commented on #251
Oh, yes it is.

[2019-04-02 05:37] #252 closed

[2019-04-02 06:21] sepetboy commented on #251
The leetcode channel output is
[ERROR] Plugin not found!
- Downloading https://github.com/skygragon/leetcode-cli-plugins/raw/master/plugins/company.js
[ERROR] Error: connect ETIMEDOUT 13.250.177.223:443

[2019-04-02 06:56] jdneo commented on #251
@sepetboy Thank you for reporting the logs.

@Vigilans It seems that some users cannot download the plugin due to the network issue. Is it possible that we release the CLI with those plugins embedded? If that could be done. I think our extension could be much more stable and faster to activate.

[2019-04-02 07:49] sepetboy commented on #251
Maybe the network was restricted by my company,I guess I need some kind of permission.

[2019-04-02 11:51] jdneo opened #253 "Wrong format show in result webpage"
## 🐛 Bug Report

A clear and concise description of what the bug is.

## To Reproduce

1. Pick a problem, like [7]
2. Test with default test cases
3. Get the following result page:
<img width="1007" alt="Screen Shot 2019-04-02 at 7 50 06 PM" src="https://user-images.githubusercontent.com/6193897/55400467-8b22cf80-5580-11e9-98e4-e2c6920af213.png">

@Vigilans I think we did too much tricky logic in

[2019-04-02 13:19] jdneo commented on #253
Resolved in #254

[2019-04-02 13:19] #253 closed

[2019-04-02 13:20] jdneo commented on #251
The root cause looks duplicated with #240.

Closing it for now and let's track it in #240.

@sepetboy Thank you for reporting the issue to us.

[2019-04-02 13:20] #251 closed

[2019-04-02 13:23] jdneo commented on #240
Solution:

We should embed the plugins by default and remove the `install plugin` logic in the code to avoid user get blocked because of the network issue.

[2019-04-02 13:25] Vigilans commented on #251
Yes, I've tried to add the plugin manually to `lib/plugins` folder, and everything works fine.

Sure.

[2019-04-02 14:13] Vigilans commented on #246
The preview, solution and result webview will use built-in markdown engine's css file to render. So the best choice would be to use `markdown.preview.fontSize`.

However, I tested on my vscode and found that the setting wouldn't change the font size in the webview. It is because that I didn't ship the extra contribution logic from the original extension. I will work on this lately.

[2019-04-03 02:14] roachsinai commented on #246
Thanks!

[2019-04-03 08:42] littlebeandog commented on #240
Dude, I've read and tried to understand your reply for couple times, but still can't get it - -

I think gislu is right, it seems like network promblem cuz endpoint leetcode-cn works perfectly.
Is that possible to add a feature to config proxy for this plugin?

[2019-04-03 08:44] jdneo commented on #240
Config proxy is supported, actually, the extension should honor the proxy setting in VS Code.

See: https://github.com/jdneo/vscode-leetcode/issues/117#issuecomment-466770086

[2019-04-03 08:53] littlebeandog commented on #240
Thanks !

[2019-04-03 08:59] jdneo commented on #240
@littlebeandog Is that works?

[2019-04-03 09:33] deadoggy commented on #247
I meet the same problem. The day before yesterday I could use the extension normally, today it fails. There is a "There is no data provider registered that can provide view data." on the sidebar and there is "leetcode.xxx not found"
. My environment is ubuntu 18.04lts + vscode 1.32.3 + node 10.15.3 .

Here is my log:

![Screenshot from 2019-04-03 17-32-35](https://user-images.githubusercontent.com

[2019-04-03 09:34] deadoggy commented on #247
@jdneo Thanks!

[2019-04-03 10:22] littlebeandog commented on #240
It works fine.

[2019-04-03 11:25] jdneo commented on #247
@deadoggy I guess the root cause is that the installed files are corrupted. Try to uninstall the extension and remove it. You should be able to find it under `$HOME/.vscode/extensions`. Remove the folder `shengchen.vscode-leetcode-*` and reinstall it.

Please let me know if this could help solve your problem.

[2019-04-03 14:43] deadoggy commented on #247
I uninstalled the extension and removed the folder under ~/.vscode/extensions/, but the problem still exists. Here is the console screenshot:

![Screenshot from 2019-04-03 22-41-39](https://user-images.githubusercontent.com/16058908/55488006-c6e19600-5661-11e9-80c5-cf29f83a6a51.png)

It's almost the same as the prior one.

[2019-04-04 01:43] jdneo commented on #247
Ah, Have no ideas so far.

But I noticed that there is some other strange output in the console:
![image](https://user-images.githubusercontent.com/6193897/55523993-135abf00-56be-11e9-8c5d-150a3cc10ecf.png)

Not sure if it is something wrong with your environment.

@Vigilans Do you have any ideas?

[2019-04-04 01:50] #226 closed

[2019-04-04 02:09] jdneo commented on #226
@zhuxiangxiao If you want to enable the proxy in the extension. Just simply update the proxy setting in VS Code.

See: https://github.com/jdneo/vscode-leetcode/issues/117#issuecomment-462615941

[2019-04-04 03:26] BoseSean opened #258 "`command 'leetcode.XXXXX' not found` after Upgrade to 0.13.2"
## 🐛 Bug Report

Any Command will result in `command 'leetcode.XXXXX' not found` error. And downgrade to 0.13.1 will resolve the errors.

## Extension Output

No output in OUTPUT CONSOLE.

`command 'leetcode.XXXXX' not found` in notification channel.
## Your Environment

[code]

[2019-04-04 04:31] Dark-Existed commented on #240
@jdneo hi, I have the same problem
![image](https://user-images.githubusercontent.com/24956657/55529679-25942780-56d5-11e9-8387-e65ae9d03b51.png)
I didn't use any proxy,  leetcode-cn work for me in broswer.
when I test my code, or submit my code, this error happen.
[ERROR] Error: connect ETIMEDOUT 47.99.228.218:443

[2019-04-04 04:56] jdneo commented on #258
Is there any output in the console if you click `Help` > `toggle developer tools`?

[2019-04-04 06:41] Vigilans commented on #247
Found the problem.

![image](https://user-images.githubusercontent.com/20227484/55534228-60528b80-56e6-11e9-9070-83331f4ac5d4.png)
@deadoggy The line 6 is `require("./LeetCodeStatusBarItem")`, the first letter to be **upper case `L`**.

However, in the published extension, there is

![image](https://user-images.githubusercontent.com/20227484/55534521-3f3e6a80-56e7-11e9-8dd2-008b823276af.png)

the

[2019-04-04 06:54] LucaPractice commented on #247
I made a low-level mistake. I installed the extension first and then installed nodejs. I found that I can't use it and I reinstalled the extension. I did not restart the vscode after uninstalling the extension, so I can't use it after reinstalling the extension.

[2019-04-04 07:00] z774379121 commented on #247
@Vigilans
It can be work when I use upper case L in out/src/statusbar/leetcodeStatusBarItem.js:6:33
Thanks!

[2019-04-04 07:03] Vigilans commented on #258
Please refer to this comment:
https://github.com/jdneo/vscode-leetcode/issues/247#issuecomment-479770731

[2019-04-04 07:08] jdneo commented on #258
Tracking in #247.

Sorry for the confusion I made here.

[2019-04-04 07:08] #258 closed

[2019-04-04 07:08] deadoggy commented on #247
@jdneo  @Vigilans It works after changing 'l' to 'L'. Thanks a lot!

[2019-04-04 07:09] jdneo commented on #247
@All

@Vigilans and I are working on release a hotfix `0.13.3` for this issue.

[2019-04-04 08:25] jdneo commented on #247
`0.13.3` released. Please feel free to let us know if you still meet the problem.

Thanks.

[2019-04-04 08:25] #247 closed

[2019-04-04 08:27] ShannonGu commented on #203
I also encountered the problem, then I install the old version, and it works.

[2019-04-04 08:29] jdneo commented on #203
@ShannonGu Please try `0.13.3`

[2019-04-04 08:36] ShannonGu commented on #203
@jdneo um.....0.13.3 suddenly works. Thanks!

[2019-04-06 08:10] Vigilans opened #261 "Solution webview doesn't decode unicode characters"
## 🐛 Bug Report

![image](https://user-images.githubusercontent.com/20227484/55666813-6e3f1280-5886-11e9-8499-7c0a9fcf0583.png)

\u2264 should have been ≤.

[2019-04-06 12:50] cakebytheoceanLuo opened #262 "Key Short cut map?"
Before you submit an question we recommend you to check out the [DOCUMENT](https://github.com/jdneo/vscode-leetcode/blob/master/README.md) and [TROUBLESHOOTING PAGE](https://github.com/jdneo/vscode-leetcode/wiki/Troubleshooting) first.

## 💬 Questions and Help

Is it possible, that we can use some keyboard short cut to 'test' or 'submit'?

[2019-04-06 14:36] Vigilans commented on #262
You can bind any of the vscode command to a key binding in `File -> Preferences -> Keyboard Shortcuts`

vscode-leetcode offer these two commands for you:
![image](https://user-images.githubusercontent.com/20227484/55670915-77e36d00-58bc-11e9-93b7-4dba00ff8348.png)

[2019-04-06 16:42] #262 closed

[2019-04-07 08:19] stultusverus opened #263 "Add "Pick One" button"
## 🚀 Feature Proposal

![image](https://user-images.githubusercontent.com/42622878/55680731-6fd90b00-5958-11e9-995f-6ff14b27536d.png)
This button circled in the image is the Pick One button. It picks a problem with a similar difficulty to your recent submissions. This could be very helpful for those who use leetcode as a daily exercise. Please add it into this addon!

[2019-04-08 01:03] jdneo commented on #128
Hey @taoweicn ,

I'm sorry that I'll close this issue since we do not get feedback from other users about the UI and it's currently a limitation about the VS Code API.

But still, thank you for your engagement.

[2019-04-08 01:03] #128 closed

[2019-04-08 08:03] hbsun2113 opened #264 "能否拉取已成功的submittion作为备份"
## 🚀 Feature Proposal

A clear and concise description of what the feature is.
这个插件很赞！我在使用这个插件前已经提交了很多题目，使用这个插件时发现不能查看之前的提交记录，就还是会依赖网页版。希望开发一个拉取已提交代码的功能。

## Motivation
可以将题目和代码保存到本地，然后push到自己的github仓库中

Please outline the motivation for the proposal.

## Contribution

Please describe the solution if you'd like to submit a PR.

[2019-04-08 08:12] jdneo commented on #264
Thanks for reporting. Closing for we already has a same feature request here: https://github.com/jdneo/vscode-leetcode/issues/69

[2019-04-08 08:12] #264 closed

[2019-04-08 08:31] sepetboy opened #265 "I cant sign in leetcode.com and get an error"
[ERROR] You are not login yet?
login: login: pass: - Signing in leetcode.com
login: pass: [ERROR] Error: connect ETIMEDOUT 104.24.124.31:443
- Signing in leetcode.com
[ERROR] Error: connect ETIMEDOUT 104.24.124.31:443

[2019-04-08 08:36] jdneo commented on #265
Are you behind a proxy?

[2019-04-08 08:53] sepetboy commented on #265
I am signed in the company network and should have a proxy

[2019-04-08 08:56] jdneo commented on #265
It could be related to that. Could you please try to update the proxy setting to see if it could be solved?

See: https://github.com/jdneo/vscode-leetcode/issues/117#issuecomment-462615941

[2019-04-08 09:13] sepetboy commented on #265
I set up the proxy and successfully signed in.

[2019-04-08 09:24] jdneo commented on #265
That's good to know!

[2019-04-08 09:24] #265 closed

[2019-04-08 12:14] #246 closed

[2019-04-09 07:53] Lw-Cui opened #267 "Add `like` & `dislike` count"
## 🚀 Feature Proposal

Add count of number of `like` or `dislike`.

## Motivation

Sometimes it's annoying to spend time on a problem that lots of people dislike it and suppose that it isn't worthy of energy (maybe its description is ambiguous, etc.) Users' feedback matters and it will be very helpful to have such rating.

[2019-04-10 12:09] MisterChegy commented on #44
Thanks,I've mixed up them.

[2019-04-10 12:39] YorksonChang opened #269 "Add a "show top solution" item to the right click menu, pls"
## 🚀 Feature Proposal

When right click on the editor window，show the  "show the top solution" option in the menu.
Then users needn't look up the problem on the left to get the solution.

## Motivation

直接在代码窗口右键即可查看本问题的最优解法，而不需要在左栏重新找问题然后找答案。

## Contribution

Please describe the solution if you'd like to submit a PR.

[2019-04-14 05:29] Vigilans commented on #267
Closed via https://github.com/leetcode-tools/leetcode-cli/pull/3 and #257.

[2019-04-14 05:29] #267 closed

[2019-04-14 08:43] Leslie-Wong-H commented on #101
同样出现了这样的问题，英文版账户

[2019-04-14 08:44] Leslie-Wong-H commented on #101
重启是可以用但是不久后又会出现同样问题——

[2019-04-14 08:56] Leslie-Wong-H commented on #101
而且这问题是我将英文版账户同步到中文版账户后才出现的，是不是中文版人气太弱？隐性地采取一些措施让用户使用中文版的endpoint？？？

[2019-04-14 09:07] jdneo commented on #101
@Leslie-Wong-H Are you sure your network environment is fine?

[2019-04-14 10:35] Leslie-Wong-H commented on #101
Probably, I am using College WiFi right now.  Maybe Switch to another network it will be fine. But the leetcode website always works good, making me doubt the network problem of vscode.

[2019-04-14 10:42] Leslie-Wong-H commented on #101
账号登录状态那里应该改进一下，有时候wifi掉线了，提交代码的时候就timeout了，所以一直知道自己的账号是在线还是离线的话还是挺好的。那个sigh in图标一直在那里一成不变的，有时候真不知道自己有没有登录成功，有再次输入账号密码登录一次的强迫症——

[2019-04-16 12:06] jdneo commented on #240
The needed plugins are now embedded into the cli.

[2019-04-16 12:06] #240 closed

[2019-04-16 12:30] jdneo opened #272 "Status bar will not honor the setting 'leetcode.enableStatusBar' when the extension is activated"

[2019-04-16 12:48] jdneo opened #274 "Accessing a resource scoped configuration without providing a resource"
The following warning can be seen in the debug console when debug the extension:

[shengchen.vscode-leetcode] Accessing a resource scoped configuration without providing a resource is not expected. To get the effective value for 'markdown.preview.fontFamily', provide the URI of a resource or 'null' for any resource.

[2019-04-16 12:54] jdneo commented on #269
Actions to take:

1. Add it into the context menu
2. Add it into the code lens shortcuts

[2019-04-16 12:59] Vigilans opened #276 "Enrich FAQ with several configuration-related questions"
## 🚀 Feature Proposal

- [x] Markdown related settings (for webview panel): #246
- [x] Key bindings for commands: #262
- [x] Proxy settings: https://github.com/jdneo/vscode-leetcode/issues/117#issuecomment-466770086

[2019-04-17 01:44] #146 closed

[2019-04-17 01:53] #272 closed

[2019-04-17 05:39] #274 closed

[2019-04-18 07:38] #261 closed

[2019-04-18 12:13] #276 closed

[2019-04-19 00:13] jjeejj commented on #62
我也来问一下，现在添加支持了吗？？

[2019-04-19 03:28] CuiYuXi opened #280 "使用邮箱和手机号都不能登录"
[ERROR] invalid password?

[2019-04-19 03:34] jdneo commented on #280
See： https://github.com/jdneo/vscode-leetcode/wiki/%E7%96%91%E9%9A%BE%E8%A7%A3%E7%AD%94#thinking-%E6%97%A0%E6%B3%95%E7%99%BB%E5%BD%95

[2019-04-19 03:38] CuiYuXi commented on #280
可以了，谢谢！
不好意思没有仔细看

[2019-04-19 04:20] #280 closed

[2019-04-19 10:13] Leslie-Wong-H commented on #164
Same demand.

[2019-04-19 10:34] Leslie-Wong-H commented on #240
Using 0.13.3 right now, but still got this problem.

Error: connect ETIMEDOUT 104.24.125.31:443

[2019-04-20 06:55] zheeeng opened #281 "Solved status is incorrect to SQL type problems."
## 🐛 Bug Report

After solving SQL problems, the problem status has no changes, it keeps unsolved, not accepted nor rejected.

![image](https://user-images.githubusercontent.com/1303154/56453958-47033d80-637c-11e9-99d2-bc9d738b2e53.png)

Problem 175, 176, 182, 196 should be marked as solved.

## Your Environment

- *os*: MacOS 10.11.6 (15G1217)
- *extension settings*:
- *nodejs version*:
- *vscode

[2019-04-21 07:05] weiweiwei256 opened #282 "Can not test or submit answer. [ERROR] http error [code=500] login in is successs."
Can not test or submit answer. [ERROR] http error [code=500]

[2019-04-21 10:52] jdneo commented on #282
Typically, 500 means internal server error, which might not be the extension's problem. Could you submit the answers now?

[2019-04-21 10:54] jdneo commented on #281
Dup with #91

[2019-04-21 10:57] zheeeng commented on #281
@jdneo This issue seems different with #91 , we lose SQL problem status icon even after two days. Other type problems have the correct status.

[2019-04-21 10:59] jdneo commented on #281
I see, let me take a look later

[2019-04-21 23:02] haomingvince opened #283 "Extension initialization failed."
## 🐛 Bug Report

Cannot initialize the extension.

## To Reproduce

The error message shows when i try to startup the extension.

## Extension Output
v11.14.0
undefined:1

SyntaxError: Unexpected token
undefined:1

SyntaxError: Unexpected token
Error: Command "node "C:\Users\[username]\.vscode\extensions\shengchen.vscode-leetcode-0.13.3\node_modules\vsc-leetcode-cli\bin\leetcode",plugin,-i,company

[2019-04-22 01:35] jdneo commented on #283
@haomingvince Could you please try to remove the folder `$HOME/.lc` and to see if the problem still occur?

[2019-04-22 02:19] haomingvince commented on #283
It worked! Thank you!

[2019-04-22 02:19] #283 closed

[2019-04-22 02:22] blanquizel commented on #155
746使用最小花费爬楼梯（leetcode）在leetcode网页版完成后，在插件中显示完成的是746前缀和后缀搜索（插件）。
在插件中提交747使用最小花费爬楼梯（插件）进行测试时，使用的默认测试用例是748至少是其他数字两倍的最大数（插件）的。

![Uploading image.png…]()
![Uploading image.png…]()

[2019-04-22 06:11] Vigilans commented on #263
Using `leetcode show` directly, we could randomly select a problem, yet it does not take recent submissions into account.

![image](https://user-images.githubusercontent.com/20227484/56485897-75ae1f00-6508-11e9-922f-88c0339fc4ad.png)

[2019-04-22 11:41] jdneo commented on #155
Closing this issue since this issue is addressed in `0.14.0` which will be released recently.

[2019-04-22 11:41] #155 closed

[2019-04-22 13:42] Vigilans opened #285 "Serialized webview to make rebuilding capable when reopening vscode"
## 🚀 Feature Proposal

https://code.visualstudio.com/api/extension-guides/webview#serialization

[2019-04-22 13:43] Vigilans opened #286 "Add a "show preview panel" item to the right click menu & codelens"

[2019-04-22 14:01] Vigilans commented on #246
14.0 is now updated.

[2019-04-22 15:03] donifer opened #287 "0.14.0 problem description"
## 🐛 Bug Report
Before 0.14.0 when I started a new problem the instructions would be in the new problem file commented out. But now I don't get the description in the problem's comments. I just get something like this without the description
[code]

## To Reproduce
Start any problem from the sidenav.

## Expected behavior
The problems should include the description.

## Extension Output
[code]

##

[2019-04-22 15:36] Vigilans commented on #287
We now rely on the preview panel to show problem description with better user experience:
![demo1](https://user-images.githubusercontent.com/20227484/56508589-4a065580-6557-11e9-91e6-b367363c3e52.gif)
![demo2](https://user-images.githubusercontent.com/20227484/56508592-4a9eec00-6557-11e9-8874-017ce5e0f077.gif)

Is there some reason for you to rely on the comment to provide description?

[2019-04-22 15:39] donifer commented on #287
I normally have my problems in a repo and in my use case its nice to have the description in the file itself for future reference.

I can see myself going back to the problems a few years from now, maybe outside of vscode, and it would be nice to still have the description easily available.

Having an opt-in option to add the description to the file would be awesome!

[2019-04-22 15:55] Vigilans commented on #287
I see. Will be back in next version.

[2019-04-23 01:16] jdneo commented on #287
@Vigilans

Since this is a breaking change we have introduced, how about we implement this and quickly release the `0.14.1` as a hotfix?

[2019-04-23 01:17] Vigilans commented on #287
Yes, I'm currently working on it (to provide an opt-in option)

[2019-04-23 01:19] jdneo commented on #287
@Vigilans Great! Thanks.

[2019-04-23 03:33] aqelkp opened #288 "Shortcut for submitting test cases."
## 🚀 Feature Proposal
First of all, kudos to the community for making the test submission easier with single click in the editor itself. I was thinking, can we have a keyboard shortcut for submitting test cases?

## Motivation
It is a pain to move the mouse and clicking after I make smaller changes continuously and testing.

## Contribution
Define a keyboard shortcut which user will be able to cha

[2019-04-23 04:28] jdneo commented on #288
@aqelkp This is achievable by Update the VS Code setting. See: https://github.com/jdneo/vscode-leetcode/wiki/FAQ#thinking-can-i-bind-the-keyboard-shortcut-to-the-extension-command

I'm closing this issue but please feel free to let us know if you have more questions.

[2019-04-23 04:28] #288 closed

[2019-04-23 06:47] roachsinai commented on #246
Seems the font of markdown still smaller than editor font size.

![image](https://user-images.githubusercontent.com/9500049/56560308-a2306c80-65d6-11e9-97f1-4e43e6858524.png)

[2019-04-23 06:57] jdneo commented on #246
@roachsinai Did you update the setting: `markdown.preview.fontSize`?

[2019-04-23 06:59] roachsinai commented on #246
@jdneo No, I didn't. Now, it workded, thanks!

[2019-04-23 23:05] chungchi300 commented on #73
The problem still exists on 13.1 in Centos VSCode 1.32.2

[2019-04-24 02:21] juyse commented on #287
Also there should be easier way to access preview panel when re-open the code file, something similar to the "submit" button ?

[2019-04-24 02:30] jdneo commented on #287
@juyse This is tracked by https://github.com/jdneo/vscode-leetcode/issues/286

[2019-04-24 02:45] yjaal opened #290 "problem of connect to leetcode"
when i connect to leetcode or leetcode China with vscode, the output is
Signing in leetcode.com
[ERROR] Error: connect ETIMEDOUT 47.99.228.218:443
you can find that everytime it connect to leetcode.com, it dosent connect to leetcode-cn.com
## 💬 Questions and Help

Please outline the questions.

[2019-04-24 04:39] jdneo commented on #290
@yjaal

Are you behind a proxy? https://github.com/jdneo/vscode-leetcode/wiki/%E7%96%91%E9%9A%BE%E8%A7%A3%E7%AD%94#thinking-%E6%97%A0%E6%B3%95%E7%99%BB%E5%BD%95

[2019-04-24 06:21] ZakaryCode opened #291 "The value of the outputFolder should be specify like `leetcode/${difficulty}`"
## 🚀 Feature Proposal

The value of the outputFolder should be specify the relative path with the reserved words such as `leetcode/${difficulty}`, not just export problem files in accordance with reserved words or relative path.

## Motivation

Export the problem files in specify path with classification.

[2019-04-24 06:26] jdneo commented on #291
Seems to dup with https://github.com/jdneo/vscode-leetcode/issues/151. Please let me know if your request is the same as that one.

[2019-04-26 01:10] yjaal commented on #290
no, perhaps is the problem of company network, i have succeed at home

[2019-04-26 01:27] jdneo commented on #290
@yjaal Thank you for the information. I'm closing this since it seems not a bug of the extension. Feel free to let me know if you have more questions.

[2019-04-26 01:27] #290 closed

[2019-04-26 02:38] zheeeng opened #292 "[0.14.0] Bring back supported langs in problem description"
As title.

[2019-04-26 03:11] jdneo commented on #292
Thank you for reporting. This is tracked by https://github.com/jdneo/vscode-leetcode/issues/287

[2019-04-26 03:12] #292 closed

[2019-04-27 05:11] yanzhang0219 commented on #287
When will you release 0.14.1 approximately? Is it possible to first release a version that at least supports this opt-in option to add descriptions in the problem's comment? Very desperate. Thanks a lot.

[2019-04-27 10:35] jdneo commented on #287
Hi @all

## TL;DR
We have released `0.14.1` to address this issue. If you want to see the problem description in the code comments. Just open the VS Code `Preferences` search `leetcode.showCommentDescription` and turn it on.

## Flow Up
@Vigilans has also proposed a [PR](https://github.com/jdneo/vscode-leetcode/pull/293) to provide more information during using the extension, and I believe it shou

[2019-04-27 10:35] #287 closed

[2019-04-27 11:51] Leslie-Wong-H opened #296 "When tried submit from command panel, it throwed [ERROR] File extension-output-#7 not exist"
## 💬 Questions and Help
When tried submit from command panel, it throwed

[ERROR] File extension-output-#7 not exist

No idea of what  was going wrong.

[2019-04-27 12:15] jdneo commented on #296
@Leslie-Wong-H Could you please provide more information about this issue.

Like a repro step, screenshot or a gif?

[2019-04-28 06:06] Leslie-Wong-H commented on #296
![image](https://user-images.githubusercontent.com/27696701/56859521-cddc9980-69be-11e9-87a5-335c3ebe20a5.png)

[2019-04-28 06:09] Leslie-Wong-H commented on #296
The submit button works well, but the command panel way fails.

[2019-04-28 06:22] Vigilans commented on #296
I tried to submit two-sum in python3 in 3 ways:
* Execute `Leetcode: Submit to Leetcode` in command palette
* Submit by `Submit` button in codelens
* Submit by right-click `Submit to Leetcode` option.

They all worked.

Could you please paste the complete log by `Ctrl+Shift+U` and switch to `Leetcode` channel?

[2019-04-28 06:48] MaxJohnXiang opened #298 "save username and password to avoid repeat input"
i always need input username and password when i use the plugin because of session expired.

[2019-04-28 08:45] jdneo commented on #298
Do you first login into the extension, then login into the LeetCode in browser? If that is the case, your session in the extension will expire.

[2019-04-28 14:57] Leslie-Wong-H commented on #296
Sorry to delay. Now when I repeat the same step, it throw the correct output. Quite wired.

I remember the behavior I took before the error is that I linked my solutions to the GitHub repository, and move the solution files from the original directory .leetcode to a new sub-directory of .leetcode --  leetcode_solution_python, within a new workspace.

Now that the  error somewhat disappears, only t

[2019-04-29 01:33] jdneo commented on #296
Closing it for now since the issue seems to be resolved. Please feel free to leave the comment when you meet it again.

[2019-04-29 01:33] #296 closed

[2019-04-29 05:26] Vigilans opened #299 "Store problems cache in treeview"
## 🚀 Feature Proposal

TreeviewProvider should hold the ownership of all problems, and expose an interface to retrieve a problem by its id.

[2019-04-29 05:29] jdneo commented on #299
I would suggest that we extract this as a new component to cache the problem metadata. Since it seems that we have other components that may leverage this cache.

[2019-04-29 05:31] jdneo commented on #292
We have released `0.14.1` to address this issue. If you want to see the problem description in the code comments. Just open the VS Code `Preferences` search `leetcode.showCommentDescription` and turn it on.

[2019-04-29 06:25] ZakaryCode commented on #291
Yes, it looks similar. Should I close this issue?

[2019-04-29 07:13] jdneo commented on #291
Thank you. Then let's track this in #151

[2019-04-29 07:13] #291 closed

[2019-04-30 03:21] nkcoder opened #300 "Could `Show top voted solution` be solutions in all languages?"
## Show top voted solution

For example, my favorite language is Scala, or I'm learning Scala, and I finish a problem with Scala. Now I want to see `top voted solution`, it only shows top voted solutions in Scala which displays an error most of the time (because no solutions in Scala for the problem).

`Failed to fetch the top voted solution. Please open the output channel for details.`

## Right

[2019-04-30 03:25] jdneo commented on #300
For the second problem, you can disable the leetcode extension in the workspace that you do not want to activate it.

![image](https://user-images.githubusercontent.com/6193897/56939404-b3c7c600-6b3a-11e9-9c4f-f6b1c8ca0438.png)

[2019-04-30 09:41] xspyhack opened #303 "Add `Lists` support"
## 🚀 Feature Proposal

Such as `Top 100 Liked Questions` and `Top Interview Questions`, and move `Favorite` to `Lists` as sub category, just like the official web site.

## Motivation

Move `Favorite` to `Lists` as sub category.

## Contribution

NO

[2019-05-03 13:11] haixinn commented on #155
version 0.14.1
![image](https://user-images.githubusercontent.com/12841947/57139457-e34f2a80-6de7-11e9-86ef-c6b0254b65dd.png)

[2019-05-03 13:14] haixinn commented on #155
delete cache

[2019-05-03 20:46] AB1908 opened #304 "Cannot sign in using a password generated by KeePass"
## 🐛 Bug Report
I use KeePass to generate and manage all my passwords. My password is a randomly generated string containing special characters of length 12. I have verified that I am able to sign in via Firefox and Chrome, but not via the Leetcode extension. I followed the steps in the FAQ to no avail.

## To Reproduce

1. Generate a random password using any decent password generator which also

[2019-05-04 02:33] jdneo commented on #155
For anyone who encounters this problem, please try delete cache first. (It's located at `$HOME/.lc/`)

[2019-05-04 21:17] shizn opened #305 "Fetching Python3 is Python"
## 🐛 Bug Report

Fetching Python3 is Python

## To Reproduce

Select Python3 as the language when start coding.
![image](https://user-images.githubusercontent.com/3619378/57184877-2dcbb800-6e77-11e9-8abb-69a024dae4e9.png)

You will get this code
![image](https://user-images.githubusercontent.com/3619378/57184882-3b813d80-6e77-11e9-840b-2a8d285ee6a2.png)

But actually if you visit the web page of t

[2019-05-05 01:36] jdneo commented on #305
Hi @shizn,

This might because of the out-of-date cache of the `leetcode-cli`. You can remove the content under the folder `$HOME/.lc` and try it again.

Thanks.

[2019-05-05 11:19] #282 closed

[2019-05-06 03:19] hourmor opened #306 "remote-wsl bug"
## 🐛 Bug Report
当我尝试登陆时，会出现下面的提示：

[ERROR] Error: connect ECONNREFUSED 104.31.85.65:443
## Your Environment

- *os*: win 10
- *extension settings*: default
- *nodejs version*: stable version in wsl
- *vscode version*: latest vscode insider
- *extension version*: lastest

[2019-05-06 03:34] jdneo commented on #306
Please check: https://github.com/jdneo/vscode-leetcode/wiki/%E7%96%91%E9%9A%BE%E8%A7%A3%E7%AD%94 to see if could help

[2019-05-06 03:41] hourmor commented on #306
I successfully signed in and get the data in my stable version Vscode , and I'm sure that I did follow the same steps  in my Vscode insider as well.

[2019-05-06 04:18] jdneo commented on #306
@hourmor Sorry I didn't quite get your point. Do you mean that you can successfully sign in but just see an error in the output? Is there any broken functionality?

[2019-05-06 04:36] hourmor commented on #306
My fault , I should give more details. The occasion is that , I can sign in but I when it try to receive data "Successfully login as xxx
- Downloading problems" then it comes error , "[ERROR] Error: connect ECONNREFUSED " . // the reason why i can't directly post the picture is that i found it work when come back to my dormitory , i can't take screenshot about it. It's so strange , as this  plugin

[2019-05-06 04:41] hourmor commented on #306
My fault , I should give more details. The occasion is that , I can sign in but I when it try to receive data

"Successfully login as xxx
Downloading problems" then it comes error , "[ERROR] Error: connect ECONNREFUSED " .

the reason why i can't directly post the picture is that i found it work when i come back to my dormitory , i can't take screenshot about it. It's so strange , as this plugin w

[2019-05-06 04:53] jdneo commented on #306
@hourmor This might be related to the network environment. Maybe you are behind the proxy in your classroom(I guess).

I'm closing it for now since the problem seems to have been resolved. Just free feel to let me know if you have any more questions.

Thanks

[2019-05-06 04:58] hourmor commented on #306
it works well in win 10 stable version vscode in my classroom , but it didn't work in remote-wsl / vscode insider . I will check my network .

Thank you.

[2019-05-06 05:39] jdneo commented on #306
It will be interesting to use the extension in WSL. I'll try it too.

[2019-05-06 05:39] #306 closed

[2019-05-06 15:45] Vigilans opened #307 "Binary tree visualization in <pre> tag inproperly trimmed"
## 🐛 Bug Report

![image](https://user-images.githubusercontent.com/20227484/57236931-a9388f80-7058-11e9-8ff4-130b977772e0.png)

Reason:
[code]
The `<pre>\s*` reduces all the white spaces. In fact, only `\r\n` is needed to not be caught.

[2019-05-07 01:13] #299 closed

[2019-05-07 05:26] miafan23 commented on #287
@jdneo hello, the description window still open automatically after I have turn the `leetcode.showCommentDescription` option on, is there any way to disable it because the description have been displayed in the file already and I did not need it anymore.

[2019-05-07 05:32] Vigilans commented on #287
@miafan23 Just out of doubt, what if there are pictures or highlighted characters in the description?

[2019-05-07 05:34] Vigilans commented on #287
@miafan23 Maybe `showCommentDescription` should be changed to a setting with multiple choices: "No", "With webview", "Only in comment"

[2019-05-07 09:11] jdneo commented on #287
@miafan23 Thank you for reporting.

Would you mind to create a new issue to track this?

[2019-05-07 11:45] #307 closed

[2019-05-08 02:12] miafan23 opened #310 "Multiple choices for the leetcode.showCommentDescription setting"
## 🚀 Feature Proposal

Provide multiple choices for the leetcode.showCommentDescription, like "No", "With webview", "Only in comment"

## Motivation

As discussed in #287 , most of the time, I prefer disable the description panel while the description have been displayed in the code file.

## Contribution

Please describe the solution if you'd like to submit a PR.

[2019-05-08 02:42] HenryCharles commented on #220
I have the same question...and I don't know how to solve it..

[2019-05-08 02:53] HenryCharles commented on #220
按照操作步骤进行的时候会弹出Failed to sign in. Please open the output channel for details
然后选择open之后，信息如下：
login: pass: - Signing in leetcode.com
- Retrieving user favorites
[WARN] Favorite not found?
- Retrieving user profile
Successfully login as JustinAngeles
但是我左边没有出现题目，还是sign in to leetcode, 请问是什么原因？

[2019-05-08 07:20] YangZhao71 opened #311 "Directly click on the problem or right click the problem only has " show problem" option"

[2019-05-08 07:39] jdneo commented on #311
Could you explain more about this issue?

[2019-05-08 08:23] ConstanTineYoung commented on #311
There's no " show top voted solution" option when I right clicked on the problem.

[2019-05-08 08:24] jdneo commented on #311
@ConstanTineYoung  what's your extension version?

[2019-05-08 08:26] ConstanTineYoung commented on #311
0.12.0

[2019-05-08 08:28] jdneo commented on #311
Please upgrade it to the newest one, which is `0.14.1` right now.

[2019-05-08 08:30] #184 closed

[2019-05-08 08:49] louiewh opened #312 "can't login in"
## 🐛 Bug Report

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior.

## Expected behavior

A clear and concise description of what you expected to happen.

## Extension Output

Paste here the LeetCode extension log from output channel.

Guidance: Press `Ctrl+Shift+U`, and toggle the channel to `LeetCode`.

## Your Environment

- *os*:  linux
- *e

[2019-05-08 08:50] ConstanTineYoung commented on #311
I installed it today, it shows 0.14.1 on store, but after I installed it, it shows 0.12.0 on my computer. My operating system is Windows 10 professional.

[2019-05-08 08:51] louiewh commented on #312
login: pass: - Signing in leetcode.com
[ERROR] Error: tunneling socket could not be established, cause=write EPROTO 139906267883328:error:1408F10B:SSL routines:ssl3_get_record:wrong version number:../deps/openssl/openssl/ssl/record/ssl3_record.c:252:

[2019-05-08 08:56] jdneo commented on #312
Please check: https://github.com/jdneo/vscode-leetcode/wiki/Troubleshooting

[2019-05-08 08:57] jdneo commented on #311
Please make sure your environment has met the requirement: https://github.com/jdneo/vscode-leetcode#requirements

[2019-05-08 22:14] zhouchenzc0824 opened #314 "cannot find module 'github' when submit problem"
## 🐛 Bug Report

will throw CANNOT FIND MODULE 'github' when submit solution
testing feature is fine

I can submit my solution via leetcode-cli

A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior.
Just submit the question, it will throw error

## Expected behavior

A clear and concise description of what you expected to happen.

## Extension Output

[2019-05-09 01:12] jdneo commented on #314
@zhouchenzc0824 Could you please try to remove the entire directory: `/Users/czhou133/.vscode/extensions/shengchen.vscode-leetcode-0.14.1/` and reinstall the extension again?

[2019-05-09 02:18] zhouchenzc0824 commented on #314
yea thx it worked i have no idea why it was like this coz i never made any changes or update to the extension. LOL

[2019-05-09 02:25] jdneo commented on #314
@zhouchenzc0824 maybe the vsix downloaded is corrupted or some IO failure.

I'm closing this issue since the problem seems to be solved.

[2019-05-09 02:25] #314 closed

[2019-05-09 04:43] jdneo opened #315 "Survey: location to show the webview"
Today, the extension has three kinds of webviews which are: `Preview`, `Top Voted Solution` & `Result`. Each of them has its own logic to show in some certain places:
- `Preview`: Determined by the setting `leetcode.enableSideMode`
- `Solution`: Get the location of `Preview` page. If there's no opened `Preview` page, it will show in the active column
- `Result`: Always in `Column Two`

Here are so

[2019-05-09 04:44] jdneo commented on #315
### Just use current implementation without any change

Click 👍 if you vote for this

[2019-05-09 04:44] jdneo commented on #315
### Always show in the active column

Click 👍 if you vote for this

[2019-05-09 04:44] jdneo commented on #315
### Always show in `Column Two`

Click 👍 if you vote for this

[2019-05-09 04:44] jdneo commented on #315
### Always fetch the setting `leetcode.enableSideMode` before showing for all the three webviews

Click 👍 if you vote for this

[2019-05-09 04:45] jdneo commented on #315
### Each webview has its own setting to determine the location

Click 👍 if you vote for this

[2019-05-09 18:23] #281 closed

[2019-05-10 03:05] #269 closed

[2019-05-10 03:26] jdneo commented on #303
Dup with #200

[2019-05-10 03:26] #303 closed

[2019-05-12 05:50] jdneo opened #316 "Update the gif and screenshot"
We have some out of date screenshot there

[2019-05-12 09:14] #298 closed

[2019-05-12 10:15] zwkcoding commented on #101
same problem...

[2019-05-13 07:24] #305 closed

[2019-05-14 09:00] ZakaryCode opened #318 "hideSolved is not working"
## 🐛 Bug Report

hideSolved is not working in v0.14.2

## To Reproduce

Set hideSolved value to true.

## Expected behavior

Specify to hide the solved problems.

## Extension Output

[code]

## Your Environment

- *os*: win10.0.15063.1387
- *extension settings*: "hideSolved": true
- *nodejs version*: v11.9.0
- *vscode version*: v1.33.1
- *extension version*:v0.14.2

[2019-05-15 03:28] JJJAMM opened #320 "Failed to show the problem. Please open the output channel for details."
Failed to show the problem. Please open the output channel for details.
LeetCode CN

when open the question 141 and 142, and When click “Code Now”, the system prompts this error and cannot display the code edit box. However, other problems do not have this error for the time being.

[2019-05-15 04:30] jdneo commented on #320
Is there any output in the output channel?

[2019-05-15 06:16] jjeejj opened #321 "leetcode.outputFolder not work"
set `"leetcode.outputFolder": "E:/study/leetcode/${difficulty}/${tag}/${language}",` is not work

 it generate file  in vscode currently open workspace
![image](https://user-images.githubusercontent.com/15176971/57752384-95a5bc80-771b-11e9-9ed8-7dfaea26869b.png)

version: 1.33.1 (user setup)
Electron: 3.1.6
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 6.1.7601

LeetCode

[2019-05-15 06:57] jdneo commented on #321
Hi @jjeejj,

The setting `leetcode.outputFolder` is to set the relative path, not an absolute path. See: https://github.com/jdneo/vscode-leetcode#settings

To solve your problem, we have several related tracking issues here:
- Let the user set the workspace folder to save the file: https://github.com/jdneo/vscode-leetcode/issues/130
- Support interpolation in output folder settings: https://github

[2019-05-15 06:57] #321 closed

[2019-05-15 08:57] pgr2015 opened #322 "Error: The environment doesn't meet requirements."
Hi, I am facing setting problem, leetcode.XXX are all not found.

os: windows 10
vscode: 1.33.1
node.js: 10.15.3

I have set node.js path as "A:\Program Files\nodejs\node.exe", where is the absolute install path.
When I give command as node -v in terminal, I can get the correct version information, so I guess the node.js is installed properly.

I am new to vscode settings, so could someone help me

[2019-05-15 09:00] jdneo commented on #322
@pgr2015 Since you have already put node executable into your path, you can just set `leetcode.nodePath` to its default value, which is `node`.

Please let me know if this can help solve your problem. thanks

[2019-05-15 09:08] pgr2015 commented on #322
@jdneo thank you for your very quick reply, but I still have the problem.

vscode can now find node.js but continue giving error like  leetcode.XXX not found.
I guess, I just don't set up correctly. Any idea?

Thank you very much!

[2019-05-15 09:10] jjeejj commented on #321
@jjeejj
i read the related source code
[code]
the config `leetcode.outputFolder` is relative current workspaceFolder

If the open workspace is inconsistent with the previous one, leetcode.outputFolder relative path  corresponding  actual path is different.

Why not?
if  the `leetcode.outputFolder` config is absolutely path ,  use this path directly
if  the `leetcode.outputFolder` config is relativ

[2019-05-15 11:05] jdneo commented on #322
It's hard for me to say what's happening according to the current information. Are you sure the VS Code session has `node` in its path? what if you close all the VS Code instances and start it again? Do not start if from the file explorer because the explorer session may not have node in its path.

[2019-05-15 11:08] jdneo commented on #321
Just as I have said before. If there is a setting to specify the workspace path for the leetcode files (That's what #130 talks about), then it will be confusing if `leetcode.outputFolder` can set to an absolute path, since there will be some conflicts there.

[2019-05-15 11:11] #318 closed

[2019-05-15 11:23] pgr2015 commented on #322
@jdneo thank you so much for your advice, I just reboot my computer and everything starts to work properly.  So you are you are right, all I need to do is just refresh vscode completely.

Thank you!

[2019-05-15 11:23] #322 closed

[2019-05-15 15:18] jjeejj commented on #321
I don't think so.
I don't think `the leetcode outputFolder` and `current workspaceFolder`  have anything to do with it.

because i can open one folder  in any path , use leetcode extension
if i do it , it will generator many  leetcode code file in different workspaceFolder
Hard to maintain local leetcode code

[2019-05-16 00:05] jdneo commented on #321
The extension can detect if the path is opened in the current workspace. If not, prompt the user to open it or add it into the current workspace

[2019-05-16 00:56] chonley opened #324 "Can't submit or test my answers ,the console write the [ERROR] Error: read ECONNRESET"
[ERROR] Error: read ECONNRESET

[2019-05-16 01:02] jdneo commented on #324
Please make sure your network environment is ok. If you are behind a proxy, please set the [related setting accordingly](https://github.com/jdneo/vscode-leetcode/wiki/Troubleshooting#thinking-cannot-sign-in).

[2019-05-17 00:07] jjeejj commented on #321
that menas ，I can't use this feature right now ?

I hope the config `leetcode.outputFolder` support relative path and absolutely path
because I often open different projects using leetcode extension at different times

[2019-05-17 00:17] jjeejj commented on #176
in `leetcode.outputFolder` config, i use together ${tag}, ${difficulty}, ${language}
`"leetcode.outputFolder": "./${difficulty}/${tag}/${language}"`

but outFolder,  Only ${difficulty} worked
![image](https://user-images.githubusercontent.com/15176971/57895036-20053200-787c-11e9-9335-ba99c606d94a.png)

[2019-05-17 01:37] jdneo commented on #176
@jjeejj This PR is addressing your problem

[2019-05-17 03:35] asurance opened #325 "登陆时是不是描述错误"
Before you submit an question we recommend you to check out the [DOCUMENT](https://github.com/jdneo/vscode-leetcode/blob/master/README.md) first.

You can also find more information in:
- [TROUBLESHOOTING](https://github.com/jdneo/vscode-leetcode/wiki/Troubleshooting)
- [FAQ](https://github.com/jdneo/vscode-leetcode/wiki/FAQ)

## 💬 Questions and Help

Please outline the questions.
提示输入user name ，但

[2019-05-17 04:27] jdneo commented on #325
Thanks. A better description should be `Username or E-mail`
![image](https://user-images.githubusercontent.com/6193897/57903102-28bb2f80-789f-11e9-92cf-ed9b4b645edf.png)

[2019-05-17 06:36] jdneo opened #326 "Refine the error handling logic"

[2019-05-17 07:34] #325 closed

[2019-05-18 03:01] seanxuu opened #328 "装了node.js 还是会报leetcode.xxx 错误"
## 🐛 Bug Report

装了node.js 还是会报leetcode.xxx 错误

## To Reproduce

我按照安装文档里的要求装了vscode 1.33.1 和 node.js 10.15.3 ，但是仍然会出现leetcode.xxx错误，我仔细查看了PATH和leet设置里的node.js路径，确信都无误。看了之前的issue，发现装上leetcode 0.12.0版本就不会出现这个情况。但是又会经常出现 Failed to submit the solution. Please open the output channel for details. 这个错误。

## Your Environment

- *os*: win10
- *extension settings*:按照文档要求设定
- *nodejs version*: 10.15.3
- *v

[2019-05-18 06:50] jdneo commented on #328
If your path has `Node.js` executable, there is no need to set the setting `leetcode.nodePath`. I think your problem is very similar to this one: https://github.com/jdneo/vscode-leetcode/issues/322#issuecomment-492614709

Please do remember that the path environment variable won't be automatically updated in the same session. You need to close the VS Code entirely and restart it from a new session

[2019-05-18 06:56] #151 closed

[2019-05-18 13:23] seanxuu commented on #328
“set leetcode.nodePath to its default value, which is node” helps me.

[2019-05-19 02:11] #328 closed

[2019-05-20 06:48] chenyuhu opened #330 "Error: Cannot find module 'underscore'"
运行报错，查看不了题目，提示当前没有课提供的视图数据的提供来源注册

[2019-05-20 07:34] jdneo commented on #330
@zhouchenzc0824 Could you please try to remove the entire directory: `/Users/<your user name>/.vscode/extensions/shengchen.vscode-leetcode-0.xx.x/` and reinstall the extension again?

[2019-05-20 07:38] chenyuhu commented on #330
Thank you very much, this is feasible.

[2019-05-20 07:57] jdneo commented on #330
Close the issue since it seems having been resolved.

[2019-05-20 07:57] #330 closed

[2019-05-20 08:35] Wanger-SJTU opened #331 "ico on side bar disappeared after vscode updated"
## 🐛 Bug Report

after updating the vscode to 1.34.0, the ico became transparent.

## Your Environment

- *os*: x64 10.0.17134
- *extension settings*:
- *nodejs version*:10.2.0
- *vscode version*:1.34.0
- *extension version*: 0.14.3

[2019-05-20 09:11] jdneo commented on #331
Could not repro on my side
![image](https://user-images.githubusercontent.com/6193897/58010049-392f0c80-7b22-11e9-8228-7ab0ccc637c5.png)

Have you tried restarting your VS Code?

[2019-05-20 11:26] Wanger-SJTU commented on #331
still nothing to show.
![image](https://user-images.githubusercontent.com/35162184/58018215-c8ddb680-7b34-11e9-975f-5b7873ca01fe.png)

And buttons got no response
![image](https://user-images.githubusercontent.com/35162184/58018279-f88cbe80-7b34-11e9-9193-0b97fa32c162.png)

[2019-05-20 12:57] jdneo commented on #331
Have you tried this? https://github.com/jdneo/vscode-leetcode/wiki/%E7%96%91%E9%9A%BE%E8%A7%A3%E7%AD%94#thinking-%E6%8F%90%E7%A4%BA%E9%94%99%E8%AF%AF-command-leetcodexxx-not-found

[2019-05-21 01:40] Wanger-SJTU commented on #331
Tried, but still not work

[2019-05-21 01:43] Wanger-SJTU commented on #331
after reinstall, problem solved

[2019-05-21 01:43] #331 closed

[2019-05-24 00:57] chonley commented on #324
ok, it's work,thanks;

[2019-05-24 03:11] #312 closed

[2019-05-24 11:56] #324 closed

[2019-05-25 04:44] holajoyce opened #332 "the number of problems available is less than on leetcode website"
## 🐛 Bug Report

A clear and concise description of what the bug is.

## To Reproduce

I clicked on the 'all' tab of the tree, and I see that the last problem is 1031, but in leetcode.com there are more problems after 1031.

## Expected behavior

A clear and concise description of what you expected to happen.

## Extension Output

Paste here the LeetCode extension log from output channel.

Guidanc

[2019-05-27 05:05] ketankr9 commented on #69
Can we fetch our previous submissions? Or the latest one?

[2019-05-29 01:55] jdneo commented on #332
@holajoyce Could you please try the solution @oneyuan provided?

[2019-05-29 05:45] lwjcjmx123 opened #333 "是否可以在title 上添加 难度提醒"
## 🚀 Feature Proposal

我目前是按照难度来刷题的。虽然有那个难度的分类，但是如果我想针对某些tag 比如动态规划来刷题的时候，我不能一眼看出来哪些是简单难度的。

## Motivation

希望title 能显示成这样
[1] 两数之和  easy/简单/e
[2] 两数相加 medium/中等/m

## Contribution

如果觉得这个提议可行的话，我可以提交一个pr

[2019-05-29 05:57] lujiangping-synyi opened #334 "Prompt the users to select endpoint before sign in"
## 🐛 Bug Report

When user only register in the leetcode-cn, vs code plug-in of leetcode's default endpoint is leetc-de-com, and just return "invalid password?"

## To Reproduce
install the leetcode plug-in
register a new account only in leetcode-cn: https://leetcode-cn.com
Click the Sign in to LeetCode in vs code

## Expected behavior
Solution 1: Should return clearly information to user for curr

[2019-05-29 07:25] jdneo commented on #334
Hi @lujiangping-synyi,

Thank you for your feedback. Unfortunately, the LeetCode does not share the accounts with LeetCode-CN. We have related docs to hint user about this: https://github.com/jdneo/vscode-leetcode/wiki/Troubleshooting#thinking-cannot-sign-in

Regarding your solutions,

1. I think it's hard to achieve because as of the extension, it's impossible to know whether the login failure is

[2019-05-29 07:38] jdneo commented on #333
Hi @lwjcjmx123,

Good to know you are willing to contribute. I think we have a duplicated issue here: https://github.com/jdneo/vscode-leetcode/issues/192. So let's just close this one and discuss the implementation details in that issue.

Instead of appending `easy/简单/e` at the end of the node. I prefer to use different colors to represent the different level. Just as the LeetCode website does:

!

[2019-05-29 07:38] #333 closed

[2019-05-30 09:22] Leslie-Wong-H opened #335 "Make it possible to customize the shortcuts in editor"
Now the latest version of vscode-leetcode adds solution shortcut to the answer file window, yet does not provide a setting to hide the solution shortcut. In my own experience, the solution shortcut is somehow disturbing, forcing me to click it more or less. That's really not good when I try to solve the problem by my own.

I look through the leetcode settings, only to find Leetcode: Enable Shortcu

[2019-05-30 09:41] jdneo commented on #335
Thank you for the feedback. Let me think about if we can have a way to let the user customize the shortcuts by his own. Like, make the configuration become an array:

[code]

something like that.

Feel free to let me know your thoughts.

[2019-05-30 12:47] Leslie-Wong-H commented on #335
Sounds like a reasonable proposal.

[2019-05-30 15:49] lightingtime commented on #320
i have the same problem.
the output
v11.9.0
 Active  Name               Version         Desc
----------------------------------------------------------------------------------------------------
   √     solution.discuss   2019.02.03      Plugin to fetch most voted solution in discussions.
   √     company            2017.12.18      Plugin to query by company for free user.
   √     cache

[2019-05-31 01:50] jdneo commented on #320
@lightingtime what if you remove the cache folder `$HOME/.lc/` entirely. And try it again?

[2019-05-31 04:04] lightingtime commented on #320
i use windows 10 ,so i can't find folder $HOME/.lc/ entirely , can you tell me more about it ?

[2019-05-31 04:25] jdneo commented on #320
@lightingtime you can Call `echo %userprofile%` in the `cmd` to get your home path

[2019-05-31 05:27] lightingtime commented on #320
I deleted all the files under the .lc folder, and the problem still have.

[2019-05-31 05:40] jdneo commented on #320
Problem 141 and 142?

[2019-05-31 05:48] lightingtime commented on #320
i think it is not same

[2019-05-31 06:02] jdneo commented on #320
Please provide more information to help diagnostic. So far I cannot repro it on my side. The information could include:

1. Endpoint being used
2. problem number which cannot show
3. If there is any suspicious output in the output channel
4. If there is any output in the console (You can check it by `Help` > `Toggle Developer Tools` > `Console`)

[2019-05-31 06:16] lightingtime commented on #320
1.leetcode
2.all the problem
3.output channel is same as i described like above.
4.i have two error show here:
1)workbench.main.js:238 [Extension Host] (node:10864) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.
t.log @ workbench.main.js:238
2)workbench.main.js:2365 Fa

[2019-05-31 06:21] jdneo commented on #320
@lightingtime Thank you for the information. Do you have any customized `leetcode` settings?

[2019-05-31 06:39] lightingtime commented on #320
<img width="513" alt="41f977e5f66a31623d7120837f9fe64" src="https://user-images.githubusercontent.com/13469581/58686549-b6277500-83b1-11e9-9c1f-935e1049de17.png">
<img width="391" alt="09192f69d49e0639327e62aecea37ad" src="https://user-images.githubusercontent.com/13469581/58686570-c2abcd80-83b1-11e9-8ada-8f53c6cd2b7c.png">
<img width="377" alt="592ff4090e34d6ab42ac275f86eab7c" src="https://user-i

[2019-05-31 06:45] jdneo commented on #320
The problem is the `outputFolder` setting. As the setting description says: Specify the **relative** path to save the problem files. There is no need to provide an absolute path here.

Change your setting to `"leetcode.outputFolder": "${difficulty}"` should resolve your problem.

[2019-05-31 06:50] lightingtime commented on #320
<img width="444" alt="eb77029f02ff642c1d4bc19e343951b" src="https://user-images.githubusercontent.com/13469581/58686998-ede2ec80-83b2-11e9-8845-8e2991569206.png">
like this? i restart vscode but i still have the problem, i think the problem is not the outputFolder setting. i used my setting before.

[2019-05-31 07:06] jdneo commented on #320
No, I write `"leetcode.outputFolder": "${difficulty}"` is because all the settings are actually json formatted. In your case, just enter `${difficulty}` in the input box should be fine

[2019-05-31 07:12] lightingtime commented on #320
emmm, i still have the problem

<img width="414" alt="34aaca1ba28d2cea82f5bee33cb61be" src="https://user-images.githubusercontent.com/13469581/58688240-7fa02900-83b6-11e9-895d-175360f8eed3.png">

[2019-05-31 07:14] jdneo commented on #320
What's your setting now? You can check them by clicking the `{}` button
![image](https://user-images.githubusercontent.com/6193897/58688353-c42bc480-83b6-11e9-9de4-628bb8554d19.png)

All the leetcode related settings are starting with `leetcode`

[2019-05-31 07:16] lightingtime commented on #320
<img width="633" alt="13ad1829bdd763a1ca42d5267a38e8b" src="https://user-images.githubusercontent.com/13469581/58688461-1240c800-83b7-11e9-922d-41f6cc7bd2a5.png">

[2019-05-31 07:19] jdneo commented on #320
No need to escape the `"`. Just

![image](https://user-images.githubusercontent.com/6193897/58688553-651a7f80-83b7-11e9-9da8-79f5a26bba4b.png)

Or

![image](https://user-images.githubusercontent.com/6193897/58688572-6cda2400-83b7-11e9-8774-80a0dc6d5690.png)

[2019-05-31 07:25] lightingtime commented on #320
emmmmm. it does not work.

[2019-05-31 07:29] lightingtime commented on #320
...it works ! but i still confused that the previous settings were working.

[2019-05-31 07:29] #320 closed

[2019-05-31 07:33] jdneo commented on #320
Follow-up: https://github.com/jdneo/vscode-leetcode/issues/160 should be resolved ASAP to avoid confusion.

[2019-05-31 08:04] jdneo commented on #311
Closing it since it's inactive for a long time.

[2019-05-31 08:04] #311 closed

[2019-06-01 02:16] jdneo commented on #160
Addressed in #336

[2019-06-01 02:16] #160 closed

[2019-06-01 02:32] #129 closed

[2019-06-01 02:41] jdneo commented on #304
@AB1908 I tried a password which is `!@#$%^&*()` and can successfully signed in. Please make sure you are using the correct endpoint. The LeetCode and LeetCode-CN do not share the same account system.

[2019-06-01 02:46] AB1908 commented on #304
I tried both endpoints.
________________________________
From: Sheng Chen <notifications@github.com>
Sent: Saturday, June 1, 2019 8:11:51 AM
To: jdneo/vscode-leetcode
Cc: Abhishek Bhattacherjee; Mention
Subject: Re: [jdneo/vscode-leetcode] Cannot sign in using a password generated by KeePass (#304)

@AB1908<https://github.com/AB1908> I tried a password which is !@#$%^&*() and can successfully sign

[2019-06-01 02:55] jdneo commented on #304
Hmmm, tried it again in Fedora but still cannot repro. If someone has any clue for this issue. Please feel free to let me know.

[2019-06-01 12:37] #286 closed

[2019-06-03 02:07] #91 closed

[2019-06-03 02:44] jdneo commented on #335
I'll start working on this these days.

[2019-06-03 06:35] #335 closed

[2019-06-04 05:46] lujiangping-synyi commented on #334
Great, Thank you for taking my suggestion

[2019-06-06 03:29] seognil opened #341 "feat: Any chance for `multi language` session switch?"
## 🚀 Feature Proposal

Thanks for the work! 😄

I thought it would be great if it could has `multi language` session switch feature.

I saw there was already a session feature, but I'm confused with the configuration,
(I could not found much detailed description in readme... 🤔)

Is there a separate config file like `.leetcoderc`? or only in vscode's `settings.json`

(Maybe a local `leetcode-progres

[2019-06-08 06:26] jdneo commented on #334
@lujiangping-synyi Let's just leave it open because I want to see if there are more users have the same requirement for this.

[2019-06-08 06:29] jdneo commented on #341
Hi @seognil,

Would you mind to describe more about the `multi-language session`? Just not quite get your point. 😄

[2019-06-08 07:20] ysyshtc opened #342 "Enable line break in "Example" section of the LeetCode preview pages"
## 🚀 Feature Proposal

For some LeetCode problems, such as 190. Reverse Bits, due to the long explanation in "example" section, the rendered webpage is not so user friendly currently. It seems reasonable to have line break there or at least make an enable switch.

## Motivation

Improve the user experience of preview page.

[2019-06-08 07:56] #316 closed

[2019-06-08 08:04] seognil commented on #341
(Oh, I get it now, the `session` feature is from leetcode.com, I can manage that on the website.)

---

The remaining problem is, `language`
I mean `programing language` (or `defaultLanguage` of the api),

I thought it could be better if each session has its own `defaultLanguage` config in local.
(I only found the global `leetcode.defaultLanguage` in `settings.json` in vscode now)

For example:

[

[2019-06-08 09:09] jdneo commented on #341
Switch session is supported in the extension, see: https://github.com/jdneo/vscode-leetcode#manage-session

About your proposed setting schema, I'm not sure if this is a common requirement from others. So I tend to leave it open for a while to see if there is any feedback from other users.

Thank you.

[2019-06-10 09:04] jdneo commented on #342
My solution is to add

[code]
into the stylesheet. Works fine so far.

Does anyone know if there is any problem which has code snippets in its description?

[2019-06-12 02:24] #332 closed

[2019-06-13 01:05] pizzacrystal opened #344 ""Invalid input to fetch the preview data""
## 🐛 Bug Report

after choosing a tag for certain problem, this message pops up every time.

## To Reproduce

sign in, click search, select a problem, set tag, there it is.

## Expected behavior

once upon a time, description of problem can be downloaded automatically and correctly, but not now.

## Extension Output

Paste here the LeetCode extension log from output channel.

Guidance: Press `Ctrl

[2019-06-13 13:24] WRN1111 opened #346 "The question about the icon next to the question does not display properly"
Looks like a problem with the file path,Icon file is stored in C drive,so if there are special characters in the path(my path is c/user/wang's),this problem occurs.But when i change my path(c/user/wang),
no problem.

[2019-06-13 13:25] WRN1111 commented on #346
I have reflected this question to you a few months ago.

[2019-06-14 01:42] jdneo commented on #346
Do you mean the icon in the file explorer? Would you mind to share some screenshots for it?

[2019-06-14 03:28] #344 closed

[2019-06-14 03:28] jdneo commented on #344
Fixed in #345, I'll release this fix in `0.15.1`. The due date should before the end of next week.

[2019-06-15 06:37] belovedred1892 opened #347 "Failed to list problem since today, error message from Leetcode CLI"
/Users/my_name/.vscode/extensions/shengchen.vscode-leetcode-0.15.0/node_modules/yargs/yargs.js:1148
      else throw err
           ^

TypeError: Cannot read property 'toFixed' of null
    at /Users/my_name/.vscode/extensions/shengchen.vscode-leetcode-0.15.0/node_modules/vsc-leetcode-cli/lib/commands/list.js:76:27
    at /Users/my_name/.vscode/extensions/shengchen.vscode-leetcode-0.15.0/node_modul

[2019-06-17 01:55] jdneo commented on #347
Hi @belovedred1892,

Please provide more information about your issue to help me repro it, including:
- Which operation are you taking when you meet the problem?
- What's the problem number?
- Which Endpoint are you using?

[2019-06-17 03:34] blackdogTT opened #348 "插件启动时报错"
https://user-images.githubusercontent.com/23448498/59576837-ac14ae80-90f3-11e9-9bc7-15ac1b34b61f.png

[2019-06-17 04:33] jdneo commented on #348
Could you please try to remove the cached data and try it again? The cached data is located at `$HOME/.lc/`.

[2019-06-17 12:18] jdneo commented on #176
This is fixed in https://github.com/leetcode-tools/leetcode-cli/pull/16

Please note that so far the problem tags are manually maintained, so when LeetCode publishes new problem, the tag might now get updated in time. I'll keep an eye on it. Meanwhile, thinking about how to get it automatically in the CLI.

[2019-06-17 12:18] #176 closed

[2019-06-17 12:18] jdneo commented on #107
This is fixed in https://github.com/leetcode-tools/leetcode-cli/pull/16

Please note that so far the problem tags are manually maintained, so when LeetCode publishes new problem, the tag might now get updated in time. I'll keep an eye on it. Meanwhile, thinking about how to get it automatically in the CLI.

[2019-06-17 12:18] #107 closed

[2019-06-19 07:49] hologerry commented on #315
I want this, just like the web leetcode.
<img width="1680" alt="Screen Shot 2019-06-19 at 15 46 01" src="https://user-images.githubusercontent.com/11660168/59746567-c2fd0180-92a9-11e9-8e99-ce6d3e00f04a.png">

[2019-06-20 06:55] Zhuoli opened #352 "[ERROR] Not supported language"
## 🐛 Bug Report
Start from this afternoon, I keeps getting this error from all of my PCs and Mac.
Error: Command "node "C:\Users\XXX\.vscode\extensions\shengchen.vscode-leetcode-0.15.1\node_modules\vsc-leetcode-cli\bin\leetcode",show,193,-c,-l,csharp" failed with exit code "0". Please open the output channel for details.

## To Reproduce

Click on "Code now".

## Expected behavior

Error pops up w

[2019-06-20 06:59] Vigilans commented on #352
The problem 193 is `[Valid Phone Number](https://leetcode.com/problems/valid-phone-numbers/)`, and it indeed only supports bash:
![image](https://user-images.githubusercontent.com/20227484/59827696-e8eada80-936b-11e9-9294-850a13d2d425.png)

What is the original problem you want to solve?

[2019-06-20 07:33] jdneo commented on #352
@Zhuoli If you want to solve this problem in `bash`, you can reset the setting `leetcode.defaultLanguage`.

[2019-06-20 09:08] littlebeandog commented on #352
1

[2019-06-20 10:28] cnyy7 commented on #348
同样的问题

通过删除`.vscode\extensions\shengchen.vscode-leetcode-0.15.1`并重装插件解决了

--------

Same question

Solved by removing `.vscode\extensions\shengchen.vscode-leetcode-0.15.1` and reinstalling the plugin

[2019-06-20 22:03] Zhuoli commented on #352
Thanks for the explanation, later I realized that not all the problems support C# language; does that mean for problem 193 it only support Bash? And do you have plan to support C# for all the leetcode problems?